@charset "UTF-8";
html {
  font-size: 62.5%;
  height: 100%;
  /*font-family: 'Bungee', cursive; font-family: 'Bungee Hairline', cursive;font-family: 'Bungee Inline', cursive; font-family: 'Bungee Outline', cursive;font-family: 'Bungee Shade', cursive; 
  font-family: 'Montserrat Alternates', sans-serif; font-family: 'Paytone One', sans-serif; font-family: 'Raleway', sans-serif;*/
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  /* My version with the numbers cahnged, the original=> cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>👆</text></svg>") 16 0,auto; */
  /*The cursors: 👆 👈 🖖 ☝️🤞 ✌️*/
}

html body {
  background-color: #f8f7f1;
  color: #1b1e1a;
  font-size: 1.2rem;
}

html body ::selection {
  background-color: #fff705;
  color: #281d48;
}

html body .main .navigation {
  color: #d0d2d2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

html body .main .content_wrap {
  left: 0;
  overflow: auto;
  height: 100%;
  padding-bottom: 64px;
  padding-left: 20vw;
  padding-right: 20vw;
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  color: #1b1e1a;
  transition-duration: 0.3s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='54%'>🖖</text></svg>") 16 0, auto;
}

html body .main .content_wrap .content-name {
  color: #1b1e1a;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  word-spacing: 0.7px;
  margin-bottom: 2vh;
}

html body .main .content_wrap .content-name .coma {
  position: relative;
  height: 10px;
  left: -2px;
}

html body .main .content_wrap .content-name .my-name {
  color: #621bc5;
  text-decoration-color: #9989c9;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html body .main .content_wrap .content-name .my-name:hover {
  color: #8800ff;
  text-decoration-color: #5707a7;
}

html body .main .content_wrap .content-portfolio {
  font-size: 13px;
  text-align: left;
  line-height: 1.2;
}

html body .main .content_wrap .content-portfolio .link {
  color: #621bc5;
  text-decoration-color: #9989c9;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html body .main .content_wrap .content-portfolio .link:hover {
  color: #8800ff;
  text-decoration-color: #5707a7;
}

html body .main .content_wrap .content-portfolio .link:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

html body .main .content_wrap .content-portfolio .link-number {
  color: #621bc5;
  position: relative;
  left: -3px;
  top: -7px;
  margin-left: 0px;
  font-size: 0.5rem;
  line-height: 22px;
}

html body .main .link--kateg {
  display: none;
}
