///////////////// font variables ///////////////
$background-color: hsl(50, 33%, 96%);
$background-selected-color: hsl(58, 100%, 51%);

$font-color: hsl(105, 7%, 11%);
$font-linked-color: hsl(265, 76%, 44%);
$font-linked-hover-color: hsl(272, 100%, 50%);
$font-low-contrast-color: hsl(200, 3%, 82%);

html {
  font-size: 62.5%; //Now 10px is equal 1rem

  height: 100%;
  /*font-family: 'Bungee', cursive; font-family: 'Bungee Hairline', cursive;font-family: 'Bungee Inline', cursive; font-family: 'Bungee Outline', cursive;font-family: 'Bungee Shade', cursive; 
  font-family: 'Montserrat Alternates', sans-serif; font-family: 'Paytone One', sans-serif; font-family: 'Raleway', sans-serif;*/
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>")
      16 0,
    auto;
  /* My version with the numbers cahnged, the original=> cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>👆</text></svg>") 16 0,auto; */
  /*The cursors: 👆 👈 🖖 ☝️🤞 ✌️*/

  body {
    background-color: $background-color;
    color: $font-color;
    font-size: 1.2rem; // if font-size is 62.5%(set in html then 3.5rem is exactly 35px

    // When text is selected it will be yellow
    ::selection {
      background-color: $background-selected-color;
      color: #281d48;
    }

    .main {
      .navigation {
        //settings and the far left
        color: $font-low-contrast-color;
        font-family: "Raleway", "Arial Black", sans-serif;
        font-weight: 400;
      }
      .content_wrap {
        //all the middle right main content
        left: 0;
        overflow: auto;
        height: 100%;
        padding-bottom: 64px;
        padding-left: 20vw;
        padding-right: 20vw; //new

        font-family: "Paytone One", "Bahnschrift", sans-serif; //font-family: "Bungee", cursive;
        font-weight: 500;
        color: $font-color;

        transition-duration: 0.3s;

        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='54%'>🖖</text></svg>")
            16 0,
          auto;

        ///////// Hi, I am Héctor /////////
        .content-name {
          color: $font-color;
          font-weight: 700;

          text-align: left;
          font-size: 16px;
          word-spacing: 0.7px;
          margin-bottom: 2vh;
          .coma {
            position: relative;
            //width: 100%;
            height: 10px;
            left: -2px;
            //bottom: 0px;
          }

          .my-name {
            color: $font-linked-color;
            text-decoration-color: rgb(153, 137, 201);

            //text-decoration: none;
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>")
                16 0,
              auto;
            &:hover {
              color: $font-linked-hover-color;
              text-decoration-color: rgb(87, 7, 167);
              //text-decoration: underline;
            }
          }
        }
        .content-portfolio {
          font-size: 13px;
          text-align: left;
          line-height: 1.2;
          .link {
            color: $font-linked-color;
            //text-decoration: none; text-decoration: underline;
            text-decoration-color: rgb(153, 137, 201);
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>")
                16 0,
              auto;

            &:hover {
              color: $font-linked-hover-color;
              text-decoration-color: rgb(87, 7, 167);
            }
            &:active {
              cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>")
                  16 0,
                auto;
            }
          }
          .link-number {
            // mini linked number
            color: $font-linked-color;
            position: relative;
            left: -3px;
            top: -7px;
            margin-left: 0px;
            font-size: 0.5rem;
            line-height: 22px;
          }
        }
      }
      .link--kateg {
        display: none;
      }
    }
  }
}
