@charset "UTF-8";
html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
  /* font-family: 'Bungee', cursive; font-family: 'Bungee Hairline', cursive;font-family: 'Bungee Inline', cursive; font-family: 'Bungee Outline', cursive;font-family: 'Bungee Shade',
  cursive; font-family: 'Paytone One', sans-serif;  font-family: 'Jockey One', sans-serif; font-family: 'Lilita One', cursive; font-family: 'Montserrat', sans-serif; font-family: 'Paytone One', sans-serif; font-family: 'Peralta', cursive; font-family: 'Ultra', serif;
  font-family: 'Shippori Antique B1', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  font-family: 'Ultra', serif;*/
}

*,
*::before *::after {
  box-sizing: inherit;
  font-variation-settings: "MONO" var(--MONO), "CASL" var(--CASL), "slnt" var(--slnt), "CRSV" var(--CRSV);
}

body {
  margin: 0px;
  border: 0px;
  height: 100%;
  background-color: #fcfaf8;
  color: #1b1e1a;
  font-family: "Recursive", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-weight: 720;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  /* My version with the numbers cahnged, the original=> cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>👆</text></svg>") 16 0,auto; */
  /*The cursors: 👆 👈 🖖 ☝️🤞 ✌️*/
}

body ::selection {
  background-color: #fff705;
  color: #1b1e1a;
}

body .main .navigation {
  background-color: #e8e8e8;
  font-weight: 650;
  font-size: 2rem;
  height: 64px;
}

body .main .navigation ul {
  margin: 0px;
  padding: 12px;
  width: auto;
  height: auto;
  text-align: left;
}

body .main .navigation ul li a {
  text-decoration: none;
  color: #621bc5;
}

body .main .navigation ul li a:hover {
  fill: #fff705;
  color: #8c12f8;
}

body .main .navigation ul li a .logo-svg {
  display: inline-block;
  width: 36px;
  fill: #621bc5;
}

body .main .content_wrap {
  left: 0;
  overflow: auto;
  height: 100%;
  padding-bottom: 64px;
  padding-left: 16vw;
  padding-right: 14vw;
  transition-duration: 0.3s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='54%'>🖖</text></svg>") 16 0, auto;
}

body .main .content_wrap .content-name {
  margin-bottom: 6vh;
  padding-top: 23vh;
  font-family: "Recursive", "Arial Black", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-weight: 900;
  text-align: left;
  font-size: 3.5rem;
  word-spacing: 0.7px;
}

body .main .content_wrap .content-name .coma {
  position: relative;
  margin-left: -4px;
}

body .main .content_wrap .content-name .complete-name {
  color: #621bc5;
  text-decoration-color: #9888c8;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body .main .content_wrap .content-name .complete-name .first-name {
  position: relative;
}

body .main .content_wrap .content-name .complete-name .first-name:hover {
  color: #8c12f8;
  text-decoration: none;
}

body .main .content_wrap .content-name .complete-name .first-name:hover::after {
  content: "About me ⤴️";
  font-size: 1.6rem;
  color: #9888c8;
  font-family: "Recursive", "Arial Black", sans-serif, color-emoji, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
  position: absolute;
  text-align: center;
  bottom: 2px;
  width: 100%;
  height: 0;
  left: 0;
}

body .main .content_wrap .content-name .complete-name .family-name {
  position: relative;
}

body .main .content_wrap .content-name .complete-name .family-name:hover {
  color: #8c12f8;
  text-decoration: none;
}

body .main .content_wrap .content-name .complete-name .family-name:hover::after {
  content: "Contact ⤴️";
  font-size: 1.6rem;
  color: #9888c8;
  font-family: "Recursive", "Arial Black", sans-serif, color-emoji, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
  position: absolute;
  text-align: center;
  bottom: 2px;
  width: 100%;
  height: 0;
  left: 0;
}

body .main .content_wrap .content-portfolio {
  font-size: 2.7rem;
  font-weight: 720;
  text-align: left;
}

body .main .content_wrap .content-portfolio .link {
  position: relative;
  color: #621bc5;
  font-weight: 760;
  text-decoration-color: #9888c8;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body .main .content_wrap .content-portfolio .link:hover {
  color: #8c12f8;
  text-decoration: none;
}

body .main .content_wrap .content-portfolio .link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 1.1px;
  /*Change this to increase/decrease distance*/
  border-bottom: 2.3px solid #8c12f8;
}

body .main .content_wrap .content-portfolio .link:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

body .main .content_wrap .content-portfolio .link-number {
  color: #621bc5;
  position: relative;
  left: -3px;
  top: -7px;
  margin-left: 0px;
  font-size: 0.8rem;
}

body .main .link--kateg {
  display: none;
}

body footer {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

body footer .footer {
  position: relative;
  margin: 0 auto;
  display: flex;
}

body footer .footer .line {
  padding: 22px;
}

body footer .footer .line span {
  font-size: 3.5rem;
  color: whitesmoke;
  background-color: #1ed760;
}

@media (min-width: 320px) {
  body .main .content_wrap {
    padding-bottom: 64px;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  body .main .content_wrap .content-name {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 2vh;
    text-align: left;
    font-size: 4rem;
  }
  body .main .content_wrap .content-name .complete-name .family-name {
    position: relative;
  }
}

@media (min-width: 576.02px) {
  body .main content_wrap {
    padding-left: 11vw;
    padding-right: 11vw;
  }
  body .main content_wrap .content-name {
    margin-bottom: 6vh;
    padding-top: 5vh;
    font-family: "Recursive", "Arial Black", sans-serif;
    font-weight: 900;
    word-spacing: 0.7px;
  }
}

@media (min-width: 768.02px) {
  body .main .content_wrap {
    padding-left: 17vw;
    padding-right: 17vw;
  }
  body .main .content_wrap .content-name {
    padding-top: 23vh;
    text-align: center;
    padding-right: 13vh;
  }
  body .main .content_wrap .content-name .complete-name .first-name {
    position: relative;
  }
  body .main .content_wrap .content-name .complete-name .first-name:active {
    color: #8c12f8;
  }
  body .main .content_wrap .content-name .complete-name .family-name {
    position: relative;
  }
  body .main .content_wrap .content-name .complete-name .family-name:active {
    color: #fff705;
  }
}

@media (min-width: 1200.02px) {
  body .main .content_wrap {
    padding-left: 25vw;
    padding-right: 23vw;
  }
}
