@import '../../../../../../scss/variables';
@import '../../../../../../scss/globals';

body {
  // height: 100%;
  ///////////////////////////////////////////
  font-family: 'Space Grotesk', sans-serif;
  ///////////////////////////////////////////
  width: 100vw;
  $design-bg-color: white;
  $design-plastic-color: rgb(51, 148, 103);
  $design-color-green: rgb(51, 148, 103);
  $design-color-yellow: rgb(245, 221, 59);
  $design-color-red: rgb(215, 61, 69);
  $design-text-color: hsl(0, 0%, 21%);
  $design-white-color: rgb(244, 242, 235);
  background-color: $design-bg-color;
  font-weight: 300;
  // font-size: 2rem;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $design-plastic-color;
    #emoji-loader {
      animation: jump 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      padding-top: 12rem;
      color: $design-text-color;
      font-size: 1.8rem;
    }
  }
  .absolute-nav {
    position: fixed;
    top: 0rem;
    z-index: 19;
    display: flex;
    align-items: center;

    .left-arrow {
      .link-a {
        color: $design-text-color;
        &:hover {
          color: $design-text-color;
        }
      }
    }
    ////// HAMBURGER /////
    .menu-btn__burger {
      &::after,
      &::before {
        background-color: $design-text-color;
      }
    }
  }

  header {
  }

  main {
    background: $design-bg-color;
    // height: 600vh;
    position: relative;
    display: grid;
    font-weight: 400;
    .main-header {
      width: 100%;
      line-height: 8rem;
      height: 8rem;
      text-align: center;
      box-shadow: 0px 0.3rem 0.3rem #463a2f;
      h1 {
        color: rgb(62, 62, 62);
        background-color: rgb(245, 243, 230);
        font-weight: 700;
        font-size: 3.3rem;
      }
    }

    #trampolin-wrapper {
    }
    .footer {
      z-index: 1;
      position: relative;
      // height: 50vh;
      // bottom: 0px;
      width: 100%;
      background: rgb(154, 138, 112);

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        color: $design-white-color;
        .footer-part {
          a {
            color: $design-white-color;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: $design-white-color;
            }
          }
        }
        .footer-l {
          grid-column: 1;
          h2 {
            text-transform: uppercase;
          }
        }
        .footer-r {
          grid-column: 2;
          justify-self: end;
          text-align: right;
        }
      }
    }
  }
}
