@import '../../../../../../scss/globals';
@import '../../../../../../scss/variables';

body {
  ///////////////////////////////////////////
  $blog-text-color: rgb(33, 35, 44);
  $blog-color-box: rgb(255, 255, 255);
  $blog-color-bg: rgb(239, 241, 245);
  $blog-color-lila: rgb(206, 217, 245);
  $blog-color-purple: rgb(118, 134, 255);
  ///////////////////////////////////////////
  // font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: $blog-color-bg;
  font-weight: 300;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $blog-color-bg;
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $blog-text-color;
      font-size: 1.8rem;
    }
  }

  header {
    margin-top: 9rem;
    margin-bottom: 13rem;
    .absolute-nav {
      text-align: center;
      .left-arrow {
        top: 0.9rem;
        @media (max-width: 768px) {
          top: 1rem;
        }
        .link-a {
          font-family: 'Mochiy Pop P One', sans-serif;
          color: $blog-text-color;
          opacity: 0.5;
          font-size: 3rem;
          padding: 2rem;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      h1 {
        span {
          opacity: 0.31;
          font-size: 2.7rem;
          @media (max-width: 900px) {
            display: none;
          }
        }
        color: $blog-text-color;
        opacity: 0.4;
        background-color: $blog-color-bg;
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 3.7rem;
      }
    }
    @media (max-width: 700px) {
      z-index: -1;
      margin-top: 0rem;
      margin-bottom: 0rem;
      .absolute-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          transform: rotate(90deg);
          align-self: center;
          hyphens: auto;
          // word-wrap: break-word;
          opacity: 0.2;
          max-width: 21rem;
          margin-right: 0px;
          font-size: 4.7rem;
        }
      }
    }
  }
  main {
    background: $blog-color-bg;
    position: relative;
    display: grid;
    font-weight: 400;

    .blog-wrapper {
      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(250px, 900px) minmax(
          7%,
          1fr
        );
      .ps-wrapper {
        grid-column: 2;
        padding: 7rem;
        padding-top: 4.1rem;
        margin-bottom: 7rem;

        border-radius: 3rem;
        background-color: $blog-color-box;
        color: $blog-text-color;
        .p-header {
          font-size: 2.7rem;
          text-transform: uppercase;
          font-weight: 700;
        }
        h2 {
          margin-top: 6.1rem;
          margin-bottom: 2rem;
          font-size: 7rem;
        }

        //////// PARAGRAPHS ///////////
        .paragraph {
          font-size: 1.9rem;
          margin-bottom: 30px;
          line-height: 1.5;
          font-weight: 400;
          .light-text {
            font-weight: 200;
          }
          a {
            color: $blog-text-color;
            transition: 0.23s;
            &:hover {
              color: $blue-purple-tech;
            }
          }
          i {
            opacity: 0.87;
            font-size: 1.03em;
            font-family: $ff-recursive-bold;
            font-variation-settings: 'MONO' 0, 'CASL' 1, 'wght' 650, 'slnt' 0;
          }
          code {
            font-size: 0.93em;
            font-family: $ff-recursive-bold;
            font-variation-settings: 'MONO' 0, 'CASL' 0.1, 'wght' 400, 'slnt' 0;
            background-color: $blog-color-bg;
            padding: 2px 7px;
            border-radius: 5px;
            margin: 0px 3px;
          }
          strong {
            font-size: 1.04em;
            font-family: $ff-recursive-bold;
            font-variation-settings: 'MONO' 0.3, 'CASL' 0.3, 'wght' 700,
              'slnt' 0;
          }
          b {
          }
          .nowrap {
            white-space: nowrap;
          }
        }

        //////// MARGIN STYLES ///////////
        .no-margin-top {
          margin-top: 0rem;
        }
        .no-margin-btm {
          margin-bottom: 0rem;
        }
        .margin-top {
          margin-top: 2rem;
        }

        //////// IMAGES ///////////
        picture {
          position: relative;
          border-radius: 10px;
          margin-bottom: 6.1rem;
          img {
            margin: 0px auto;
            width: 70%;
          }
          &::after {
            position: absolute;
            bottom: -2.9rem;
            width: 100%;

            font-size: 0.76em;
            background-color: $blog-color-box;
            text-align: center;
            opacity: 0.6;
            line-height: 1.2;
          }
          &.round-edges {
            img {
              border-radius: 1rem;
            }
          }
          &#real-gundam {
            &::after {
              content: 'A real Gundam, used to mount a complete Gundam figure.';
            }
          }
          &#penny-web {
            &::after {
              content: 'A screenshot from penny website.';
            }
          }
        }
      }
      @media (max-width: 800px) {
        grid-template-columns: 0px 1fr 0px;
        width: 100%;
        .ps-wrapper {
          grid-column: 2;
          padding: 8%;
          padding-top: 4.1rem;
          margin-bottom: 7rem;
          border-radius: 3rem;

          .p-header {
            font-size: 2.7rem;
            text-transform: uppercase;
            font-weight: 700;
          }
          h2 {
            margin-top: 6.1rem;
            margin-bottom: 2rem;
            font-size: 5rem;
          }
          .no-margin-top {
            margin-top: 0rem;
          }
          .no-margin-btm {
            margin-bottom: 0rem;
          }
          .paragraph {
            font-size: 1.6rem;
            margin-bottom: 30px;
            line-height: 1.4;
          }
        }
      }
      .hidden {
        display: none;
      }
    }
    .btn-wrapper {
      grid-column: 2;
      display: flex;
      justify-content: space-around;
      padding-left: 9%;
      padding-right: 9%;
      .btns {
        text-align: center;
        font-size: 1.7rem;

        border-radius: 2rem;
        transition: 0.15s;
        background: $blue-purple-tech;
        opacity: 0.7;

        &:hover {
          opacity: 1;
          // background: $blog-text-color;
        }
        a {
          text-decoration: none;
          color: white;
          height: 6rem;
          line-height: 6rem;
          min-width: 18%;
          padding: 2rem;
          padding-right: 4rem;
          padding-left: 4rem;
        }

        &.prev {
          a {
            &::after {
              content: '< prev';
            }
            cursor: $cursor-arrow-hand;
          }
        }
        &.back-design {
          a {
            &::after {
              content: '¿return?';
            }
            cursor: $cursor-pointer-hand-flip;
          }
        }
        &.next {
          a {
            &::after {
              content: 'next >';
            }
            cursor: $cursor-right-hand;
          }
        }
        @media (max-width: 700px) {
          text-align: center;
          font-size: 2rem;

          border-radius: 2rem;
          a {
            // justify-self: center;
            font-family: 'Mochiy Pop P One', sans-serif;
            text-decoration: none;
            color: white;
            height: 6rem;
            line-height: 6rem;
            // min-width: 3%;
            padding: 2rem;
            padding-right: 3rem;
            padding-left: 3rem;
          }
          &.prev {
            a::after {
              content: '<';
            }
          }
          &.back-design {
            a::after {
              content: 'back';
            }
          }
          &.next {
            a::after {
              content: '>';
            }
          }
        }
      }
    }
    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.5;
      }
    }
    .footer {
      z-index: 1;
      margin-top: 11rem;
      border-radius: 2rem 2rem 0rem 0rem;
      bottom: 0px;
      height: 33rem;
      width: 100%;
      background: $blog-color-lila;
      display: grid;

      grid-template-columns: minmax(7%, 1fr) minmax(250px, 900px) minmax(
          7%,
          1fr
        );
      #footer-wrapper {
        grid-column: 2;
        height: 100%;
        width: 100%;
        padding: 2rem;
        color: $blog-text-color;
        display: grid;
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: inherit;
            }
          }
        }

        .footer-part {
          .sub-wrapper {
          }
        }
        // LEFT SIDE
        .footer-l {
          grid-column: 1;
          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            div {
              padding-left: 1rem;
              font-weight: 500;
              .links {
                padding: 1.2rem;
                margin-bottom: 0.7rem;
              }
              .footer-header {
                font-size: 3rem;
                font-family: 'Mochiy Pop P One', sans-serif;
                opacity: 0.27;
                span {
                  font-size: 0.7em;
                }
              }
              .out-of-order {
                text-decoration: none;
                opacity: 0.4;
                &::after {
                  content: 'Home Page';
                  text-decoration: line-through;
                }
                &:hover {
                  &::after {
                    content: 'Working On';
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
        }

        // MID PART
        .footer-m {
          grid-column: 2;
          .sub-wrapper {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            // justify-self: center;
            justify-content: center;
            text-align: center;
            div {
              padding: 1.6rem;
              font-weight: 500;
              .m-links {
                padding: 1rem;
                color: $blog-color-box;
              }
              .arrow {
                font-size: 2.5rem;
                font-family: 'Mochiy Pop P One', sans-serif;
                opacity: 0.6;
                &:hover {
                  text-decoration: none;
                  opacity: 0.8;
                  transform: scaleY(-0.7rem);
                }
              }
            }
          }
        }

        // RIGHT PART
        .footer-r {
          grid-column: 3;
          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: right;
            div {
              padding-right: 1rem;
              font-weight: 500;
              .r-links {
                padding: 1.2rem;
                margin-bottom: 0.7rem;
              }
              .footer-header {
                font-size: 3rem;
                font-family: 'Mochiy Pop P One', sans-serif;
                opacity: 0.27;
                span {
                  font-size: 0.7em;
                }
              }
              .out-of-order {
                text-decoration: none;
                opacity: 0.4;
                &::after {
                  content: 'Home Page';
                  text-decoration: line-through;
                }
                &:hover {
                  &::after {
                    content: 'Working On';
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
