@import "variables";
@import "mixins";

/* X top-right button */
.close-modal {
  /*write this in the html for show the X button <button class="close-modal">&times;</button> */
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* A rounded boxed button (like for sign up or submit */
.show-modal {
  /*html code <button class="show-modal">Show modal 1</button> */
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
