@import 'variables';
@import 'mixins';

html {
  font-size: 62.5%; //Now 10px is equal 1rem
  box-sizing: border-box;
  cursor: $cursor-pointer-hand;
  min-height: 100vh;
}
* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: inherit;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-size: 1.8rem;
  color: $font-black;
  font-family: $ff-recursive;
  font-variation-settings: $MONO, $CASL, 'wght' $font-weight-normal,
    'slnt' $slnt;
  // Typographic tweaks!Add accessible line-height Improve text rendering
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //line-height: 1.5; //https://www.joshwcomeau.com/css/custom-css-reset/

  ::selection {
    // When text is selected it will be yellow
    background-color: $background-selected-color;
    color: black;
  }
  h1 {
    font-size: $font-size-huge;
  }

  // BACK ARROW
  .left-arrow {
    padding-top: 1rem;
    z-index: 10;
    margin: 0px;
    padding: 0rem;
    border: 0px;
    height: 5rem;
    position: absolute;
    top: 2rem;
    @media (max-width: 768px) {
      top: 1rem;
    }
    left: 2rem;
    .link-a {
      color: $font-sutil-gray-color;
      font-variation-settings: 'MONO' 0, 'CASL' 0.3, 'wght' $font-weight-light;
      @media (max-width: 768px) {
        font-variation-settings: 'CASL' 1, 'wght' $font-weight-light;
      }
      text-decoration: none;

      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 3.1rem;
      transition: $trans-slow;
      &:hover {
        font-variation-settings: 'CASL' 0.9, 'wght' $font-weight-light;
        color: $font-sutil-gray-color;
        cursor: $cursor-arrow-hand;
      }
      #left-arrow {
        // margin: 2rem;
        transition: 1s;
        cursor: $cursor-arrow-hand;
        transition: 0.2s;
      }
    }
    .logo-frame {
      @media (max-width: 768px) {
        display: none;
      }
      transition: $trans-normal ease-out;
      position: relative;
      left: 4.5rem;
      top: -3.4rem;
      pointer-events: none;
      .logo-svg {
        width: 29px; //adjust logo size
        .hc-logo {
          transition: $trans-normal ease-out;
          fill: transparent; //$font-sutil-gray-color;
        }
      }
    }
    &:hover {
      .logo-frame {
        left: 5.5rem;
        .hc-logo {
          fill: $blue-purple-tech;
        }
      }
    }
  }

  // HAMBURGUER
  .menu-btn {
    @media (min-width: 768px) {
      display: none;
    }
    z-index: 39;
    position: fixed;
    top: 0.5rem;
    width: 100%;
    height: 10rem;
    right: 0px;
    margin-right: 3rem;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    // border: 2px solid blue;
    .menu-btn__burger {
      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 2.6rem;
        height: 0.35rem;
        border-radius: 4px;
        background-color: $font-black;
        transition: all 0.4s ease-in-out;
      }
      &::after {
        transform: translateY(-0.7rem);
      }
      &::before {
        transform: translateY(0.7rem);
      }
    }
  }
  //// ANIMATION HAMBU
  .menu-btn.open {
    .menu-btn__burger::before {
      transform: rotate(45deg);
    }
    .menu-btn__burger::after {
      transform: rotate(-45deg);
    }
  }
  // REMOVE LIST STYLE
  ul {
    list-style: none;
  }

  // LINK STYLE + EMOJI POINTER
  a {
    color: $font-linked-color;
    cursor: $cursor-please-fingers;
    &:active {
      cursor: $cursor-yeah-hand;
    }
  }

  // TO THE TOP TRAMPOLINE
  // <a id="trampolineEmoji" title="Go to the top" href="#top">🚀</a>   <!-- ✈️  🧹-->
  #trampolin-wrapper {
    position: fixed;
    height: 90%;
    // width: 8rem;
    right: 0px;
    bottom: 0px; // in desktop is 0px
    display: flex;
    align-items: flex-end; //start
    justify-content: right;
    overflow: hidden;
    #trampolineEmoji {
      position: fixed; /* Fixed/sticky position */
      // height: 5rem;
      overflow: hidden;
      bottom: 2.3rem; /* Place the button at the bottom of the page */
      right: 1rem;
      @media (max-width: 768px) {
        bottom: 1rem;
        right: 0.6rem;
      }
      // right: 4rem; /* Place the button 30px from the */
      z-index: 18; /* Make sure it does not overlap */
      text-align: center;
      text-decoration: none;
      padding: 2rem; /* Some padding */
      font-size: 3.3rem;
      @media (max-width: 768px) {
        font-size: 2.3rem;
      }
      transition: $trans-fast;
      opacity: 0.33;
      cursor: $cursor-pointer-hand-flip;
      &:hover {
        opacity: 1;
        cursor: $cursor-pointer-hand-flip;
        transform: translateY(-0.2rem);
      }
      &:active {
        transform: translateY(0.2rem);
      }
    }
  }
}
//////////// PRE LOADER //////////////////////
//// ALERT! don't put it inside the body/////
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgb(208, 213, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: $trans-slow ease-out;
  // display: none; /// hid
  #emoji-loader,
  #text-loader {
    height: 100px;
    position: absolute;
    text-align: center;
    margin: 0px auto;
  }

  #emoji-loader {
    // emoji rotate when loading
    font-size: 6rem;
    animation: spin 2.6s infinite ease; //ease is funnier//linear
    // height and width to center the emoji for a absolute center rotation anchor
    height: 7rem;
    width: 7rem;
  }

  #text-loader {
    font-weight: 500;
    padding-top: 10rem;
    font-family: Monaco, Consolas, 'Courier New', monospace;
    // font-variation-settings: $MONO, $CASL, "wght" $font-weight-normal;
    animation: variableOpacity 2s infinite linear;
    color: $sutil-dark-purple-gray-color;
    font-size: $font-size-small;
  }
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
  #emoji-loader {
    // stop emoji rotate
    animation: none;
  }
  #text-loader {
    animation: none;
  }
}

.hidden {
  display: none;
}
.anim-hidden {
  animation: animHidden 0.5s ease-out forwards;
  @keyframes animHidden {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  opacity: 0;
}
.show {
  display: block;
}
// .visuallyHidden {
//   opacity: 0;
// }
.anim-show {
  // opacity: 1;
  animation: showHidden 0.4s ease-out forwards;
  @keyframes showHidden {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      display: block;
    }
  }
  display: block;
  opacity: 1;
}

// .overlay-background {
//   position: absolute;
//   top: 0rem;
//   left: 0rem;
//   width: 100%;
//   height: 100%;
//   z-index: 9;
// }
