// @import 'mixins';
@import 'globals';
@import 'variables';
@import 'font-anim-keyframes';

body {
  height: 100%;
  color: $font-black;
}
.special-char {
  font-family: $ff-special-char;
  line-height: inherit;
}

.main {
  height: 100%;

  display: grid;
  place-items: center;
  grid-template-columns: minmax(2rem, 1fr) minmax(200px, 690px) minmax(
      2rem,
      1fr
    );
  // gap: 2rem;

  //logo home filter contact about me
  .navigation {
    grid-column: 2;

    // height: 4rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 2vh;
    // transition: all $trans-slow; // INitial fx when enter the page
    &:hover {
      .logo-frame.logo-svg.hc-logo {
        fill: $sutil-dark-purple-gray-color;
      }
    }
    .logo-frame {
      margin-right: auto;
      .logo-svg {
        height: 2.5rem; // svg size
        cursor: $cursor-pointer-down-hand;
        .hc-logo {
          transition: $trans-slow;
          fill: transparent;
        }
        &:hover {
          .hc-logo {
            fill: $sutil-dark-purple-gray-color;
          }
        }
      }
    }

    ul {
      list-style-type: none;
      right: 3vw;
      li {
        display: inline-block;
        font-size: $font-size-big;
        font-variation-settings: $MONO, 'CASL' 0.1, 'wght' $font-weight-normal,
          $slnt;
        a {
          padding: 0.5rem;
          // color: $font-sutil-gray-color;
          color: $lighter-gray;
          text-decoration: none;
          cursor: $cursor-arrow-hand;

          transition: $trans-slow;
          &:hover {
            color: $sutil-dark-purple-gray-color;
          }
        }
        //about me
        .nowPage {
          cursor: $cursor-about-me;
        }
        //contact
        .filter {
          cursor: $cursor-contact-mail;
        }
      }
    }
  }

  .content_wrap {
    grid-column: 2;
    margin-top: 7vh;
    margin-bottom: 9vh;
    @media (max-width: 478px) {
      margin-bottom: 3rem;
    }
    ///////// Hi, I am Héctor /////////
    .content-name {
      margin-bottom: 7vh;
      font-family: $ff-recursive-bold;
      font-size: $font-size-huge;
      font-variation-settings: 'MONO' 0.2, 'CASL' 0, 'wght' $font-weight-heavy,
        $slnt;
      // color: rgb(112, 112, 112);
      color: $font-light-gray;
      display: grid;
      grid-template-columns: 1;

      // HEY
      .change-hey {
        grid-row: 1;
        line-height: 1.1;
        font-family: 'Recursive', $ff-m-zh;
        font-weight: 600;
        font-size: 1.31em;
        color: $font-sutil-gray-color;
        color: $lighter-gray;
      }

      .i-am {
        grid-row: 2;
        margin-top: 1vh;
        .complete-name {
          grid-row: 2;
          // grid-column: 1;
          color: rgb(116, 116, 116);
          cursor: $cursor-please-fingers;
          text-decoration: none;
          .first-name,
          .family-name {
            position: relative;
            text-decoration: underline;
            // text-decoration-color: $font-sutil-gray-color;
            text-decoration-color: $lighter-gray;

            transition: $trans-slow ease;
            will-change: font-variation-settings;
            &::after {
              font-size: $font-size-small;
              color: $transparent;

              position: absolute;
              text-align: center;
              bottom: -0.2rem;
              width: 100%;
              height: 0;
              left: 0;

              transition: $trans-slow;
              transition-delay: $delay-fast;
            }
            &:hover {
              text-decoration-color: $spotify-text-green;
              color: $font-linked-color;
              &::after {
                color: $underline-color;
                transform: translateY(-0.3rem);
              }
            }
          }
          .first-name {
            &::after {
              content: 'about me ⤴️';
            }
            &:hover {
              // cursor: $cursor-say-hi;
              font-variation-settings: $MONO, 'CASL' 1,
                'wght' $font-weight-bolder, $slnt;
            }
          }
          .family-name {
            &::after {
              content: 'contact ⤴️';
            }
            &:hover {
              // cursor: $cursor-contact-mail;
              font-variation-settings: $MONO, 'CASL' 0.1,
                'wght' $font-weight-bolder, $slnt;
            }
          }
        }
        &:hover {
          .complete-name {
            .first-name,
            .family-name {
              text-decoration-color: $spotify-text-green;
            }
          }
        }
      }
    }

    /////////// Works display~~~~[~~~]~~~[~~]~~~~~[~~~~]~~~ ////////////
    .content-portfolio {
      font-size: $font-size-big;
      @media (max-width: 768px) {
        // font-size: calc(0.7 * $font-size-big);
        font-size: calc(0.6vw + 13px);
      }

      text-align: left;
      letter-spacing: -0.32px;
      line-height: 1.5;
      color: $font-light-gray;
      font-variation-settings: 'MONO' 0.2, 'CASL' 0, 'wght' 600, $slnt;
      will-change: font-variation-settings;
      //link and link number WRAPPER
      .link-wrapper {
        // text-decoration: none;
        white-space: nowrap; //for no break the link to the next  line
        &.with-hidden-span {
          .hidden-span {
            display: none;
          }
          &:hover {
            .default-span {
              display: none;
            }
            .hidden-span {
              display: inline;
            }
          }
        }
      }
      .l-line {
        font-family: $ff-special-char;
        color: $lighter-gray;
        transition: 0.6s ease-out;
      }

      // a
      .link {
        position: relative;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0.1,
          'wght' $font-weight-normal, $slnt;
        color: $font-linked-color;

        text-decoration-color: $font-sutil-gray-color;
        text-decoration-color: transparent;

        cursor: $cursor-please-fingers;

        transition: 0.43s ease-out;

        // for coming projects
        &.coming {
          color: $font-light-gray;
          &::after {
            content: 'Video Projects';
          }
          &:hover {
            &::after {
              content: '[C🙃ming Soon]';
            }
          }
        }
        &.pixelLink {
          #pixel {
            display: none;
          }
          &:hover {
            #mosaic {
              display: none;
            }
            #pixel {
              display: inline;
              font-variation-settings: 'MONO' 0.735, 'CASL' 0.1, 'wght' 550;
            }
          }
        }
        &.angled-brackets {
          color: transparent;
          transition: 0.6s;
          transition-delay: $delay-fast;
          @media (max-width: 740px) {
            color: $font-linked-hover-color;
          }
        }
        &#playground:hover {
          .angled-brackets {
            color: $font-linked-color;
          }
        }
        &:hover {
          font-variation-settings: 'MONO' 0.2, 'CASL' 0.6,
            'wght' $font-weight-bolder, $slnt;
          // text-decoration-color: $font-linked-color;
        }
        &:active {
          cursor: $cursor-yeah-hand;
        }
      }

      // mini linked number
      .link-number {
        // color: $sutil-dark-purple-gray-color;
        color: $font-linked-color;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0,
          'wght' $font-weight-bolder;
        font-size: $font-size-linkNumber;
        text-decoration: none;

        position: relative;
        left: 0.2em;
        top: -1em;
      }

      &:hover {
        .l-line {
          color: $skillshare-green;
        }
        .link {
          color: $font-linked-color;

          // text-decoration-color: $sutil-dark-purple-gray-color;
          // text-decoration-color: $font-linked-color;
          text-decoration-color: $font-sutil-gray-color;
          // text-decoration-color: $lighter-gray;
          // text-decoration-color: $lighter-gray;
          text-decoration: underline;
          text-decoration-color: transparent;
          transition: 0.4s;
          &:hover {
            text-decoration-color: $font-sutil-gray-color;
            // text-decoration-color: $lighter-gray;
            // text-decoration-color: $font-linked-color;
            // text-decoration-color: $underline-color;
            // text-decoration-color: $spotify-text-green;
            text-decoration-color: transparent;
          }
        }
        .link-number {
          color: $font-linked-color;
        }
      }
    }
    #oneMore {
      text-decoration: none;
      position: relative;

      #dotsss {
        color: $font-linked-color;
      }
      #mailText {
        position: absolute;
        display: block;
        left: -2ch;
        color: transparent;
        transition: $trans-normal;
        transition-delay: $delay-fast;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0,
          'wght' $font-weight-normal;

        &:hover {
          text-decoration-color: $spotify-text-green;
          font-variation-settings: 'MONO' 0.2, 'CASL' 0,
            'wght' $font-weight-bold;
        }
      }
      @media (max-width: 740px) {
        #oneMoreText {
          color: transparent;
          //
          #dotsss {
            color: transparent;
          }
        }
        #mailText {
          color: $font-black;
          right: 7vw;
          display: none;
        }
      }
      &:hover {
        #mailText {
          color: $font-linked-color;
          text-decoration: underline;
          text-decoration-color: $font-linked-color;
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  // align-items: center;
  justify-content: center;
  position: relative;
  .footer {
    position: fixed;
    bottom: 0px;
    background-color: $spotify-text-green;
    margin: 0 auto;
    // padding-top: 1.3rem;
    padding-top: 1rem;
    margin-bottom: 1.3rem;
    max-width: 730px;
    border-radius: 19px;
    .closeBtn {
      position: absolute;
      color: rgb(193, 241, 176);
      font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' 400, $slnt;
      font-size: 2rem;
      top: 0rem;
      left: 0.5rem;
      padding: 1.2rem;
      transition: $trans-normal;
      &:hover {
        font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' 500, $slnt;
        color: white;
      }
    }
    .line {
      text-align: center;
      margin-right: 3rem;
      margin-left: 3rem;
      span {
        white-space: nowrap;
        font-size: 1.7rem;
        font-variation-settings: 'MONO' 0.8, 'CASL' 0, 'wght' $font-weight-light,
          $slnt;
        color: $background-color;
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 3rem;
      }
      //////////////////// FOOTER TEXT ANIMATIONS /////////////////
      .footerSpan {
        will-change: font-variation-settings;
        a {
          color: inherit;
          text-decoration: none;
          &.github {
            cursor: $cursor-startreck-hand;
          }
        }
        &.workingSpan {
          animation: widthness 2s ease 10;
          color: $skillshare-green;
          font-variation-settings: 'MONO' 0.4, 'CASL' 0.2,
            'wght' $font-weight-light;
        }
        &.dangerSpan {
          animation: slintness 2s ease 10s 17;
          color: $josh-blue-white;
          font-variation-settings: 'MONO' 0.2, 'CASL' 0.5,
            'wght' $font-weight-light, 'CRSV' 1;
        }
      }
    }
    #githublink {
      color: $skillshare-green;
      font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter, $slnt;
      font-size: calc(0.4vw + 7px);

      text-align: center;
      margin-bottom: 1.7rem;
      margin-top: 1rem;

      a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: $cursor-startreck-hand;
        font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter,
          'slnt' -3;
        color: inherit;
        transition: $trans-slow;
        &:hover {
          font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter,
            'slnt' -17, 'CRSV' 0;
          color: rgb(255, 255, 255);
        }
      }
    }
    @media (max-width: 670px) {
      position: relative;
      font-size: 1rem;
      bottom: 0px;
      margin-bottom: 0rem;
      width: 100%;
      border-radius: 1.3rem 1.3rem 0rem 0rem;
      padding-top: 2rem;
      .closeBtn {
        font-size: 1.7rem;
        top: 0px;
        // left: 0rem;
        padding: 1rem;
        &:hover {
          font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' 500, $slnt;
          color: white;
        }
      }
      .line {
        // padding-left: 1px;
        // padding-right: 1px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        // font-size: 0.9em;
        span {
          font-size: calc(0.6vw + 0.9rem);
          line-height: 1.8;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      #githublink {
        color: $skillshare-green;
        font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter, $slnt;
        font-size: calc(0.4vw + 7px);

        // text-align: center;
        margin-bottom: 0.8rem;
        margin-top: 1.2rem;
      }
    }
  }
  // @media (max-width: 478px) {
  //   // display: none;
  // }
}
