@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
}

* {
  margin: 0px;
  border: 0px;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

.dangerSpan {
  animation: slintness 2s ease infinite;
  font-variation-settings: "MONO" 0.2, "CASL" 0.5, "wght" 500, "CRSV" 1;
}

@keyframes slintness {
  0% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
  40% {
    font-variation-settings: "slnt" -15, "CRSV" 1;
  }
  100% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
}

html body {
  min-height: 100%;
  background-color: #fcfaf8;
  color: #232522;
}

html body .loader {
  display: none;
  bottom: 0;
  height: 44px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

html body .loader #emoji-loader {
  font-size: 44px;
  animation: spin 2.3s infinite linear;
}

html body .loader #text-loader {
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620;
}

html .main .navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  transition: 0.3s;
}

html .main .navigation .logo-svg {
  display: inline-block;
  width: 30px;
  padding: 2rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

html .main .navigation .logo-svg:hover .hc-logo {
  fill: #4d435b;
}

html .main .navigation .logo-svg .hc-logo {
  transition: 0.45s;
  fill: #b9cabf;
}

html .main .navigation ul {
  margin: 0px auto;
  padding-right: 12rem;
  list-style-type: none;
}

html .main .navigation ul li {
  font-size: calc(0.5vw + 0vw + 18px);
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 620, "slnt" 0;
}

html .main .navigation ul li a {
  padding: calc(0.4vh + 3px);
  transition: 0.45s;
  color: #b9cabf;
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

html .main .navigation ul li a:hover {
  color: #4d435b;
}

html .main .navigation ul li .nowPage {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👇</text></svg>") 16 0, auto;
}

html .main .navigation ul li .filter {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🔎</text></svg>") 16 0, auto;
}

html .main .content_wrap .content-name {
  padding-bottom: 7vh;
  font-family: "Recursive", "Arial Black", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-size: calc(0.5vw + 0.4vw + 30px);
  font-variation-settings: "MONO" 0, "CASL" 0.4, "wght" 800, "slnt" 0;
  text-align: left;
  color: #4d435b;
  word-spacing: 0.7px;
}

html .main .content_wrap .content-name .coma {
  position: relative;
  margin-left: calc( -3px * 1vw);
}

html .main .content_wrap .content-name .complete-name {
  color: #4d435b;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
  text-decoration: none;
}

html .main .content_wrap .content-name .complete-name .first-name {
  position: relative;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

html .main .content_wrap .content-name .complete-name .first-name::after {
  content: "about me ⤴️";
  font-size: calc(0.5vw - 0vw + 12px);
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -9px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

html .main .content_wrap .content-name .complete-name .first-name:hover {
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 740, "slnt" 0;
  text-decoration-color: #1dd75e;
  color: #621bc5;
}

html .main .content_wrap .content-name .complete-name .first-name:hover::after {
  color: #a48cee;
  bottom: -5px;
}

html .main .content_wrap .content-name .complete-name .family-name {
  position: relative;
  transition: 0.45s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

html .main .content_wrap .content-name .complete-name .family-name::after {
  content: "contact ⤴️";
  font-size: calc(0.5vw + 0.3vw + 13px);
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -9px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

html .main .content_wrap .content-name .complete-name .family-name:hover {
  color: #621bc5;
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 740, "slnt" 0;
  text-decoration-color: #1dd75e;
}

html .main .content_wrap .content-name .complete-name .family-name:hover::after {
  color: #a48cee;
  bottom: -5px;
}

html .main .content_wrap .content-portfolio {
  font-size: calc(0.5vw + 0vw + 18px);
  text-align: left;
  letter-spacing: -0.3px;
  line-height: 1.4;
  color: #5b5957;
  --main-weight: 600;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" var(--main-weight), "slnt" 0;
}

html .main .content_wrap .content-portfolio .link {
  position: relative;
  color: #621bc5;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 620, "slnt" 0;
  transition: 0.3s;
  text-decoration-color: #a48cee;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html .main .content_wrap .content-portfolio .link:hover {
  font-variation-settings: "MONO" 0.2, "CASL" 0.8, "wght" 740, "slnt" 0;
  text-decoration-color: #621bc5;
}

html .main .content_wrap .content-portfolio .link:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

html .main .content_wrap .content-portfolio .link-number {
  color: #621bc5;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 740;
  position: relative;
  left: -5px;
  top: -7px;
  margin-left: 0px;
  font-size: calc(0.4vw + 7px);
}

html .main .content_wrap .content-portfolio .angled-brackets {
  color: transparent;
  transition: 0.45s;
  transition-delay: 0.1s;
}

html .main .content_wrap .content-portfolio #playground:hover .angled-brackets {
  color: #621bc5;
}

html .main .content_wrap #oneMore a {
  text-decoration: none;
}

html .main .content_wrap #oneMore a #mailText {
  position: absolute;
  right: 20vw;
  color: transparent;
  transition: 0.3s;
  transition-delay: 0.1s;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 620;
}

@media (max-width: 740px) {
  html .main .content_wrap #oneMore a #mailText {
    color: #232522;
    right: 7vw;
  }
}

html .main .content_wrap #oneMore a #mailText:hover {
  text-decoration-color: #1dd75e;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 690;
}

html .main .content_wrap #oneMore:hover #mailText {
  color: #621bc5;
  text-decoration: underline;
  text-decoration-color: #621bc5;
}

html footer {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html footer .footer {
  position: fixed;
  bottom: 0px;
  background-color: #1dd75e;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 1.3rem;
  max-width: 800px;
  border-radius: 19px;
}

@media (max-width: 800px) {
  html footer .footer {
    bottom: 0px;
    margin-bottom: 0rem;
    border-radius: 0px;
    padding: 1.3rem;
  }
}

html footer .footer .line {
  text-align: center;
}

html footer .footer .line span {
  font-size: calc(0.5vw + 0.3vw + 13px);
  font-variation-settings: "MONO" 0.8, "CASL" 0, "wght" 500, "slnt" 0;
  color: #fcfaf8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 3rem;
}

html footer .footer .line .workingSpan {
  color: #00ff84;
  font-variation-settings: "MONO" 0.4, "CASL" 0.2, "wght" 500;
}

html footer .footer .line .dangerSpan {
  animation: slintness 2s ease infinite;
  color: #eff1f5;
  font-variation-settings: "MONO" 0.2, "CASL" 0.5, "wght" 500, "CRSV" 1;
}

html footer .footer #githublink {
  color: #00ff84;
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" 0;
  font-size: calc(0.5vw - 0vw + 8px);
  text-align: center;
  padding: 1.6vh;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='54%'>🖖</text></svg>") 16 0, auto;
}

html footer .footer #githublink a {
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" -3;
  color: inherit;
  transition: 0.45s;
}

html footer .footer #githublink a:hover {
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" -17, "CRSV" 0;
}

@media (min-width: 320px) {
  html .main .content_wrap {
    margin-top: 13vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  html .main .content_wrap .content-name {
    padding-bottom: 7vh;
    text-align: left;
  }
}

@media (min-width: 576.02px) {
  html .content-wrap {
    margin-top: 10vh;
  }
  html .content-wrap .content-name {
    padding-bottom: 7vh;
  }
}

@media (min-width: 768px) {
  html .main .content_wrap {
    margin-top: 17vh;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  html .main .content_wrap .content-name {
    padding-bottom: 10vh;
    text-align: center;
    padding-right: 11.5vh;
  }
}

@media (min-width: 1024px) {
  html .main .content_wrap {
    padding-left: 19vw;
    padding-right: 19vw;
  }
}

@media (min-width: 1400px) {
  html .main .content_wrap {
    padding-left: 25vw;
    padding-right: 23vw;
  }
}
