@import 'globals';
@import 'variables';
@import 'mixins';
@import 'font-anim-keyframes';
///////////////// colors ///////////////

body {
  height: 100%;
  // background-color: white; //$background-color;
  color: $font-black;
}

.main {
  height: 100%;

  display: grid;
  place-items: center;
  grid-template-columns: minmax(2rem, 1fr) minmax(200px, 610px) minmax(
      2rem,
      1fr
    );
  gap: 2rem;

  //logo home filter contact about me
  .navigation {
    grid-column: 2;

    height: 6rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 3rem;
    // transition: all $trans-slow; // INitial fx when enter the page
    .logo-frame {
      margin-right: auto;
      .logo-svg {
        width: 60px;
        height: 30px; // svg size
        cursor: $cursor-pointer-down-hand;
        &:hover {
          .hc-logo {
            fill: $sutil-dark-purple-gray-color;
          }
        }
        .hc-logo {
          transition: $trans-slow;
          fill: $font-sutil-gray-color;
        }
      }
    }

    ul {
      list-style-type: none;
      right: 3vw;
      li {
        display: inline-block;
        font-size: $font-size-big;
        font-variation-settings: $MONO, 'CASL' 0.1, 'wght' $font-weight-normal,
          $slnt;

        a {
          padding: 0.5rem;
          color: $font-sutil-gray-color;
          text-decoration: none;
          cursor: $cursor-arrow-hand;

          transition: $trans-slow;
          &:hover {
            color: $sutil-dark-purple-gray-color;
          }
        }
        .nowPage {
          //about me
          cursor: $cursor-about-me;
        }
        .filter {
          //contact
          cursor: $cursor-contact-mail;
        }
      }
    }
  }

  .content_wrap {
    grid-column: 2;
    margin-top: 11vh;

    ///////// Hi, I am Héctor /////////
    .content-name {
      margin-bottom: 7vh;
      // margin-left: 1.3rem;
      font-family: $ff-recursive-bold;
      font-size: $font-size-huge;
      font-variation-settings: 'MONO' 0.2, 'CASL' 0.2, 'wght' $font-weight-heavy,
        $slnt;
      text-align: left;
      // color: $sutil-dark-purple-gray-color;
      color: rgb(112, 112, 112);
      word-spacing: 0.7px;

      // .coma {
      //   position: relative;
      //   margin-left: calc(
      //     5px * 1vw
      //   ); //-13px // move the coma and the following words to the left
      // }
      .complete-name {
        color: rgb(116, 116, 116);
        cursor: $cursor-please-fingers;
        text-decoration: none;
        .first-name,
        .family-name {
          position: relative;
          text-decoration: underline;
          text-decoration-color: $font-sutil-gray-color;

          transition: $trans-slow ease;
          will-change: font-family;
          &::after {
            font-size: $font-size-small;
            color: $transparent;

            position: absolute;
            text-align: center;
            bottom: -0.2rem;
            width: 100%;
            height: 0;
            left: 0;

            transition: $trans-slow;
            transition-delay: $delay-fast;
            will-change: transform;
          }
          &:hover {
            text-decoration-color: $spotify-text-green;
            color: $font-linked-color;
            &::after {
              color: $underline-color;
              transform: translateY(-0.3rem);
            }
          }
        }
        .first-name {
          &::after {
            content: 'about me ⤴️';
          }
          &:hover {
            font-variation-settings: $MONO, 'CASL' 1, 'wght' $font-weight-bolder,
              $slnt;
          }
        }
        .family-name {
          &::after {
            content: 'contact ⤴️';
          }
          &:hover {
            font-variation-settings: $MONO, 'CASL' 0.1,
              'wght' $font-weight-bolder, $slnt;
          }
        }
      }
    }

    /////////// Works display~~~~[~~~]~~~[~~]~~~~~[~~~~]~~~ ////////////
    .content-portfolio {
      font-size: $font-size-big;
      text-align: left;
      letter-spacing: -0.32px;
      line-height: 1.5;
      color: $font-gray;
      color: $font-light-gray;
      word-spacing: -0.3px;

      // no working warning
      --main-weight: 600;

      font-variation-settings: 'MONO' 0.2, 'CASL' 0, 'wght' var(--main-weight),
        $slnt;

      //link and link number WRAPPER
      .link-wrapper {
      }
      // a
      .link {
        position: relative;
        white-space: nowrap; //for no break the link to the next  line
        color: $font-linked-color;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0.1,
          'wght' $font-weight-normal, $slnt;

        text-decoration-color: $underline-color;
        cursor: $cursor-please-fingers;

        transition: 0.43s ease-out;
        // for coming projects
        &.coming {
          color: $font-light-gray;
          text-decoration: underline;
          text-decoration-color: $font-light-gray;
          &::after {
            content: 'Video projects';
          }
          &:hover {
            text-decoration-color: $font-light-gray;
            &::after {
              content: '[C🙃ming Soon]';
            }
          }
        }
        &:hover {
          // color: $font-linked-hover-color;
          font-variation-settings: 'MONO' 0.2, 'CASL' 0.6,
            'wght' $font-weight-bolder, $slnt;
          text-decoration-color: $font-linked-color;
        }
        &:active {
          cursor: $cursor-yeah-hand;
        }
      }

      // mini linked number
      .link-number {
        color: $font-linked-color;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0,
          'wght' $font-weight-bolder;
        font-size: $font-size-linkNumber;
        text-decoration: none;

        position: relative;
        left: -6.5px;
        top: -7px;
        margin-left: 0px;
      }

      .pixelLink {
        #pixel {
          display: none;
        }
        &:hover {
          #mosaic {
            display: none;
          }
          #pixel {
            display: inline;
            font-variation-settings: 'MONO' 0.735, 'CASL' 0.1, 'wght' 550;
          }
        }
      }
      .angled-brackets {
        color: transparent;
        transition: 0.6s;
        transition-delay: $delay-fast;
        @media (max-width: 740px) {
          color: $font-linked-hover-color;
        }
      }
      #playground:hover {
        .angled-brackets {
          color: $font-linked-color;
        }
      }
    }
    #oneMore {
      // a {
      text-decoration: none;
      position: relative;
      #dotsss {
        color: $font-linked-color;
      }
      #mailText {
        position: absolute;
        display: block;
        // text-align: center;
        left: -2ch;
        color: transparent;
        transition: $trans-normal;
        transition-delay: $delay-fast;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0,
          'wght' $font-weight-normal;

        &:hover {
          text-decoration-color: $spotify-text-green;
          font-variation-settings: 'MONO' 0.2, 'CASL' 0,
            'wght' $font-weight-bold;
        }
      }
      // }
      @media (max-width: 740px) {
        #oneMoreText {
          color: transparent;
          #dotsss {
            color: transparent;
          }
        }
        #mailText {
          color: $font-black;
          right: 7vw;
          // left: 0ch;
        }
      }
      &:hover {
        #mailText {
          color: $font-linked-color;
          text-decoration: underline;
          text-decoration-color: $font-linked-color;
        }
      }
    }
  }
}

footer {
  // margin: 1rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  cursor: $cursor-please-fingers;
  .footer {
    position: fixed;
    bottom: 0px;
    background-color: $spotify-text-green;
    margin: 0 auto;
    padding-top: 1rem;
    margin-bottom: 1.3rem;
    max-width: 800px;
    border-radius: 19px;
    // position: relative;
    .closeBtn {
      position: absolute;
      color: rgb(193, 241, 176);
      font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' 400, $slnt;
      font-size: 2rem;
      top: 0rem;
      left: 0.5rem;
      padding: 1.2rem;
      transition: $trans-normal;
      &:hover {
        font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' 500, $slnt;
        color: white;
      }
    }
    .line {
      text-align: center;
      span {
        font-size: 1.7rem;
        font-variation-settings: 'MONO' 0.8, 'CASL' 0, 'wght' $font-weight-light,
          $slnt;
        color: $background-color;
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 3rem;
        @media (max-width: 800px) {
          font-size: $font-size-small;
          line-height: 2.4rem;
          padding-bottom: 20vh;
        }
      }
      //////////////////// FOOTER TEXT ANIMATIONS /////////////////
      .workingSpan {
        animation: widthness 2s ease 10;
        will-change: transform;
        color: $skillshare-green;
        font-variation-settings: 'MONO' 0.4, 'CASL' 0.2,
          'wght' $font-weight-light;
      }
      .dangerSpan {
        will-change: transform;
        animation: slintness 2s ease 10s 17;
        color: $josh-blue-white;
        font-variation-settings: 'MONO' 0.2, 'CASL' 0.5,
          'wght' $font-weight-light, 'CRSV' 1;
      }
    }
    @media (max-width: 800px) {
      // font-size: $font-size-big;
      bottom: 0px;
      margin-bottom: 0rem;
      border-radius: 0px;
      padding: 1.3rem;
      .line {
        padding-left: 2px;
        padding-right: 12px;
        font-size: $font-size-small;
      }
    }
    #githublink {
      color: $skillshare-green;
      font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter, $slnt;
      font-size: $font-size-information;

      text-align: center;
      padding: 1.6vh;
      cursor: $cursor-startreck-hand;
      a {
        font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter,
          'slnt' -3;
        color: inherit;
        transition: $trans-slow;
        &:hover {
          font-variation-settings: 'MONO' 1, 'wght' $font-weight-lighter,
            'slnt' -17, 'CRSV' 0;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
