@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body .left-arrow {
  padding: 2.5rem;
  width: 8vw;
  height: 100px;
  width: 150px;
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  position: absolute;
  font-size: calc(0.5vw + 0.8vw + 40px);
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
  display: relative;
}

body .left-arrow .link-a #left-arrow {
  margin: 4rem;
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 7.5rem;
  top: 1.5rem;
}

body .left-arrow .logo-frame .logo-svg {
  width: 36px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 8rem;
}

body .left-arrow:hover .logo-frame .logo-svg .hc-logo {
  fill: #fcfaf8;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

.preloader #emoji-loader,
.preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

.preloader #emoji-loader {
  font-size: 6rem;
  animation: spin 2.6s infinite ease;
  height: 7rem;
  width: 7rem;
}

.preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.5vw - 0vw + 12px);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes variableOpacity {
  0% {
    opacity: 100%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes gifFrame1 {
  0% {
    opacity: 100%;
  }
  24% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame2 {
  0% {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame3 {
  0% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  76% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  76% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

@keyframes slintness {
  0% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
  40% {
    font-variation-settings: "slnt" -15, "CRSV" 1;
  }
  100% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  height: 100%;
  color: #232522;
}

.main {
  height: 100%;
}

.main .navigation {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.main .navigation .logo-frame {
  display: block;
  position: relative;
  margin-left: 4rem;
  left: -23vw;
}

.main .navigation .logo-frame .logo-svg {
  width: 60px;
  height: 30px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

.main .navigation .logo-frame .logo-svg:hover .hc-logo {
  fill: #4d435b;
}

.main .navigation .logo-frame .logo-svg .hc-logo {
  transition: 0.45s;
  fill: #b9cabf;
}

.main .navigation ul {
  list-style-type: none;
  display: block;
  position: relative;
  left: 14vw;
}

.main .navigation ul li {
  display: inline-block;
  font-size: calc(0.5vw + 0vw + 18px);
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 620, "slnt" 0;
}

.main .navigation ul li a {
  padding: 0.5rem;
  transition: 0.45s;
  color: #b9cabf;
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

.main .navigation ul li a:hover {
  color: #4d435b;
}

.main .navigation ul li .nowPage {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👇</text></svg>") 16 0, auto;
}

.main .navigation ul li .filter {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🔎</text></svg>") 16 0, auto;
}

.main .content_wrap .content-name {
  padding-bottom: 7vh;
  font-family: "Recursive", "Arial Black", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-size: calc(0.5vw + 0.4vw + 30px);
  font-variation-settings: "MONO" 0, "CASL" 0.4, "wght" 800, "slnt" 0;
  text-align: left;
  color: #4d435b;
  word-spacing: 0.7px;
}

.main .content_wrap .content-name .coma {
  position: relative;
  margin-left: calc( -3px * 1vw);
}

.main .content_wrap .content-name .complete-name {
  color: #4d435b;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
  text-decoration: none;
}

.main .content_wrap .content-name .complete-name .first-name {
  position: relative;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

.main .content_wrap .content-name .complete-name .first-name::after {
  content: "about me ⤴️";
  font-size: calc(0.5vw - 0vw + 12px);
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -9px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

.main .content_wrap .content-name .complete-name .first-name:hover {
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 740, "slnt" 0;
  text-decoration-color: #1dd75e;
  color: #621bc5;
}

.main .content_wrap .content-name .complete-name .first-name:hover::after {
  color: #a48cee;
  bottom: -5px;
}

.main .content_wrap .content-name .complete-name .family-name {
  position: relative;
  transition: 0.45s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

.main .content_wrap .content-name .complete-name .family-name::after {
  content: "contact ⤴️";
  font-size: calc(0.5vw - 0vw + 12px);
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -9px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

.main .content_wrap .content-name .complete-name .family-name:hover {
  color: #621bc5;
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 740, "slnt" 0;
  text-decoration-color: #1dd75e;
}

.main .content_wrap .content-name .complete-name .family-name:hover::after {
  color: #a48cee;
  bottom: -5px;
}

.main .content_wrap .content-portfolio {
  font-size: calc(0.5vw + 0vw + 18px);
  text-align: left;
  letter-spacing: -0.3px;
  line-height: 1.45;
  color: #5b5957;
  --main-weight: 600;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" var(--main-weight), "slnt" 0;
}

.main .content_wrap .content-portfolio .link {
  position: relative;
  color: #621bc5;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 620, "slnt" 0;
  transition: 0.3s;
  text-decoration-color: #a48cee;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

.main .content_wrap .content-portfolio .link:hover {
  font-variation-settings: "MONO" 0.2, "CASL" 0.8, "wght" 740, "slnt" 0;
  text-decoration-color: #621bc5;
}

.main .content_wrap .content-portfolio .link:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

.main .content_wrap .content-portfolio .link-number {
  color: #621bc5;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 740;
  position: relative;
  left: -6.5px;
  top: -7px;
  margin-left: 0px;
  font-size: calc(0.4vw + 7px);
}

.main .content_wrap .content-portfolio .angled-brackets {
  color: transparent;
  transition: 0.6s;
  transition-delay: 0.1s;
}

@media (max-width: 740px) {
  .main .content_wrap .content-portfolio .angled-brackets {
    color: #8c12f8;
  }
}

.main .content_wrap .content-portfolio #playground:hover .angled-brackets {
  color: #621bc5;
}

.main .content_wrap #oneMore {
  text-decoration: none;
  position: relative;
}

.main .content_wrap #oneMore #dotsss {
  color: #621bc5;
}

.main .content_wrap #oneMore #mailText {
  position: absolute;
  display: block;
  left: -2ch;
  color: transparent;
  transition: 0.3s;
  transition-delay: 0.1s;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 620;
}

.main .content_wrap #oneMore #mailText:hover {
  text-decoration-color: #1dd75e;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 690;
}

@media (max-width: 740px) {
  .main .content_wrap #oneMore #oneMoreText {
    color: transparent;
  }
  .main .content_wrap #oneMore #oneMoreText #dotsss {
    color: transparent;
  }
  .main .content_wrap #oneMore #mailText {
    color: #232522;
    right: 7vw;
  }
}

.main .content_wrap #oneMore:hover #mailText {
  color: #621bc5;
  text-decoration: underline;
  text-decoration-color: #621bc5;
}

footer {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

footer .footer {
  position: fixed;
  bottom: 0px;
  background-color: #1dd75e;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 1.3rem;
  max-width: 800px;
  border-radius: 19px;
}

footer .footer .line {
  text-align: center;
}

footer .footer .line span {
  font-size: calc(0.5vw + 0.3vw + 13px);
  font-variation-settings: "MONO" 0.8, "CASL" 0, "wght" 500, "slnt" 0;
  color: #fcfaf8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 3rem;
}

@media (max-width: 800px) {
  footer .footer .line span {
    font-size: calc(0.5vw - 0vw + 12px);
    line-height: 2.4rem;
    padding-bottom: 20vh;
  }
}

footer .footer .line .workingSpan {
  color: #00ff84;
  font-variation-settings: "MONO" 0.4, "CASL" 0.2, "wght" 500;
}

footer .footer .line .dangerSpan {
  animation: slintness 2s ease infinite;
  color: #eff1f5;
  font-variation-settings: "MONO" 0.2, "CASL" 0.5, "wght" 500, "CRSV" 1;
}

@media (max-width: 800px) {
  footer .footer {
    bottom: 0px;
    margin-bottom: 0rem;
    border-radius: 0px;
    padding: 1.3rem;
  }
  footer .footer .line {
    padding-left: 2px;
    padding-right: 12px;
    font-size: calc(0.5vw - 0vw + 12px);
  }
}

footer .footer #githublink {
  color: #00ff84;
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" 0;
  font-size: calc(0.5vw - 0vw + 8px);
  text-align: center;
  padding: 1.6vh;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='54%'>🖖</text></svg>") 16 0, auto;
}

footer .footer #githublink a {
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" -3;
  color: inherit;
  transition: 0.45s;
}

footer .footer #githublink a:hover {
  font-variation-settings: "MONO" 1, "wght" 400, "slnt" -17, "CRSV" 0;
}

@media (min-width: 320px) {
  .main .content_wrap {
    margin-top: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .main .content_wrap .content-name {
    padding-bottom: 5vh;
    text-align: left;
  }
}

@media (min-width: 576.02px) {
  .content-wrap {
    margin-top: 11vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .content-wrap .content-name {
    padding-bottom: 7vh;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .main .content_wrap {
    margin-top: 17vh;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .main .content_wrap .content-name {
    padding-bottom: 8vh;
    text-align: center;
    padding-right: 11.5vh;
  }
}

@media (min-width: 1024px) {
  .main .content_wrap {
    padding-left: 19vw;
    padding-right: 19vw;
  }
  .main .content_wrap .content-name {
    padding-bottom: 10vh;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .main .content_wrap {
    padding-left: 25vw;
    padding-right: 23vw;
  }
}
