@charset "UTF-8";
/*The cursors: 👆 👈 🖖 ☝️🤞 ✌️*/
/*The cursors: 👆 👈 🖖 ☝️🤞 ✌️*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  border: 0px;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: 3.7rem;
}

html body {
  height: 100%;
  background-color: #fcfaf8;
  color: #232522;
}

html .main .navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

html .main .navigation .logo-svg {
  display: inline-block;
  width: 28px;
  padding: 2rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

html .main .navigation .logo-svg .hc-logo {
  fill: #bfdef2;
}

html .main .navigation .logo-svg .hc-logo:hover {
  fill: #621bc5;
}

html .main .navigation ul {
  margin: 0px auto;
  padding: 5rem;
  list-style-type: none;
}

html .main .navigation ul li {
  font-size: 2rem;
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 620, "slnt" 0;
}

html .main .navigation ul li a {
  transition: 0.45s;
  color: #c4d4ca;
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

html .main .navigation ul li a:hover {
  color: #621bc5;
}

html .main .content_wrap .content-name {
  padding-top: 10vh;
  font-family: "Recursive", "Arial Black", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.4, "wght" 800, "slnt" 0;
  text-align: left;
  font-size: 3.7rem;
  word-spacing: 0.7px;
}

html .main .content_wrap .content-name .coma {
  position: relative;
  margin-left: -13px;
}

html .main .content_wrap .content-name .complete-name {
  color: #621bc5;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
  text-decoration: none;
}

html .main .content_wrap .content-name .complete-name .first-name {
  position: relative;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

html .main .content_wrap .content-name .complete-name .first-name::after {
  content: "about me ⤴️";
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -2px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

html .main .content_wrap .content-name .complete-name .first-name:hover {
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 760, "slnt" 0;
  text-decoration-color: #1ed760;
}

html .main .content_wrap .content-name .complete-name .first-name:hover::after {
  color: #a48cee;
  bottom: 2px;
}

html .main .content_wrap .content-name .complete-name .family-name {
  position: relative;
  transition: 0.45s ease-out;
  transition-delay: 0.16s;
  text-decoration: underline;
  text-decoration-color: #a48cee;
}

html .main .content_wrap .content-name .complete-name .family-name::after {
  content: "contact ⤴️";
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0);
  font-variation-settings: "MONO" 0.6, "CASL" 0, "wght" 500;
  position: absolute;
  text-align: center;
  bottom: -2px;
  width: 100%;
  height: 0;
  left: 0;
  transition: 0.3s ease-out;
  transition-delay: 0.16s;
}

html .main .content_wrap .content-name .complete-name .family-name:hover {
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 760, "slnt" 0;
  text-decoration-color: #1ed760;
}

html .main .content_wrap .content-name .complete-name .family-name:hover::after {
  color: #a48cee;
  bottom: 2px;
}

html .main .content_wrap .content-portfolio {
  font-size: 2.5rem;
  font-variation-settings: "MONO" 0.2, "CASL" 0.2, "wght" 730, "slnt" 0;
  color: #5b5957;
  text-align: left;
}

html .main .content_wrap .content-portfolio .link {
  position: relative;
  color: #621bc5;
  font-variation-settings: "MONO" 0.2, "CASL" 0, "wght" 760, "slnt" 0;
  transition: 0.3s;
  text-decoration-color: #a48cee;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html .main .content_wrap .content-portfolio .link:hover {
  font-variation-settings: "MONO" 0.2, "CASL" 0.8, "wght" 760, "slnt" 0;
  text-decoration-color: #621bc5;
}

html .main .content_wrap .content-portfolio .link:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

html .main .content_wrap .content-portfolio .link-number {
  color: #621bc5;
  position: relative;
  left: -3px;
  top: -7px;
  margin-left: 0px;
  font-size: 1.3rem;
}

html .main .content_wrap #oneMore a {
  text-decoration: none;
}

html .main .content_wrap #oneMore a #mailText {
  position: absolute;
  right: 20vw;
  color: transparent;
  transition: 0.3s;
  transition-delay: 0.1s;
}

html .main .content_wrap #oneMore a #mailText:hover {
  text-decoration-color: #1ed760;
}

html .main .content_wrap #oneMore:hover #mailText {
  color: #621bc5;
  text-decoration: underline;
  text-decoration-color: #621bc5;
}

html footer {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

html footer .footer {
  background-color: #1ed760;
  position: absolute;
  bottom: 0vh;
  margin: 0 auto;
  overflow: hidden;
}

html footer .footer .line {
  text-align: center;
}

html footer .footer .line span {
  font-size: 3.7rem;
  font-variation-settings: "MONO" 0.8, "CASL" 0, "wght" 500, "slnt" 0;
  color: #fcfaf8;
  padding: 12px;
  padding-left: 50px;
  line-height: 6rem;
  padding-right: 50px;
}

html footer .footer .line .workingSpan {
  animation: widthness 2s ease infinite;
  font-variation-settings: "MONO" 0.4, "CASL" 0.2, "wght" 500;
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

html footer .footer .line .dangerSpan {
  animation: slintness 2s ease infinite;
  font-variation-settings: "MONO" 0.2, "CASL" 0.5, "wght" 500, "CRSV" 1;
}

@keyframes slintness {
  0% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
  40% {
    font-variation-settings: "slnt" -15, "CRSV" 1;
  }
  100% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
}

html footer .footer #githublink {
  color: #00ff84;
  font-variation-settings: "MONO" 1, "wght" 500, "slnt" 0;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.6vh;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='54%'>🖖</text></svg>") 16 0, auto;
}

html footer .footer #githublink a {
  font-variation-settings: "MONO" 1, "wght" 500, "slnt" -1;
  color: inherit;
  transition: 0.45s;
}

html footer .footer #githublink a:hover {
  font-variation-settings: "MONO" 1, "wght" 500, "slnt" -17, "CRSV" 0;
}

@media (min-width: 320px) {
  html .main .content_wrap {
    padding-bottom: 7vh;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  html .main .content_wrap .content-name {
    padding-top: 19vh;
    padding-bottom: 10vh;
    text-align: left;
    font-size: 4rem;
  }
  html footer .footer .line span {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}

@media (min-width: 576.02px) {
  html body .main content_wrap {
    padding-left: 11vw;
    padding-right: 11vw;
  }
  html body footer .footer .line span {
    font-size: 2rem;
    line-height: 4rem;
  }
}

@media (min-width: 768.02px) {
  html .main .content_wrap {
    padding-left: 17vw;
    padding-right: 17vw;
  }
  html .main .content_wrap .content-name {
    text-align: center;
    padding-right: 11.5vh;
  }
  html .main .content-portfolio {
    font-size: 2.5rem;
  }
  html footer .footer .line span {
    font-size: 2.5rem;
    line-height: 6rem;
  }
}

@media (min-width: 1200.02px) {
  html .main .content_wrap {
    padding-left: 25vw;
    padding-right: 23vw;
  }
}
