@import '../../../../../scss/variables';
@import '../../../../../scss/globals';
@import '../sub-design-global.scss';

body {
  //////////////////////////////////////////
  $design-text-color: hsl(0, 0%, 21%);
  $design-white-color: rgb(244, 242, 235);
  $design-subpg-bg: hsl(0, 0%, 100%);
  ///////////////////////////////////////////
  font-family: $ff-space-grotesk;
  background-color: $design-subpg-bg;
  width: 100vw;
  font-weight: 300;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $design-subpg-bg;
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $design-text-color;
      font-family: $ff-grotesk-mono;
      font-size: 1.8rem;
    }
  }
  header {
    .absolute-nav {
      position: absolute; //fixed
      top: 0rem;
      z-index: 19;
      display: flex;
      align-items: center;
      height: 6rem;
      width: 100%;
      .left-arrow {
        top: 1rem !important;
        .link-a {
          color: $design-text-color;
        }
      }
      .main-header {
        line-height: 6rem;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0.3rem 0.6rem #b1b1b1, 0px 0.15rem 0.2rem #d8d8d8;
        h1 {
          color: $design-text-color;
          background-color: $design-subpg-bg;
          font-weight: 700;
          font-size: 2.3rem;
        }
      }
    }
  }
  main {
    display: grid; //trampemoji
    .subpage-wrapper {
      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 900px) minmax(
          7%,
          1fr
        );
      .subpage-content-1 {
        grid-column: 2;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // header Ws
        .www {
          font-family: $ff-tourney;
          font-weight: 200; //900; ///////
          text-transform: uppercase;
          font-size: 5rem;
          margin-bottom: 0.3rem;
          grid-row: 2;
        }
        // .w-box {
        .w-texts {
          font-family: $ff-space-grotesk;
          // font-family: $ff-grotesk-mono;
          grid-row: 3;
          margin-right: 17%;

          .w-para {
            font-size: 1.5rem;
            margin-top: 2%;
            margin-bottom: 2%;
          }
        }
        .info-text {
          font-family: $ff-grotesk-mono;
          padding: 0.5rem;
        }

        //MARGIN TOP
        .margin-top {
          grid-column: 1 / 4;
          grid-row: 1;
          margin-bottom: 13rem;
        }
        // HERO IMG
        // #hero-outline {
        //   grid-column: 1 / 4;
        //   grid-row: 2;
        //   margin-bottom: 10%;
        // }

        ////////////////////////
        // COLUMN 1 ////////////
        .cl-1 {
          grid-column: 1;
        }
        #why {
          grid-row: 2;
          // grid-column: 1;
          // text-align: right;
          // margin-right: 10%;
          // transform: translateY(-63%);
          // padding-right: 9%;
        }
        .why-text1 {
          // text-align: right;
          // text-align: right;
          .w-para {
            margin-right: 0px;
          }
          grid-row: 2;
          // margin-left: 30%;
          // margin-right: 18%;
          margin-top: 5.3rem;
          // transform: translateY(-41%);
        }

        ////////////////////////
        // COLUMN 2 ///////////
        .cl-2 {
          grid-column: 2;
        }
        #where {
          grid-row: 2;
          // padding-left: 30%;
          // padding-bottom: 36rem;
        }
        .where-text1 {
          grid-row: 2;
          // padding-left: 31%;
          margin-top: 5.3rem;
          .w-para {
            margin-right: 1%;
          }
        }

        ////////////////////////
        // COLUMN 3 //////////
        .cl-3 {
          grid-column: 3;
        }
        #what {
          grid-row: 2;
        }
        .what-text1 {
          grid-row: 2;
          // grid-column:  2;
          margin-top: 5.3rem;
          margin-right: 25%;
          // margin-left: 13%;
          font-size: 1.5rem;
        }

        ////////// PART 2 ////////
        ////////// FULL-SIZE ////////
        .full-wrapper {
          grid-column: 1 / 4;
          span {
            font-size: 2.1rem;
            font-weight: 700;
          }
          &.bread-wrapper {
            margin-top: 5rem;
            position: relative;
            height: 60rem;

            .breads {
              position: absolute;
              width: 13%;
              filter: grayscale(100%) contrast(70%);
              will-change: transform;
              transition: 0.4s;
              &:hover {
                filter: none;
                transform: scale(1.3);
              }
              &#gif {
                z-index: 1;
                position: sticky;
                top: 35%;
                left: 40%;
                width: 200px;
                mix-blend-mode: multiply;
                // opacity: 90%;
                filter: none;
                &:hover {
                  filter: none;
                  transform: none;
                }
              }
              &#blur {
                top: 0%;
                right: 6%;
              }
              &#bw {
                // z-index: -1;
                bottom: 43%;
                left: 76%;
                position: sticky;
              }
              &#che {
                bottom: 71%;
                left: 26%;
                position: sticky;
              }
              &#duo {
                bottom: 17%;
                right: 9%;
              }
              &#lila {
                top: 39%;
                right: 24%;
              }
              &#pel {
                position: sticky;
                bottom: 15%;
                right: 3%;
              }
              &#rosa {
                bottom: 37%;
                left: 3%;
              }
              &#tigre {
                bottom: 2%;
                left: 18%;
              }
              &#verano {
                // z-index: -1;
                top: 10%;
                bottom: 5%;
                left: 61%;
                position: sticky;
              }
            }
          }
        }
        .btn-wrapper {
          .btns {
            background: #76eef0;
            &:hover {
              background: #ffbbde;
            }
          }
        }
      }
    }

    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.6;
      }
    }
    // FOOTER
    .footer {
      z-index: 19;
      height: 29rem;
      width: 100%;
      background: #e6e6e6; //rgb(240, 240, 240);
      margin-top: 12rem;

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:
          minmax(7%, 1fr) minmax(150px, 500px) minmax(150px, 500px)
          minmax(7%, 1fr); // 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        color: rgb(80, 80, 80);
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .footer-l {
          grid-column: 1 /3;
          align-self: center;
          justify-self: center;
          text-align: center;
          h2 {
            text-transform: uppercase;
            font-weight: 500;
          }
          div {
            padding: 0.5rem;
          }
        }
        .footer-r {
          grid-column: 3;

          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-content: space-around;
            justify-self: end;
            text-align: right;

            div {
              padding: 1.2rem;
              font-weight: 500;
              .r-links {
                padding: 1rem;
              }
              #making-of {
                &::after {
                  content: 'the making of';
                }
                &:hover::after {
                  content: 'the Design Page';
                }
              }
              .arrow {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
