@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 1.8rem;
  color: #232522;
  font-family: "Recursive", Consolas, Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  /*Typographic tweaks!
  Add accessible line-height
   Improve text rendering*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: black;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body .left-arrow {
  padding-top: 1rem;
  z-index: 10;
  margin: 0px;
  padding: 0rem;
  border: 0px;
  height: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(0.5vw + 0.4vw + 30px);
  transition: 0.45s;
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .link-a #left-arrow {
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 4.5rem;
  top: -4rem;
}

body .left-arrow .logo-frame .logo-svg {
  width: 36px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 5.5rem;
}

body .left-arrow:hover .logo-frame .hc-logo {
  fill: #6d60fc;
}

body ul {
  list-style: none;
}

body a {
  color: #621bc5;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body a:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

body #trampolineEmoji {
  position: sticky;
  /* Fixed/sticky position */
  bottom: 3rem;
  /* Place the button at the bottom of the page */
  right: 4rem;
  /* Place the button 30px from the */
  z-index: 9;
  /* Make sure it does not overlap */
  text-decoration: none;
  padding: 15px;
  /* Some padding */
  font-size: calc(0.5vw + 0.4vw + 30px);
  /* Increase font size */
  transition: 0.15s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
}

body #trampolineEmoji:hover {
  transform: scale(1.1);
  transform: translateY(-0.2rem);
}

body #trampolineEmoji:active {
  transform: scale(0.9);
  transform: translateY(0.2rem);
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

.preloader #emoji-loader,
.preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

.preloader #emoji-loader {
  font-size: 6rem;
  animation: spin 2.6s infinite ease;
  height: 7rem;
  width: 7rem;
}

.preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.5vw - 0vw + 12px);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes variableOpacity {
  0% {
    opacity: 100%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes gifFrame1 {
  0% {
    opacity: 100%;
  }
  24% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame2 {
  0% {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame3 {
  0% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  76% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  76% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes brujula {
  to {
    transform: rotateZ(23deg);
  }
}

@keyframes jump {
  to {
    transform: translateY(1rem);
  }
}

@keyframes goLeft {
  to {
    transform: translateX(-0.6rem);
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

@keyframes slintness {
  0% {
    font-variation-settings: 'slnt' 0, 'CRSV' 1;
  }
  40% {
    font-variation-settings: 'slnt' -15, 'CRSV' 1;
  }
  100% {
    font-variation-settings: 'slnt' 0, 'CRSV' 1;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  height: 95vh;
}

.preloader {
  background: whitesmoke;
}

.preloader #emoji-loader {
  animation: none;
  position: relative;
  padding-right: 8vw;
}

.preloader #emoji-loader #frame1,
.preloader #emoji-loader #frame2,
.preloader #emoji-loader #frame3,
.preloader #emoji-loader #frame4 {
  position: absolute;
}

.preloader #emoji-loader #frame1 {
  animation: gifFrame1 1.6s infinite ease;
}

.preloader #emoji-loader #frame2 {
  animation: gifFrame2 1.6s infinite ease;
}

.preloader #emoji-loader #frame3 {
  animation: gifFrame3 1.6s infinite ease;
}

.preloader #emoji-loader #frame4 {
  animation: gifFrame4 1.6s infinite ease;
}

.preloader #text-loader {
  padding-top: 12rem;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #emoji-loader #frame1,
.preload-finish #emoji-loader #frame2,
.preload-finish #emoji-loader #frame3,
.preload-finish #emoji-loader #frame4 {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

.left-arrow .link-a {
  color: #5b5957;
}

.left-arrow .link-a:hover {
  color: #5b5957;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr minmax(100%, 60ch) 1fr;
}

.container #subcontainer {
  grid-column: 2;
  line-height: 1.5;
  display: grid;
  grid-template-rows: 15% 1fr 10% 1fr 5%;
  width: clamp(250px, 80%, 60ch);
  gap: 5rem;
  place-items: center;
}

.container #subcontainer h1 {
  grid-row: 1;
  text-align: center;
  align-self: end;
  color: #ededed;
  font-variation-settings: "MONO" 0.5, "CASL" 0.1, "wght" 500;
}

.container #subcontainer p {
  text-align: center;
  color: #a6a6a6;
  font-size: calc(0.5vw + 0.3vw + 13px);
}

.container #subcontainer .p1 {
  grid-row: 2;
}

.container #subcontainer .p2 {
  grid-row: 4;
}

.container #subcontainer #mailFrame {
  grid-row: 3;
}

.container #subcontainer #mailFrame a {
  text-decoration-color: #b9cabf;
  transition: 0.45s;
}

.container #subcontainer #mailFrame a:hover {
  text-decoration-color: #232522;
}

.container #subcontainer #mailFrame a #mailText {
  font-variation-settings: "MONO" 1, "CASL" 0.2, "wght" 500;
  font-size: calc(0.5vw + 0.3vw + 13px);
  transition: font-variation-settings 0.5s ease;
  font-size: calc(3vw + 12px);
  user-select: none;
  color: #4d435b;
}

.container #subcontainer #mailFrame a #mailText:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' id='wave' style='fill:black;font-size:23px;'><text y='57%'>💌 </text></svg>") 16 0, auto;
  font-variation-settings: "MONO" 1, "CASL" 0.01, "wght" 400;
  color: #232522;
}

.container #subcontainer #mailFrame div {
  display: none;
}

.container #subcontainer #mailFrame:hover div {
  font-size: calc(3vw + 40px);
  position: fixed;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(3vw + 70px);
  height: calc(3vw + 70px);
  border-radius: 50%;
}

.container #subcontainer #mailFrame:hover .wave {
  display: block;
  position: absolute;
  z-index: -1;
  place-self: end;
  animation-name: waveHand;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  top: 55%;
  left: 53%;
}
