@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body .left-arrow {
  padding: 2.5rem;
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  position: absolute;
  font-size: calc(0.5vw + 0.8vw + 40px);
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
  display: relative;
}

body .left-arrow .link-a #left-arrow {
  margin: 4rem;
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 7.5rem;
  top: 1.8rem;
}

body .left-arrow .logo-frame .logo-svg {
  width: 36px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 8rem;
}

body .left-arrow:hover .logo-frame .logo-svg .hc-logo {
  fill: #fcfaf8;
}

body .preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

body .preloader #emoji-loader,
body .preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

body .preloader #emoji-loader {
  font-size: 6rem;
  animation: spin 2.6s infinite ease;
  height: 7rem;
  width: 7rem;
}

body .preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.5vw - 0vw + 12px);
}

body .preload-finish {
  opacity: 0;
  pointer-events: none;
}

body .preload-finish #emoji-loader {
  animation: none;
}

body .preload-finish #text-loader {
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes variableOpacity {
  0% {
    opacity: 100%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes gifFrame1 {
  0% {
    opacity: 100%;
  }
  24% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame2 {
  0% {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame3 {
  0% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  76% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  76% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

@keyframes slintness {
  0% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
  40% {
    font-variation-settings: "slnt" -15, "CRSV" 1;
  }
  100% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  height: 100%;
}

.preloader {
  background: whitesmoke;
}

.preloader #emoji-loader {
  animation: none;
  position: relative;
  padding-right: 8vw;
}

.preloader #emoji-loader #frame1,
.preloader #emoji-loader #frame2,
.preloader #emoji-loader #frame3,
.preloader #emoji-loader #frame4 {
  position: absolute;
}

.preloader #emoji-loader #frame1 {
  animation: gifFrame1 1.6s infinite ease;
}

.preloader #emoji-loader #frame2 {
  animation: gifFrame2 1.6s infinite ease;
}

.preloader #emoji-loader #frame3 {
  animation: gifFrame3 1.6s infinite ease;
}

.preloader #emoji-loader #frame4 {
  animation: gifFrame4 1.6s infinite ease;
}

.preloader #text-loader {
  padding-top: 12rem;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #emoji-loader #frame1,
.preload-finish #emoji-loader #frame2,
.preload-finish #emoji-loader #frame3,
.preload-finish #emoji-loader #frame4 {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

.left-arrow {
  padding: 2.5rem;
}

.left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  position: absolute;
  font-size: calc(0.5vw + 0.8vw + 40px);
}

.left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
  display: relative;
}

.left-arrow .link-a #left-arrow {
  margin: 4rem;
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

.left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 7.5rem;
  top: 1.8rem;
}

.left-arrow .logo-frame .logo-svg {
  width: 36px;
}

.left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

.left-arrow:hover .logo-frame {
  left: 8rem;
}

.left-arrow:hover .logo-frame .logo-svg .hc-logo {
  fill: #fcfaf8;
}

.container {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.container section {
  padding: 2rem;
}

.container .logo-svg {
  display: inline-block;
  width: 30px;
  padding: 2rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

.container .logo-svg:hover .hc-logo {
  fill: #4d435b;
}

.container .logo-svg .hc-logo {
  transition: 0.45s;
  fill: #b9cabf;
}

.container h1 {
  color: #b9cabf;
  text-align: center;
}

.container p {
  --weight: 500;
  font-size: calc(0.5vw + 0.3vw + 13px);
  font-variation-settings: "wght" var(--weight);
}

.container #mailFrame a {
  text-decoration-color: #b9cabf;
  transition: 0.45s;
}

.container #mailFrame a:hover {
  text-decoration-color: #232522;
}

.container #mailFrame a #mailText {
  font-variation-settings: "MONO" 1, "CASL" 0.2, "wght" 500;
  font-size: calc(0.5vw + 0.3vw + 13px);
  transition: font-variation-settings 0.5s ease;
  font-size: calc(3vw + 12px);
  user-select: none;
  color: #4d435b;
}

.container #mailFrame a #mailText:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' id='wave' style='fill:black;font-size:23px;'><text y='57%'>💌 </text></svg>") 16 0, auto;
  font-variation-settings: "MONO" 1, "CASL" 0.01, "wght" 400;
  color: #232522;
}

.container #mailFrame div {
  display: none;
}

.container #mailFrame:hover div {
  font-size: calc(3vw + 40px);
  position: fixed;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(3vw + 70px);
  height: calc(3vw + 70px);
  border-radius: 50%;
}

.container #mailFrame:hover .wave {
  display: block;
  animation-name: waveHand;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
