@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/globals';
@import '../../../scss/font-anim-keyframes';

body {
  height: 100%;
  width: 100vw;
  $my-paper-color: hsl(35, 16%, 92%);
  $muji-cover: hsl(30, 2%, 24%);

  font-size: 2rem;
  font-variation-settings: 'MONO' 0, 'CASL' 0.5, 'wght' $font-weight-normal,
    $slnt;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $my-paper-color;
    #emoji-loader {
      animation: jump 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      padding-top: 12rem;
      color: $muji-cover;
      font-size: $font-size-normal;
    }
  }
  .left-arrow {
    .link-a {
      color: $muji-cover;
      &:hover {
        color: $muji-cover;
      }
    }
    &:hover {
      .hc-logo {
        fill: $font-linked-color;
      }
    }
  }
  header {
    background-color: $my-paper-color;
    h1 {
      text-align: center;
      padding: 2rem;
      color: rgb(208, 204, 196);
    }
    #draw-types {
      width: 100%;
      min-height: 5rem;
      border-bottom: 2px solid $muji-cover;

      display: flex;
      justify-content: center;
      ul {
        padding: 1rem;
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
        li {
          padding: 1rem;
          padding-right: 1.5rem;
          font-size: $font-size-normal;
          &:hover {
            // appears a comeau line
          }
        }
        #noodlesTab {
        }
        #cafeTab {
        }
        #dodoTab {
        }
        #skecthTab {
        }
        #archTab {
        }
        #randomTab {
        }
      }
    }
  }
  main {
    background: $my-paper-color;
    height: 400vh;
    position: relative;

    #drawSections {
      height: 400vh;
      z-index: 2;

      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 1000px) minmax(
          7%,
          1fr
        );
      gap: 1rem;
      .drawSection {
        // height: 300px;
        grid-column: 2;
      }
      .title {
        padding: 3rem;
        text-align: center;
        color: rgb(104, 104, 104);
        font-variation-settings: 'MONO' 0, 'CASL' 0.2,
          'wght' $font-weight-lighter, $slnt;
        .titleSign {
          padding-right: 1rem;
          color: rgb(128, 128, 128);
          font-variation-settings: 'MONO' 1, 'CASL' 0.9,
            'wght' $font-weight-light, $slnt;
        }
      }
      picture {
        padding-bottom: 6rem;
        height: auto;
      }

      #noodlesDraws {
        .title {
        }
        #hidro {
          place-self: center;
          padding-left: 8vw;
          padding-right: 8vw;
        }
      }
      #cafeDraws {
        #cafe-two-woman {
        }
      }
      #dodoDraws {
      }
      #archDraws {
      }
      #randomDraws {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .title {
          grid-column: 1/4;
          grid-row: 1;
        }
        .rabbit {
          grid-column: 3;
          grid-row: 2;
        }
      }
    }

    #trampolin-wrapper {
      position: absolute;
      height: 90%;
      width: 3%;
      right: 0px;
      bottom: 0px;
      display: flex;
      align-items: flex-start;
      justify-content: right;
      #trampolineEmoji {
        position: sticky;
        align-self: flex-end;
        z-index: 9;

        text-decoration: none;
        padding: 3rem;
        font-size: $font-size-huge;
        transition: $trans-fast;
        cursor: $cursor-pointer-hand-flip;
        &:hover {
          // cursor: $cursor-pointer-hand-flip;
          transform: scale(1.1);
          transform: translateY(-0.2rem);
        }
        &:active {
          transform: scale(0.9);
          transform: translateY(0.3rem);
        }
      }
    }
  }
  #footer {
    z-index: -1;
    position: sticky;
    height: 60vh;
    bottom: 0px;
    width: 100%;
    background: $muji-cover;

    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    #placa {
      display: none;
    }
    #wrapper {
      z-index: -1;
      grid-column: 2;

      display: grid;
      justify-content: center;
      gap: 4rem;
      grid-template-rows: 1fr 4rem 4rem 1fr;
      color: white;

      span {
        transition: $trans-normal;
        margin: 0.5rem;
      }
      .morePrj {
        //a
        z-index: -1;
        text-decoration-color: transparent;

        color: $my-paper-color;
        font-size: 2.3rem;
        align-self: center;
        transition: $trans-normal;

        &:hover {
          text-decoration-color: white;
        }
        &:active {
          text-decoration-color: white;
        }
      }
      #nextPrj {
        grid-row: 2;

        margin-left: 0rem;
        &:hover {
          #Rarrow {
            margin-left: 1rem;
          }
        }
        &:active {
          #Rarrow {
            margin-left: 1rem;
          }
        }
      }
      #prevPrj {
        grid-row: 3;

        margin-right: 0rem;
        &:hover {
          #Larrow {
            margin-right: 1rem;
          }
        }
        &:active {
          #Larrow {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
