@import '../../../../scss/variables';
@import '../../../../scss/globals';
@import '../../../../scss/font-anim-keyframes';

article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
}
// #viewContainer
body {
  overflow-x: hidden;
  height: 100%;
  font-size: 1.8rem;
  font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' $font-weight-lighter;
  cursor: $cursor-pointer-hand;
  --bg-color: rgb(26, 21, 36);
  --text-color: #ffa8d6;
  background-color: var(--bg-color);
  &.section1 {
    --bg-color: #000;
    --text-color: #ff4646;
    .Title__MainWrapper {
      .episode::after {
        content: '1';
      }
      #Title__Main::after {
        content: 'Mother & Methuselah';
      }
      #Title__Second::after {
        content: 'the first Earth seed';
      }
      #epSign::after {
        content: '#';
      }
      #epEmoji::after {
        content: '🐔';
      }
    }
  }
  &.section2 {
    --bg-color: #f9d1cf;
    --text-color: #000;
    .Title__MainWrapper {
      .episode::after {
        content: '2';
      }
      #Title__Main::after {
        content: 'Back Street';
      }
      #Title__Second::after {
        content: 'Faces comes out of the rain';
      }
      #epSign::after {
        content: '@';
      }
      #epEmoji::after {
        content: '🧂';
      }
    }
  }

  &.section3 {
    --bg-color: #33d17c;
    --text-color: #000;
    .Title__MainWrapper {
      .episode::after {
        content: '3';
      }
      #Title__Main::after {
        content: 'Friends & Chips';
      }
      #Title__Second::after {
        content: 'spicy and sweat';
      }
      #epSign::after {
        content: '⁉';
      }
      #epEmoji::after {
        content: '🍥';
      }
    }
  }
  &.section4 {
    --bg-color: #3e44c8;
    --text-color: #fff;
    .Title__MainWrapper {
      .episode::after {
        content: '4';
      }
      #Title__Main::after {
        content: 'Coming Soon'; //Shadow & Sharpie
      }
      #Title__Second::after {
        content: 'between Jan. & Dec.'; //Like topping ingredients on the pizza
      }
      #epSign::after {
        content: 'π';
      }
      #epEmoji::after {
        content: '🍙';
      }
    }
  }
  &.section5 {
    --bg-color: #fff23f;
    --text-color: #000;
    .Title__MainWrapper {
      .episode::after {
        content: '5';
      }
      #Title__Main::after {
        content: 'Coming Soon'; //Double Chesse
      }
      #Title__Second::after {
        content: 'on February 29th'; //I like it more than double beef
      }
      #epSign::after {
        content: '“';
      }
      #epEmoji::after {
        content: '🍕';
      }
    }
  }
  .left-arrow {
    position: fixed;
    transition: 1.5s;
    border: 1px solid var(--text-color);
    height: 3.5rem;
    top: 1.5rem;
    padding: 0.23rem 0.3rem;
    .link-a {
      padding: 0.7rem;
      color: var(--text-color);
      font-size: 2.2rem;
      transition: inherit;
      &:hover {
        transition: 0.4s;
        color: var(--bg-color);
      }
    }
    .logo-frame {
      top: 1.9rem;
      left: 5.9rem;
      position: fixed;
      .logo-svg {
        width: 2.4rem; //adjust logo size
        .hc-logo {
          fill: rgb(240, 238, 225);
          transition: opacity 2s;
          opacity: 0.01;
        }
      }
    }
    &:hover {
      background-color: var(--text-color);
      .logo-frame {
        left: 6.4rem;
        .hc-logo {
          fill: $blue-purple-tech;
          opacity: 1;
        }
      }
    }
  }
  #header {
    position: fixed;
    right: 2rem;
    top: 1.5rem;
    z-index: 9;
    display: flex; // block;

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.4rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: 1.3rem;
      color: var(--text-color);
      border: 1px solid var(--text-color);
      background-color: var(--bg-color);
      transition: 1.5s;
      &:hover {
        background-color: var(--text-color);
        color: var(--bg-color);
        transition: 0.5s;
      }
    }
    #whyAnalog {
    }
    #flash {
      padding-bottom: 0.7rem;
      margin-left: 0.7rem;
    }
    #flashInside {
      // display: hidden;
    }
  }
  // main is the pics, scrool obj and the title box
  .main {
    cursor: $cursor-pointer-hand;
    // my page custom scroller
    .dragWrapper {
      //   width: 70%;
      //   height: 25%;
      //   position: absolute;
      //   top: 0rem;
      //   left: 15%;
      //   z-index: -9;
      //   touch-action: pan-y;
      //   user-select: none;
    }
    .dragObj {
      //   position: absolute;
      //   top: 0rem;
      //   left: 0;
      //   #line {
      //     height: 7vh;
      //   }
      //   #presser {
      //   }
    }
    // TITLES
    .Title__MainWrapper {
      position: fixed;
      bottom: calc(5vh + 2rem);
      left: calc(50vw - 28rem / 2);
      z-index: 9;
      color: var(--text-color);
      border: 1.5px solid var(--text-color);
      background-color: var(--bg-color);
      transition: 1.5s;

      display: grid;
      grid-template-columns: 4rem 20rem 4rem;
      text-align: center;
      .Title__Number {
        grid-column: 1;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 1.4rem;
        padding: 0.8rem;
        // transition: inherit;
      }
      .Title__Title {
        grid-column: 2;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.3rem;
        border-left: 1.5px solid var(--text-color);
        border-right: 1.5px solid var(--text-color);
        transition: border 1.5s;

        #Title__Main {
          font-size: 1.8rem;
          // &::after {
          //   content: 'Mother & Methuselah';
          // }
        }
        #Title__Second {
          font-size: 1.3rem;
          margin-top: 0.5rem;
          // &::after {
          //   content: 'the first Earth seed';
          // }
        }
      }
      .Title__SignAndEmoji {
        grid-column: 3;
        height: 100%;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: stretch;
        #epSign,
        #epEmoji {
          padding: 1rem 1rem;
          // font-size: 1.8rem;
          transition: border 1s;
        }
        #epSign {
          font-size: 1.6rem;
          border-bottom: 1.5px solid var(--text-color);
          // &::after {
          //   content: '#';
          // }
        }
        #epEmoji {
          color: transparent;
          text-shadow: 0px 0px 0px var(--text-color);
          opacity: 0.3;
          // &::after {
          //   content: '🐔';
          // }
        }
      }
      &:hover {
        #epEmoji {
          color: var(--text-color);
          opacity: 1;
        }
      }
    }
    // #viewcontainer
    .panel {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--bg-color);
      color: var(--text-color);
      transition: 2s;
      overflow-x: hidden;
      cursor: $cursor-pointer-hand;
      .panel-content {
        cursor: $cursor-pointer-hand;
        margin: 2rem;
        margin-top: 12vh;
        margin-bottom: 12vh;
        padding: 1rem;
        // border: 3px solid rgba(250, 172, 109, 0.132);
        width: 66%;

        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 12vh * 2);
      }
      .horizontal-wrapper {
        cursor: $cursor-pointer-hand;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: calc(100vh - 12vh * 2);

        // section
        .block {
          width: 100%;
          height: 100%;
          // border: 3px solid rgba(85, 204, 255, 0.057);
          // background-color: rgba(141, 230, 255, 0.05);

          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;

          .ScollView__ScrollItem {
            width: 85vmin;
            height: 85vmin;
            margin: 0rem 5vw;

            // border: 3px solid rgba(52, 255, 21, 0.091);
            // background-color: rgba(198, 255, 141, 0.057);

            display: flex;
            align-items: center;
            position: relative;
            .ScrollView__Motion {
              flex: 1 0 auto;
              width: 100%;
              height: 100%;

              //a
              .ThumbnailScroll__ImgWrapper {
                width: 100%;
                color: inherit;
                background-color: transparent;
                .ThumbnailScroll__Img {
                  max-height: 100%;
                  position: absolute;
                  z-index: 5;
                  width: 100%;
                  height: 100%;
                  //don't appear this class name on the foam div
                  .ThumbnailScroll__Inner {
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    inset: 0px;
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    picture {
                      img {
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-width: 100%;
                        margin: auto;
                        padding: 0px;
                        inset: 0px;
                        position: absolute;
                        object-fit: contain;
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
          &.active {
          }
        }
      }
    }

    #footer {
      position: absolute;
      position: fixed;
      // #trampolin-wrapper {
      //   position: fixed;
      //   height: 4vh;
      //   width: 100vw;
      //   left: 0px;
      //   inset: 0px;
      //   top: 0px; // in desktop is 0px
      //   display: flex;
      //   align-items: flex-end; //start
      //   justify-content: right;
      //   overflow: hidden;
      //   #trampolineEmoji {
      //     position: fixed; /* Fixed/sticky position */
      //     overflow: hidden;
      //     bottom: 2.3rem; /* Place the button at the bottom of the page */
      //     right: 1rem;
      //     @media (max-width: 768px) {
      //       bottom: 1rem;
      //       right: 0.6rem;
      //     }
      //     text-align: center;
      //     text-decoration: none;
      //     padding: 2rem; /* Some padding */
      //     font-size: 3.3rem;
      //     @media (max-width: 768px) {
      //       font-size: 2.3rem;
      //     }
      //     transition: $trans-fast;
      //     opacity: 0.33;
      //     cursor: $cursor-pointer-hand-flip;
      //     &:hover {
      //       opacity: 1;
      //       cursor: $cursor-pointer-hand-flip;
      //       transform: translateY(-0.2rem);
      //     }
      //     &:active {
      //       transform: translateY(0.2rem);
      //     }
      //   }
      // }
    }
    .proxy {
      position: absolute;
      visibility: hidden;
    }
  }
}
