body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
body .container {
  width: 100%;
  height: 100%;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
}
body .container section {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
body .container section:nth-of-type(1) {
  background-color: bisque;
  color: rgb(1, 1, 2);
}
body .container section:nth-of-type(2) {
  background-color: rgb(230, 126, 0);
  color: rgb(241, 226, 255);
}
body .container section:nth-of-type(3) {
  background-color: rgb(255, 185, 100);
  color: rgb(194, 150, 235);
}
body .container section h1 {
  font-size: 8rem;
}