@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: black;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body .left-arrow {
  padding-top: 1rem;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding: 2rem;
  font-size: calc(0.5vw + 0.8vw + 40px);
  transition: 0.45s;
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .link-a #left-arrow {
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 0.7rem;
  top: 0.2rem;
}

body .left-arrow .logo-frame .logo-svg {
  width: 36px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 1rem;
}

body .left-arrow:hover .logo-frame .hc-logo {
  fill: rgba(252, 252, 252, 0.6);
}

body ul {
  list-style: none;
}

body a {
  color: #621bc5;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body a:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

body #trampolineEmoji {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 2rem;
  /* Place the button at the bottom of the page */
  right: 4rem;
  /* Place the button 30px from the 
    z-index: 9; /* Make sure it does not overlap */
  text-decoration: none;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 3.5rem;
  /* Increase font size */
  transition: 0.15s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
}

body #trampolineEmoji:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
  transform: scale(1.1);
}

body #trampolineEmoji:active {
  transform: scale(0.9);
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

.preloader #emoji-loader,
.preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

.preloader #emoji-loader {
  font-size: 6rem;
  animation: spin 2.6s infinite ease;
  height: 7rem;
  width: 7rem;
}

.preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.5vw - 0vw + 12px);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes variableOpacity {
  0% {
    opacity: 100%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes gifFrame1 {
  0% {
    opacity: 100%;
  }
  24% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame2 {
  0% {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame3 {
  0% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  76% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  76% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

@keyframes slintness {
  0% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
  40% {
    font-variation-settings: "slnt" -15, "CRSV" 1;
  }
  100% {
    font-variation-settings: "slnt" 0, "CRSV" 1;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  font-variation-settings: "MONO" 1, "CASL" 0, "wght" 620, "slnt" 0;
  font-size: calc(0.5vw + 0.3vw + 13px);
  color: #323232;
}

body main {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 10rem 1fr 10rem;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  background: #fffff8;
  position: relative;
}

body main .left-arrow {
  grid-column: 1/ 2;
  grid-row: 1 / 2;
}

body main .left-arrow .link-a {
  color: #323232;
}

body main .left-arrow .link-a:hover {
  color: #232522;
}

body main .left-arrow .hc-logo {
  fill: transparent;
}

body main .left-arrow:hover .hc-logo {
  fill: #323232;
}

body main .titles {
  font-variation-settings: "MONO" 1, "CASL" 0.1, "wght" 620;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 300px;
  text-decoration: underline;
  text-decoration-color: #a6a6a6;
  transition: 0.3s;
}

body main .titles:hover {
  text-decoration-color: #323232;
}

body main #about-me {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
}

body main #boring-side {
  transform: rotate(-90deg);
  grid-column: 1/ 2;
  grid-row: 2 / 3;
}

body main #comical-side {
  transform: rotate(90deg);
  grid-column: 3/ 4;
  grid-row: 2 / 3;
}

body main #bottom-side {
  transform: rotate(180deg);
  grid-column: 2/ 3;
  grid-row: 3 / 4;
}

body main #ingredients {
  opacity: 30%;
  width: clamp(280px, 25%, 380px);
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body main #ingredients :after {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d6d6d6;
}

body main #center-box {
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  border: 5px solid #e6e6e6;
  padding: 10rem 5rem;
}

body main #center-box #center-content {
  border: 5px solid #e4e3e3;
  height: 100%;
  display: grid;
  place-items: center;
  width: clamp(400px, 40ch, 45ch);
  margin: 0px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 40%;
}

body main #center-box #center-content .center-p {
  grid-column: 1/ 4;
  grid-row: 2 / 3;
  font-size: 2rem;
  font-variation-settings: "MONO" 1, "CASL" 0.3, "wght" 500;
}

body main #center-box #center-content .center-p span {
  text-decoration: underline;
  z-index: 2;
}

body main #center-box #center-content .center-p span:hover {
  text-decoration: none;
}

body main #center-box #center-content #my-pixel-pic {
  grid-column: 2/ 3;
  grid-row: 3 / 4;
}

body main #center-box #center-content #more-btn {
  align-self: start;
  grid-column: 3/ 4;
  grid-row: 3 / 4;
  border: 2px solid #323232;
  width: clamp(15rem, 10%, 28rem);
  height: 4rem;
  padding: 0.6rem 0.8rem;
  border-radius: 1.1rem;
  background-color: white;
  text-align: center;
  font-size: 1.6rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body main #center-box #center-content #more-btn:hover {
  border: 3px solid #323232;
}

body main #center-box .comical-pics {
  position: absolute;
  opacity: 20%;
}

body main #center-box #my-pic-1 {
  top: 60vh;
  left: 5vw;
}

body main #center-box #my-pic-2 {
  top: 20vh;
  left: 20vh;
}

body footer {
  height: 41vh;
  display: grid;
  background-color: beige;
}

body footer #footer-div {
  padding: 3rem;
}
