@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  border: 0px;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body {
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 1, "CASL" 0.3, "wght" 620, "slnt" 0;
  font-size: calc(0.5vw + 0.3vw + 13px);
}

body header {
  height: 96vh;
  width: calc(100% -4rem);
  background-color: #621bc5;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border: 2rem solid #621bc5;
}

body header #down-arrows {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👇</text></svg>") 16 0, auto;
}

body header #down-arrows pre {
  font-size: calc(0.5vw + 0.4vw + 30px);
  color: #c0def2;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0.5, "CASL" 1, "wght" 400;
  transition: 0.1s;
}

body main {
  height: 100vh;
  width: 100%;
  background: #621bc5;
  background: linear-gradient(180deg, #621bc5 0%, #672eb6 29%, #bfdef2 71%);
}

body main a {
  color: #c0def2;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  position: absolute;
  font-size: calc(0.5vw + 0.8vw + 40px);
}

body main a:hover {
  color: #fcfaf8;
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: white;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body main a #left-arrow {
  margin: 4rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body main .content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

body main .content .box {
  width: 100%;
  max-width: 30%;
  border: 1px solid #1dd75e;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  body main .content .box {
    width: 100%;
    max-width: 40%;
    border: 1px solid #1dd75e;
  }
}

body main .content .title {
  font-variation-settings: "MONO" 0.2, "CASL" 0.8, "wght" 690;
  font-size: calc(0.5vw + 0.8vw + 40px);
  color: #a48cee;
  text-align: center;
  align-self: center;
}

body main .content .subtitle {
  max-width: 500px;
  padding: 4vh;
  font-variation-settings: "CASL" 0.6, "wght" 620;
  color: #c0def2;
  width: 100%;
}

body main .content #aboutContent {
  width: 40vw;
}

body main .content p {
  font-variation-settings: "CASL" 0.6, "wght" 400;
  color: #431485;
  font-size: calc(0.5vw - 0vw + 12px);
  padding: 2vh;
  background: linear-gradient(180deg, #be93f9 0%, #d5c3ee 27%, #c0def2 83%);
}
