/////// a complete page full of arrows
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/globals";

body {
  // background-color: $underline-color;
  font-family: $ff-recursive;
  font-variation-settings: "MONO" 1, $CASL, "wght" $font-weight-normal, $slnt;
  font-size: $font-size-normal;
  /////////////// | V | V | V | V | V | V | V /////////////
  header {
    height: 96vh;
    width: calc(100% -4rem);
    background-color: $font-linked-color;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    // for let text overflow
    // overflow: hidden;
    // white-space: nowrap;
    border: 2rem solid $font-linked-color;
    #down-arrows {
      pre {
        font-size: $font-size-big;
        color: $underline-color;
        font-variation-settings: "MONO" 1, "CASL" 0, "wght" $font-weight-lighter;
        transition: 0.314s;
        &:hover {
          color: $font-linked-hover-color;
        }
      }
    }
  }

  ///////////// SECOND PAGE /////////////
  main {
    height: 100vh;
    width: 100%;
    background: rgb(98, 27, 197);
    background: linear-gradient(
      180deg,
      rgba(98, 27, 197, 1) 0%,
      rgba(191, 222, 242, 1) 43%
    );

    .midGradient {
      position: absolute;
      top: 0px;
      height: 5vh;
      background-color: $about-mid-gradient;
    }

    a {
      color: $background-color;
      font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" $font-weight-light;
      text-decoration: none;
      padding-left: 1rem;
      &:hover {
        color: $background-color;
      }
      #left-arrow {
        //span
        font-size: $font-size-nacho;
        margin: 4rem;
        // cursor: $cursor-please-fingers;
        transition: 1s;
        cursor: $cursor-arrow-hand;
        &:hover {
          /// IMPORTANT note working
          // cursor: $cursor-arrow-hand;
          color: white;
          font-variation-settings: "CASL" 0.9, "wght" $font-weight-light;
        }

        &::after {
          height: 2rem;
          width: 80%;
          color: $font-linked-color;
        }
      }
    }
    .content {
      margin: 7rem;
      h1 {
        font-variation-settings: "MONO" 0.2, "CASL" 0.8,
          "wght" $font-weight-bold;
        font-size: $font-size-nacho;
        color: $josh-blue-white;
        text-align: center;
        margin: 0px auto;
      }
      .aboutContent {
        background-color: $background-color;

        padding: 2.4rem 2rem;
        h3 {
          font-variation-settings: "CASL" 0.6, "wght" $font-weight-normal;
          color: $font-gray;
        }
        p {
          font-variation-settings: "CASL" 0.6, "wght" $font-weight-light;
          color: $font-linked-color;
        }
      }
    }
  }
}
