/////// a complete page full of arrows
@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/font-anim-keyframes";

body {
  // background-color: $underline-color;
  font-family: $ff-recursive;
  font-variation-settings: "MONO" 1, $CASL, "wght" $font-weight-normal, $slnt;
  font-size: $font-size-normal;
  /////////////// | V | V | V | V | V | V | V /////////////

  ///////////// SECOND PAGE /////////////
  main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: rgb(211, 218, 245);

    // BACK ARROW
    .left-arrow {
      padding: 2.5rem;
      .link-a {
        color: $underline-color;
        font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" $font-weight-light;
        text-decoration: none;
        padding-left: 1rem;
        position: absolute;
        font-size: $font-size-nacho;

        &:hover {
          font-variation-settings: "CASL" 0.9, "wght" $font-weight-light;
          color: white;
          cursor: $cursor-arrow-hand;
          display: relative;
        }
        #left-arrow {
          margin: 4rem;
          transition: 1s;
          cursor: $cursor-arrow-hand;
        }
      }
      .logo-frame {
        transition: $trans-normal ease-out;
        position: relative;
        left: 7.5rem;
        top: 1.8rem;
        .logo-svg {
          width: 36px; //adjust logo size
          .hc-logo {
            transition: $trans-normal ease-out;
            fill: transparent; //$font-sutil-gray-color;
          }
        }
      }
      &:hover {
        .logo-frame {
          left: 8rem;
          .logo-svg {
            .hc-logo {
              fill: $background-color;
            }
          }
        }
      }
    }

    // MAIN CONTENT
    .content {
      .title {
        font-variation-settings: "MONO" 0.2, "CASL" 0.8,
          "wght" $font-weight-bold;
        font-size: $font-size-nacho;
        color: $underline-color;
        // margin: 0px auto;
        text-align: center;
        align-self: center;
      }
      .package-sides {
      }
    }

    // OLD VER.
    // display: flex;
    // flex-wrap: wrap;
    // text-align: center;
    // justify-content: center;
    //   //     max-width: 800px;
    //   //     // margin: 4vh;
    //   //     /* We first create a flex layout context */
    //   //     display: flex;
    //   //     /* Then we define the flow direction
    //   //    and if we allow the items to wrap
    //   //  * Remember this is the same as:
    //   //  * flex-direction: row;
    //   //  * flex-wrap: wrap;*/
    //   //     flex-flow: row wrap;
    //   //     /* Then we define how is distributed the remaining space */
    //   //     justify-content: space-around;
    //   .box {
    //     width: 100%;
    //     max-width: 30%;
    //     border: 1px solid $spotify-text-green;
    //     margin: 5px;
    //   }

    //   @media only screen and (max-width: 768px) {
    //     .box {
    //       width: 100%;
    //       max-width: 35%;
    //       // border: 1px solid $spotify-text-green;
    //     }
    //   }
    //   @media only screen and (max-width: 442px) {
    //     .box {
    //       width: 100%;
    //       max-width: 80%;
    //       border: 1px solid $spotify-text-green;
    //     }
    //   }

    //   .subtitle {
    //     // background-color: $background-color;
    //     max-width: 500px;
    //     padding: 4vh;
    //     font-variation-settings: "CASL" 0.6, "wght" $font-weight-normal;
    //     color: $josh-light-blue;
    //     width: 100%;
    //   }
    //   #aboutContent {
    //     width: 40vw;
    //   }
    //   p {
    //     font-variation-settings: "CASL" 0.6, "wght" $font-weight-lighter;
    //     color: $font-dark-linked-color;
    //     font-size: $font-size-small;
    //     padding: 2vh;
    //     background: linear-gradient(
    //       180deg,
    //       rgb(190, 147, 249) 0%,
    //       rgb(213, 195, 238) 27%,
    //       $josh-light-blue 83%
    //     );
    //   }
    // }
  }

  footer {
    height: 41vh;
    background-color: beige;
    #footer-div {
      padding: 3rem;
    }
  }
}
