@import '../../scss/globals';
@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/font-anim-keyframes';

body {
  // width: 100%;
  font-variation-settings: 'MONO' 1, 'CASL' 0, 'wght' $font-weight-normal, $slnt;
  font-size: $font-size-normal;
  font-size: 1.5rem;
  @media (min-width: 800px) {
    font-size: 1.7rem;
  }
  @media (min-width: 1300px) {
    font-size: 2rem;
  }
  main {
    display: grid;
    grid-template-columns: minmax(8vw, 10rem) 1fr minmax(8vw, 10rem);
    grid-template-rows: minmax(8vh, 8rem) 1fr minmax(8vh, 8rem);
    height: 100vh;
    width: 100%;
    // width: clamp(600px, 100vw, 1300px); // need important change revision
    margin: 0px auto;

    background: white;

    position: relative; // for place the photos of the comical

    // BACK ARROW 1/2 1/2
    .left-arrow {
      grid-column: 1;
      grid-row: 1;
      place-self: center;
      margin-top: 1rem;
      .link-a {
        height: 70%;
        padding: 0rem;
        padding-left: 2rem;
        // padding-top: 50rem;
        padding-right: 2rem;
        color: $font-black;
        font-variation-settings: 'MONO' 0, 'CASL' 0.3, 'wght' $font-weight-light;
        &:hover {
          color: $font-black;
        }
      }
      .hc-logo {
        fill: transparent; //$font-sutil-gray-color;
      }
      &:hover {
        .hc-logo {
          fill: transparent;
        }
      }
    }
    .closeBtn {
      z-index: 99;
      font-variation-settings: 'MONO' 0, 'CASL' 0.3, 'wght' $font-weight-lighter;
      font-size: 2.3em;
      color: $font-black;
      padding: 4rem;
      padding-left: 6rem;
      grid-column: 1;
      grid-row: 1;

      cursor: $cursor-please-fingers;
      transition: $trans-slow;
      &:hover {
        font-variation-settings: 'CASL' 0.9, 'wght' $font-weight-lighter;
      }
    }

    // THE FOUR TITLES
    .titles {
      font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' $font-weight-lighter;
      font-size: 1.5em;
      color: $font-black;

      align-self: center;
      justify-self: center;
      text-align: center;

      min-width: 37rem;
      text-decoration: underline;
      text-decoration-color: $light-gray;

      will-change: transform;
      transition: $trans-normal;
      z-index: 1;

      &:hover {
        text-decoration-color: $font-black;
        font-variation-settings: 'MONO' 1, 'CASL' 0.1,
          'wght' $font-weight-normal;
      }
      &#about-me {
        grid-column: 2/ 3;
        grid-row: 1 / 2;
        text-decoration: none;
        cursor: $cursor-pointer-down-hand;
        &:hover {
          text-decoration: none;
          font-variation-settings: 'MONO' 1, 'CASL' 0.1,
            'wght' $font-weight-lightest;
        }
      }
      &#boring-side {
        transform: rotate(-90deg);
        grid-column: 1/ 2;
        grid-row: 2 / 3;
        cursor: $cursor-right-hand;
      }
      &#comical-side {
        transform: rotate(90deg);
        grid-column: 3/ 4;
        grid-row: 2 / 3;
        cursor: $cursor-arrow-hand;
      }
      &#bottom-side {
        transform: rotate(180deg);
        grid-column: 2/ 3;
        grid-row: 3 / 4;
        text-decoration: none;
        cursor: $cursor-pointer-down-hand;
        &:hover {
          text-decoration: none;
          font-variation-settings: 'MONO' 1, 'CASL' 0.1,
            'wght' $font-weight-lightest;
        }
      }
    }

    .ingredients {
      width: clamp(280px, 25%, 380px);
      z-index: 6;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // A darker bg
      :after {
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $lighter-gray;
      }
    }
    // CENTER CONTENT
    #center-box {
      grid-column: 2/ 3;
      grid-row: 2 / 3;
      // border: 1px solid rgb(240, 240, 240);
      display: grid;
      place-items: center;

      #center-content {
        // border: 1px solid rgb(232, 232, 232);
        height: 100%;
        z-index: 1;
        line-height: 1.4;
        display: grid;
        place-items: center;
        width: clamp(300px, 70%, 50ch);
        height: clamp(300px, 30vh, 40vh);

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        #center-Ps {
          grid-column: 1/ 4;
          grid-row: 2 / 3;
          a {
            color: inherit;
            text-decoration: underline;
            &#spain {
              &:hover {
                cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='25' height='31' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>🧅</text></svg>")
                    16 0,
                  auto;
              }
            }
            &#taiwan {
              &:hover {
                cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='57%'>🍦</text></svg>")
                    16 0,
                  auto;
              }
            }
          }

          position: relative;
          .center-p {
            font-variation-settings: 'MONO' 1, 'CASL' 0,
              'wght' $font-weight-light;
            z-index: 2;
            text-align: center;
            span {
              text-decoration: underline;
              z-index: 4;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .text-char {
          grid-column: 2;
          grid-row: 3;
          height: 100%;
          width: 100%;
          justify-self: end;
          // border: 3px solid rgba(255, 0, 0, 0.185);

          display: flex;
          justify-content: end;
          align-items: center;
          .innerWrapper {
            transform: translateY(20%);
            width: 100%;
            height: 100%;

            svg {
              overflow: visible;
              transition: 0.3s;
              transition: font-variation-settings 0.5s, fill 0.3s,
                transform 0.5s;
              // all the chars
              .text-alien-chars {
                will-change: transition;
                transition: inherit;
                font-family: 'Recursive', sans-serif;
                fill: rgb(29, 29, 29);
              }
              #theC {
                fill: rgb(227, 227, 227);
                font-variation-settings: 'MONO' 1, 'CASL' 0,
                  'wght' $font-weight-extra-black;
              }
              .theL-E {
                font-variation-settings: 'MONO' 0.1, 'CASL' 1,
                  'wght' $font-weight-lightest;
              }
              .theR-E {
                font-variation-settings: 'MONO' 0.1, 'CASL' 1,
                  'wght' $font-weight-lightest;
              }
              // Make é disappear for BLINK
              .normal {
                animation: blinkE 7s linear infinite;
                will-change: opacity;
              }
              @keyframes blinkE {
                0% {
                  opacity: 100%;
                }
                33% {
                  opacity: 100%;
                }
                34% {
                  opacity: 0%;
                }
                36% {
                  opacity: 0%;
                }
                37% {
                  opacity: 100%;
                }
                85% {
                  opacity: 100%;
                }
                86% {
                  opacity: 0%;
                }
                88% {
                  opacity: 0%;
                }
                89% {
                  opacity: 100%;
                }
                97% {
                  opacity: 100%;
                }
                98% {
                  opacity: 0%;
                }
                100% {
                  opacity: 0%;
                }
              }
              #theO {
                transition: font-variation-settings 0.5s, fill 0.3s,
                  transform 0.3s;
                font-variation-settings: 'MONO' 1, 'CASL' 0,
                  'wght' $font-weight-lighter;
              }
            }
          }
        }
        #more-btns {
          z-index: 2;
          grid-column: 2 /4;
          grid-row: 3;
          align-self: start;
          justify-self: end;

          margin-right: 5%;
          margin-top: 1rem;
          overflow: visible;

          &:hover ~ .text-char {
            .innerWrapper {
              svg {
                #theC {
                  animation: colorFlow 1.7s infinite alternate;
                  font-family: 'Recursive', sans-serif;
                  font-variation-settings: 'MONO' 1, 'CASL' 0,
                    'wght' $font-weight-bolder;
                }
                @keyframes colorFlow {
                  0% {
                    fill: rgb(227, 227, 227);
                  }
                  20% {
                    fill: rgb(241, 234, 245);
                  }
                  50% {
                    fill: rgb(240, 240, 234);
                  }
                  100% {
                    fill: rgb(237, 233, 233);
                  }
                }
                .theL-E {
                  transform: scale(1.1) translate(-6%, -14%);
                  fill: rgb(58, 58, 58);
                  font-variation-settings: 'MONO' 0.1, 'CASL' 1,
                    'wght' $font-weight-lighter;
                }
                .theR-E {
                  transform: scale(1.1) translate(-3.5%, -14%);
                  fill: rgb(41, 41, 41);
                  font-variation-settings: 'MONO' 0.1, 'CASL' 1,
                    'wght' $font-weight-lighter;
                }
                #theO {
                  transform: scale(1.2) translate(-9%, -20%);
                  fill: rgb(40, 40, 40);
                  font-variation-settings: 'MONO' 1, 'CASL' 0.5,
                    'wght' $font-weight-light;
                }
              }
            }
          }
          // O makes bigger
          &:active ~ .text-char {
            .innerWrapper {
              svg {
                #theO {
                  transform: scale(1.6) translate(-19.3%, -39%);
                  font-variation-settings: 'MONO' 1, 'CASL' 0.5,
                    'wght' $font-weight-normal;
                }
              }
            }
          }
          //btn
          .more-btn {
            cursor: $cursor-please-fingers;
            font-weight: 500;
            text-align: center;
            font-size: 0.8em;
            margin: 0px auto;

            //style the btn
            border: 2px solid $dark-gray;
            border-radius: 1.1rem;
            height: 3.8rem;
            padding: 0.2rem 1rem;

            background-color: white;

            transition: $trans-normal;
            will-change: transform;
            &:hover {
              transform: translateY(-0.13rem);
            }
            &:active {
              transform: translateY(0.17rem);
            }
          }
        }
      }

      ////// COMICAL SIDE ///////////
      #comical-pics {
        opacity: 100%;
        z-index: 2;
        transition: $trans-normal;
        @keyframes toUpRight {
          to {
            transform: translate(2rem, -2rem);
          }
        }
        @keyframes toDownLeft {
          to {
            transform: translate(-2.3rem, 2rem);
          }
        }
        @keyframes toUpLeft {
          to {
            transform: translate(-2.6rem, -3rem);
          }
        }
        @keyframes lToR {
          to {
            transform: translateX(7rem);
          }
        }
        @keyframes btmToTop {
          to {
            transform: translateY(-5rem);
          }
        }
        @keyframes parabola {
          25% {
            transform: translate(0.6rem, -0.7rem);
          }
          50% {
            transform: translate(1.5rem, -1rem);
          }
          75% {
            transform: translate(2.6rem, -0.7rem);
          }
          100% {
            transform: translate(3rem, 0rem);
          }
        }
        .comical-pic {
          will-change: transform;
          position: absolute;
          border-radius: 7px;
          -webkit-filter: grayscale(
            1
          ); /* Google Chrome, Safari 6+ & Opera 15+ */
          filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
          &:hover {
            -webkit-filter: grayscale(0);
            filter: none;
          }
        }
        #my-pic-1 {
          top: 15vh;
          left: 9vw;
          width: calc(30px + 9vw);
          animation: parabola 6s linear 2s infinite alternate;
        }
        #my-pic-2 {
          bottom: 15vh;
          left: 11vw;
          width: calc(45px + 9vw);
          animation: toUpRight 5s ease 4s infinite alternate;
        }
        #my-pic-3 {
          top: -2vh;
          right: 13vh;
          width: calc(50px + 10vw);
          animation: btmToTop 10s ease 1s infinite alternate;
        }
        #my-pic-4 {
          top: 15vh;
          left: 31vw;
          width: calc(27px + 10vw);
          animation: toUpLeft 7s linear 5s infinite alternate;
        }
        #my-pic-5 {
          top: 41vh;
          right: 11vw;
          width: calc(39px + 10vw);
          // animation: parabola 8s linear 2s infinite alternate;
        }
        #my-pic-6 {
          bottom: 11vh;
          right: 43vw;
          width: calc(8px + 9vw);
          animation: toUpRight 10s ease 3s infinite alternate;
        }
        #my-pic-7 {
          top: 19vh;
          right: 31vw;
          width: calc(15px + 10vw);
          animation: toUpRight 10s ease 5s infinite alternate;
        }
        #my-pic-8 {
          bottom: 7vh;
          right: 15vw;
          width: calc(65px + 8vw);
          animation: lToR 13s ease 3s infinite alternate;
        }
        #my-pic-9 {
          top: 44vh;
          left: 24vw;
          width: calc(40px + 10vw);
          animation: lToR 13s ease 3s infinite alternate;
        }
      }
    }
  }

  footer {
    height: 41%;
    background-color: $light-gray;
    #footer-inside {
      // display: grid;
      padding: 3rem;
      h2 {
        margin-bottom: 0.5rem;
        font-size: 5em;
      }
      a {
        color: black;
        &:hover {
          opacity: 0.5;
        }
      }
      p {
        margin-bottom: 1rem;
        font-size: 1em;
        line-height: 1.4;
      }
      // #who-really {
      //   // max-width: 50%;
      // }
      // #how-this-page {
      // }
      #contact {
        text-align: end;
        a {
          padding: 1rem;
        }
      }
      #cmyk {
        font-size: 1.07em;
        text-align: end;
        filter: grayscale(100%);
        transition: 2.9s;
        a {
          text-decoration: none;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          filter: none;
        }
        #cyan {
          color: cyan;
        }
        #magenta {
          color: magenta;
        }
        #yellow {
          color: yellow;
        }
        #black {
          color: black;
        }
      }
    }
    @media (min-width: 800px) {
      overflow-y: hidden;
      #footer-inside {
        display: grid;
        // gap: 2rem;
        max-height: 71vh;
        h2 {
          grid-column: 1;
          grid-row: 1 / 3;
          font-size: 5em;
          line-height: 1;
          // word-break: break-all;
        }

        #who-really {
          // max-width: 50%;
          grid-column: 2;
        }
        #how-this-page {
          grid-column: 2;
        }

        #contact {
          grid-column: 2;
        }
        #cmyk {
          grid-column: 2;
        }
      }
    }
    @media (min-width: 1400px) {
      overflow-y: hidden;
      #footer-inside {
        display: grid;
        gap: 1.7rem;
        max-height: 71vh;
        max-width: 61vw;
        h2 {
          max-width: 37vw;
          justify-self: end;
          grid-column: 1;
          grid-row: 1 / 7;
          font-size: 8em;
          line-height: 1;
          // word-break: break-all;
        }
        #who-really {
          // max-width: 50%;
          grid-column: 2;
          grid-row: 1;
        }
        #how-this-page {
          grid-column: 2;
          grid-row: 3;
        }

        #contact {
          grid-column: 2;
          grid-row: 4;
        }
        #cmyk {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
  }

  //////////////////////////////
  /////////////////////////////
  //////////// FOR JS /////////
  /* The bitton to show the stuff */
  /* CLASSES TO MAKE MODAL WORK */
  .hidden {
    display: none;
  }
}
