@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  border: 0px;
  color: #232522;
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👆</text></svg>") 16 0, auto;
}

body ::selection {
  background-color: #fff705;
  color: #5b5957;
}

body h1 {
  font-size: 3.7rem;
}

body {
  font-family: "Recursive", consolas, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", color-emoji;
  font-variation-settings: "MONO" 1, "CASL" 0.3, "wght" 620, "slnt" 0;
  font-size: 2rem;
}

body header {
  height: 96vh;
  width: calc(100% -4rem);
  background-color: #621bc5;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border: 2rem solid #621bc5;
}

body header #down-arrows {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👇</text></svg>") 16 0, auto;
}

body header #down-arrows pre {
  font-size: 2.5rem;
  color: #a48cee;
  font-variation-settings: "MONO" 1, "CASL" 0, "wght" 400;
  transition: 0.314s;
}

body header #down-arrows pre:hover {
  color: #8c12f8;
}

body main {
  height: 100vh;
  width: 100%;
  background: #621bc5;
  background: linear-gradient(180deg, #621bc5 0%, #672eb6 27%, #bfdef2 83%);
}

body main .midGradient {
  background-color: linear-gradient(180deg, #621bc5 0%, #bfdef2 100%);
}

body main a {
  color: #fcfaf8;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
}

body main a:hover {
  color: #fcfaf8;
}

body main a #left-arrow {
  font-size: 6rem;
  margin: 4rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
  transition: 1s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body main a #left-arrow:hover {
  color: white;
  font-variation-settings: "CASL" 0.9, "wght" 500;
}

body main a #left-arrow::after {
  height: 2rem;
  width: 80%;
  color: #621bc5;
}

body main .content {
  margin: 7rem;
}

body main .content h1 {
  font-variation-settings: "MONO" 0.2, "CASL" 0.8, "wght" 730;
  font-size: 6rem;
  color: #eff1f5;
  text-align: center;
  margin: 0px auto;
}

body main .content .aboutContent {
  background-color: #fcfaf8;
  padding: 2.4rem 2rem;
}

body main .content .aboutContent h3 {
  font-variation-settings: "CASL" 0.6, "wght" 620;
  color: #5b5957;
}

body main .content .aboutContent p {
  font-variation-settings: "CASL" 0.6, "wght" 500;
  color: #621bc5;
}
