@import '../../../../../scss/variables';
@import '../../../../../scss/globals';
@import '../sub-design-global.scss';

body {
  //////////////////////////////////////////
  $design-text-color: hsl(0, 0%, 21%);
  $design-white-color: rgb(244, 242, 235);
  $design-subpg-bg: hsl(0, 0%, 100%);
  ///////////////////////////////////////////
  font-family: $ff-space-grotesk;
  background-color: $design-subpg-bg;
  width: 100vw;
  font-weight: 300;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $design-subpg-bg;
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $design-text-color;
      font-family: $ff-grotesk-mono;
      font-size: 1.8rem;
    }
  }
  header {
    .absolute-nav {
      position: absolute; //fixed
      top: 0rem;
      z-index: 19;
      display: flex;
      align-items: center;
      height: 6rem;
      width: 100%;
      .left-arrow {
        top: 1rem !important;
        .link-a {
          color: $design-text-color;
        }
      }
      .main-header {
        line-height: 6rem;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0.3rem 0.6rem #b1b1b1, 0px 0.15rem 0.2rem #d8d8d8;
        h1 {
          color: $design-text-color;
          background-color: $design-subpg-bg;
          font-weight: 700;
          font-size: 2.3rem;
        }
      }
    }
  }
  main {
    display: grid; //trampemoji
    .w-part {
      width: 100%;
      grid-column: 1 / 5;
      display: grid;

      grid-template-columns: minmax(7%, 1fr) minmax(250px, 900px) minmax(
          7%,
          1fr
        );
      .inner-w-part {
        grid-column: 2;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        a {
          color: inherit;
          text-decoration: underline;
          text-decoration-color: rgb(160, 160, 160);
          transition: 0.3s;
          &:hover {
            text-decoration-color: rgb(0, 0, 0);
          }
        }
        // .hero-image {
        //   width: 100%;
        // }
        // .normal-image {
        //   width: 30%;
        // }
        // .small-image {
        //   width: 19%;
        // }
        // .txt-l {
        //   text-align: left;
        // }
        // .txt-c {
        //   text-align: center;
        // }
        // .txt-r {
        //   text-align: right;
        // }
        .www {
          font-family: $ff-tourney;
          font-weight: 200;
          text-transform: uppercase;
          font-size: 5rem;
          margin-bottom: 0.3rem;
        }
        .w-texts {
          font-family: $ff-space-grotesk;
          .w-para {
            margin-bottom: 4rem;
            margin-right: 19%;
            font-size: 1.6rem;
          }
        }
        .info-text {
          font-family: $ff-grotesk-mono;
          padding: 0.5rem;
        }

        //MARGIN TOP
        .margin-top {
          grid-column: 1 / 4;
          margin: 5rem;
          grid-row: 1;
        }

        ////////////////////////
        // COLUMN 1 ////////////
        .cl-1 {
          grid-column: 1;
          // grid-row: 1;
        }
        #why {
          grid-row: 2;
        }
        .why-text1 {
          padding-top: 6rem;
          grid-row: 2;
        }

        ////////////////////////
        // COLUMN 2 ///////////
        .cl-2 {
          grid-column: 2;
        }
        #where {
          grid-row: 2;
        }
        .where-text1 {
          padding-top: 6rem;
          grid-row: 2;
        }
        ////////////////////////
        // COLUMN 3 //////////
        .cl-3 {
          grid-column: 3;
        }
        #what {
          grid-row: 2;
        }
        .what-text1 {
          grid-row: 2;
          padding-top: 6rem;
        }

        // MOBILE
        @media (max-width: 760px) {
          grid-template-columns: unset;

          .w-texts {
            .w-para {
              margin-right: unset;
              padding-left: 11%;
              font-size: 1.5rem;
            }
          }

          .cl-1,
          .cl-2,
          .cl-3 {
            grid-column: 1;
          }
          ////////////////////////
          // ROW 1 ////////////
          #why {
            grid-row: 2;
          }
          .why-text1 {
            padding-top: 6rem;
            grid-row: 2;
          }

          ////////////////////////
          // ROW 2 ///////////
          #where {
            grid-row: 3;
          }
          .where-text1 {
            padding-top: 6rem;
            grid-row: 3;
          }
          ////////////////////////
          // ROW 3 //////////
          #what {
            grid-row: 4;
          }
          .what-text1 {
            grid-row: 4;
            padding-top: 6rem;
          }
        }
      }
    }
    .contain-part {
      grid-column: 1 / 5;
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-columns: minmax(7%, 1fr) minmax(250px, 900px) minmax(
          7%,
          1fr
        );
      .full-wrapper {
        grid-column: 1 / 4;
        picture {
          img {
            width: 100%;
            margin: 0px auto;
            max-width: 900px;
          }
        }
        .info-text {
          font-family: $ff-grotesk-mono;
          padding: 0.5rem;
        }
        &.wrapper-1 {
          grid-row: 4;
          #el-1-up {
            font-family: $ff-tourney;
            padding-top: 7rem;
            font-size: 6rem;
            transform: translateY(1.5rem);
            font-weight: 900;
            text-align: center;
            color: rgb(229, 107, 146);
            border-radius: 25px 25px 0px 0px;
          }
          #el-1 {
            padding-right: 15%;
            padding-left: 15%;
            padding-top: 3%;
            padding-bottom: 3%;
            border-radius: 1rem;
            background-color: rgb(229, 107, 146);
            width: 100%;
            // grid-row: 9;
            // grid-column: 1/ 4;
          }
          #el-1-down {
            padding-bottom: 7rem;
            font-size: 1.6rem;
            font-weight: 900;
            text-align: center;
            color: rgb(229, 107, 146);
            border-radius: 25px 25px 0px 0px;
          }
        }

        &.wrapper-2 {
          grid-row: 5;
          #el-2-up {
            font-family: $ff-tourney;
            padding-top: 7rem;
            font-size: 6rem;
            transform: translateY(1.5rem);
            font-weight: 900;
            text-align: center;
            color: #fcbd33;
            border-radius: 25px 25px 0px 0px;
          }
          #el-2 {
            padding-right: 15%;
            padding-left: 15%;
            padding-top: 3%;
            padding-bottom: 1%;
            border-radius: 1rem;
            background-color: #fcbd33;
            width: 100%;
            grid-column: 1/ 4;
          }
          #el-2::after {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.6rem;
            text-align: center;
            display: block;
            color: white;
            content: '↑ She is one of my craziest friend ↑';
            background-color: #fcbd33;
            grid-column: 1/ 4;
            border-radius: 0px 0px 25px 25px;
          }
          #el-2-down {
            padding-bottom: 7rem;
            font-size: 1.6rem;

            font-weight: 900;
            text-align: center;
            color: #f5b70b;
            border-radius: 25px 25px 0px 0px;
          }
        }

        // HOUSE
        &.wrapper-3 {
          grid-row: 6;
          #el-3-up {
            font-family: $ff-tourney;
            padding-top: 7rem;
            font-size: 6rem;
            transform: translateY(1.5rem);
            font-weight: 900;
            text-align: center;
            color: #3a57a2;
            border-radius: 25px 25px 0px 0px;
          }
          #el-3::before {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.6rem;
            text-align: center;
            display: block;
            color: white;
            content: '↓ directed by Nobuhiko Obayashi ↓';
            background-color: #3a57a2;
            // grid-column: 1/ 4;
            border-radius: 0px 0px 25px 25px;
          }
          #el-3 {
            padding-right: 15%;
            padding-left: 15%;
            border-radius: 1rem;
            background: linear-gradient(#3a57a2, #b8bcf0);
            width: 100%;
            // grid-row: 9;
            // grid-column: 1/ 4;
          }

          #el-3::after {
            content: 'ハ ウ ス';
            background-color: #a43229;

            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 3rem;
            text-align: center;
            display: block;
            color: white;
            font-family: $ff-jp-elegant;
            font-weight: 600;
            // grid-column: 1/ 4;
            border-radius: 0px 0px 25px 25px;
            max-width: 900px;
            margin: 0px auto;
          }
          #el-3-down {
            color: #c44b42;

            font-size: 1.5rem;
            width: 60%;
            margin: 0px auto;
            // transform: translateY(1.5rem);
            font-weight: 900;
            text-align: center;

            // grid-column: 1/ 4;
            border-radius: 25px 25px 0px 0px;
            padding-bottom: 7rem;
          }
        }

        // SPACE
        &.wrapper-4 {
          grid-row: 7;
          #el-3-up {
            font-family: $ff-tourney;
            padding-top: 7rem;
            font-size: 6rem;
            transform: translateY(1.2rem);
            font-weight: 900;
            animation: to400Anim 1.7s infinite linear alternate;
            transition: 0.3s;
            text-align: center;
            color: #1f1e24;
            border-radius: 25px 25px 0px 0px;
          }
          @keyframes to400Anim {
            to {
              font-weight: 400;
            }
          }
          #el-3::before {
            content: '↓ roommate boriness ↓';
            color: #a17282; //#c56950;
            font-size: 1.7rem;
            text-align: center;

            width: 100%;
            padding-top: 4rem;
            padding-bottom: 2rem;
            display: block;
            border-radius: 0px 0px 0px 0px;
          }
          #el-3 {
            padding-right: 15%;
            padding-left: 15%;
            border-radius: 1rem;
            background: linear-gradient(20deg, #15130e, #322d34, #000000);
            width: 100%;
            img {
              box-shadow: 0px 3px 17px rgb(0, 0, 0);
              width: 90%;
              max-width: 480px;
              transition: 0.3s ease-out;
              &:hover {
                transform: scale(1.2) translateY(1.3rem);
              }
            }
          }

          #el-3::after {
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 4rem;
            font-size: 3rem;
            text-align: center;
            display: block;
            color: rgb(206, 153, 68); // #9d7123;
            font-family: $ff-jp-elegant;
            font-weight: 600;
            content: 'レ カ ロ';

            border-radius: 0px;
          }
          #el-3-down {
            padding-bottom: 7rem;
            font-size: 1.5rem;
            width: 60%;
            margin: 0px auto;
            transform: translateY(1.5rem);
            font-weight: 900;
            text-align: center;
            color: rgba(230, 176, 90, 1);
            border-radius: 25px 25px 0px 0px;
          }
        }
        @media (max-width: 760px) {
          .info-text {
            // font-family: $ff-grotesk-mono;
            padding: 0.5rem;
            font-size: 1.5rem;
          }
          // #el-1,
          // #el-2,
          // #el-3 {
          //   &::after,
          //   &::before {
          //     font-size: 1.5rem;
          //   }
          // }
        }
      }
    }
    .btn-wrapper {
      grid-column: 2;
      .btns {
        background: rgb(227, 115, 74);
        &:hover {
          background: rgb(230, 176, 90);
        }
        a {
          color: white;
        }
      }
    }

    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.6;
      }
    }
    // footer
    .footer {
      grid-column: 1 / 5;
      z-index: 19;
      height: 29rem;
      width: 100%;
      background: $design-text-color; //rgb(240, 240, 240); //#a43229; //
      margin-top: 12rem;

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:
          minmax(7%, 1fr) minmax(150px, 500px) minmax(150px, 500px)
          minmax(7%, 1fr);
        gap: 2rem;
        padding: 2rem;
        color: rgb(162, 162, 162);
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .footer-l {
          grid-column: 1 /3;
          align-self: center;
          justify-self: center;
          text-align: center;
          h2 {
            text-transform: uppercase;
            font-weight: 500;
          }
          div {
            padding: 0.5rem;
          }
        }
        .footer-r {
          grid-column: 3;

          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-self: end;
            text-align: right;

            div {
              padding: 1.2rem;
              font-weight: 500;
              .r-links {
                padding: 1rem;
              }
              #making-of {
                &::after {
                  content: 'the making of';
                }
                &:hover::after {
                  content: 'the Design Page';
                }
              }
              .arrow {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
