@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 1.8rem;
  color: #232522;
  font-family: "Recursive", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: black;
}

body h1 {
  font-size: calc(0.5vw + 0.4vw + 30px);
}

body .left-arrow {
  padding-top: 1rem;
  z-index: 10;
  margin: 0px;
  padding: 0rem;
  border: 0px;
  height: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@media (max-width: 768px) {
  body .left-arrow {
    top: 1rem;
  }
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3.1rem;
  transition: 0.45s;
}

@media (max-width: 768px) {
  body .left-arrow .link-a {
    font-variation-settings: "CASL" 1, "wght" 500;
  }
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .link-a #left-arrow {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='57%'>👈</text></svg>") 16 0, auto;
  transition: 0.2s;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 4.5rem;
  top: -3.4rem;
  pointer-events: none;
}

@media (max-width: 768px) {
  body .left-arrow .logo-frame {
    display: none;
  }
}

body .left-arrow .logo-frame .logo-svg {
  width: 29px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 5.5rem;
}

body .left-arrow:hover .logo-frame .hc-logo {
  fill: #6c5ffc;
}

body .menu-btn {
  z-index: 39;
  position: fixed;
  top: 0.5rem;
  width: 100%;
  height: 10rem;
  right: 0px;
  margin-right: 3rem;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 5rem;
}

@media (min-width: 768px) {
  body .menu-btn {
    display: none;
  }
}

body .menu-btn .menu-btn__burger::after, body .menu-btn .menu-btn__burger::before {
  content: '';
  position: absolute;
  width: 2.6rem;
  height: 0.35rem;
  border-radius: 4px;
  background-color: #232522;
  transition: all 0.4s ease-in-out;
}

body .menu-btn .menu-btn__burger::after {
  transform: translateY(-0.7rem);
}

body .menu-btn .menu-btn__burger::before {
  transform: translateY(0.7rem);
}

body .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}

body .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

body ul {
  list-style: none;
}

body a {
  color: #5f3fd5;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body a:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

body #trampolin-wrapper {
  position: fixed;
  height: 90%;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  overflow: hidden;
}

body #trampolin-wrapper #trampolineEmoji {
  position: fixed;
  /* Fixed/sticky position */
  overflow: hidden;
  bottom: 2.3rem;
  /* Place the button at the bottom of the page */
  user-select: none;
  right: 1rem;
  z-index: 18;
  /* Make sure it does not overlap */
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  /* Some padding */
  font-size: 3.3rem;
  transition: 0.15s;
  opacity: 0.33;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
}

@media (max-width: 768px) {
  body #trampolin-wrapper #trampolineEmoji {
    bottom: 1rem;
    right: 0.6rem;
  }
}

@media (max-width: 768px) {
  body #trampolin-wrapper #trampolineEmoji {
    font-size: 2.3rem;
  }
}

body #trampolin-wrapper #trampolineEmoji:hover {
  opacity: 1;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
  transform: translateY(-0.2rem);
}

body #trampolin-wrapper #trampolineEmoji:active {
  transform: translateY(0.2rem);
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

.preloader #emoji-loader,
.preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

.preloader #emoji-loader {
  font-size: 60px;
  animation: spin 2.6s infinite ease;
  width: 7rem;
  height: 70px;
  transform-origin: center;
}

.preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.5vw - 0vw + 12px);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

.hidden {
  display: none;
}

.anim-hidden {
  animation: animHidden 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes animHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.show {
  display: block;
}

.anim-show {
  animation: showHidden 0.4s ease-out forwards;
  display: block;
  opacity: 1;
}

@keyframes showHidden {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes variableOpacity {
  0% {
    opacity: 100%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes gifFrame1 {
  0% {
    opacity: 100%;
  }
  24% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame2 {
  0% {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame3 {
  0% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  76% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes gifFrame4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  76% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes brujula {
  to {
    transform: rotateZ(23deg);
  }
}

@keyframes jump {
  to {
    transform: translateY(1rem);
  }
}

@keyframes goLeft {
  to {
    transform: translateX(-0.6rem);
  }
}

@keyframes navbarAppears {
  from {
    transform: translateX(5rem);
    opacity: 20%;
  }
  to {
    transform: translateX(0rem);
    opacity: 100%;
  }
}

@keyframes widthness {
  0% {
    font-variation-settings: "wght" 500;
  }
  30% {
    font-variation-settings: "wght" 800;
  }
  70% {
    font-variation-settings: "wght" 620;
  }
  100% {
    font-variation-settings: "wght" 500;
  }
}

@keyframes slintness {
  0% {
    font-variation-settings: 'slnt' 0, 'CRSV' 1;
  }
  40% {
    font-variation-settings: 'slnt' -15, 'CRSV' 1;
  }
  100% {
    font-variation-settings: 'slnt' 0, 'CRSV' 1;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  width: 100vw;
  background-color: #eeebe7;
  font-size: 2rem;
  font-variation-settings: "MONO" 0, "CASL" 0.5, "wght" 620, "slnt" 0;
  position: relative;
}

body .preloader {
  transition: 0.45s ease-out;
  background: #eeebe7;
}

body .preloader #emoji-loader {
  animation: jump 1.5s ease 0.3s infinite alternate;
}

body .preloader #text-loader {
  padding-top: 12rem;
  color: #3e3d3c;
  font-size: calc(0.5vw + 0.3vw + 13px);
}

body .left-arrow .link-a {
  color: #3e3d3c;
}

body .left-arrow .link-a:hover {
  color: #3e3d3c;
}

body .left-arrow:hover .hc-logo {
  fill: #5f3fd5;
}

body header {
  background-color: #eeebe7;
}

body header h1 {
  text-align: center;
  padding: 2rem;
  color: #e1e1e0;
  background-color: white;
}

body header #draw-types {
  width: 100%;
  min-height: 5rem;
  border-bottom: 2px solid #464646;
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

body header #draw-types ul {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

body header #draw-types ul li {
  font-size: 1.8rem;
  list-style: none;
  margin: 1rem;
}

body header #draw-types ul li .li-wrapper {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

body header #draw-types ul li .li-wrapper a {
  position: relative;
  color: #3e3d3c;
  text-decoration: none;
  font-variation-settings: "wght" 500;
  padding: 1rem;
  transition: 0.3s;
}

body header #draw-types ul li .li-wrapper a svg {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  bottom: -5px;
  margin: auto;
}

body header #draw-types ul li .li-wrapper:hover a {
  font-variation-settings: "wght" 620;
}

body header #draw-types ul li .li-wrapper:hover svg .path {
  animation: dash 0.8s cubic-bezier(0.27, 0.22, 0.44, 1.03) 1 0.3s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0px;
  }
}

body header #draw-types ul #noodlesTab .path {
  stroke-dasharray: 87px;
  stroke-dashoffset: 87px;
}

body header #draw-types ul #noodlesTab:hover .path {
  animation: dash 1.3s linear infinite;
}

body header #draw-types ul #cafeTab .path {
  stroke-dasharray: 54px;
  stroke-dashoffset: 54px;
}

body header #draw-types ul #cafeTab:hover .path {
  animation: dash 1s;
}

body header #draw-types ul #dodoTab .path {
  stroke-dasharray: 59px;
  stroke-dashoffset: 59px;
}

body header #draw-types ul #dodoTab:hover .path {
  animation: dash 0.9s ease-out 2 0.4s;
}

body header #draw-types ul #sketchTab path {
  stroke-dasharray: 76px;
  stroke-dashoffset: 76px;
}

body header #draw-types ul #sketchTab:hover .path {
  animation: dash 0.85s linear 2;
}

body header #draw-types ul #archTab .path {
  stroke-dasharray: 128px;
  stroke-dashoffset: 128px;
}

body header #draw-types ul #archTab:hover .path {
  animation: dash 1.3s linear;
}

body header #draw-types ul #randomTab .path {
  stroke-dasharray: 82px;
  stroke-dashoffset: 82px;
}

body header #draw-types ul #randomTab:hover .path {
  animation: dash 1s linear 3 0.3s;
}

body main {
  background: #eeebe7;
  height: 600vh;
  position: relative;
  display: grid;
}

body main #drawSections {
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(7%, 1fr) minmax(300px, 1000px) minmax(7%, 1fr);
  gap: 1rem;
}

body main #drawSections .drawSection {
  grid-column: 2;
  padding-bottom: 7rem;
}

body main #drawSections .title {
  top: 0px;
  position: sticky;
  background-color: #eeebe7;
  padding: 2rem;
  text-align: center;
  font-size: 2.1rem;
  color: #919191;
  font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0;
}

body main #drawSections .title .titleSign {
  padding-right: 1rem;
  color: gray;
  font-variation-settings: "MONO" 1, "CASL" 1, "wght" 400, "slnt" 0;
}

body main #drawSections picture {
  padding-bottom: 6rem;
  height: auto;
}

body main #drawSections #noodlesDraws {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body main #drawSections #noodlesDraws picture {
  grid-column: 1/ 4;
}

body main #drawSections #noodlesDraws h2 {
  grid-column: 1/ 4;
}

body main #drawSections #noodlesDraws #hidro {
  place-self: center;
  padding-left: 8vw;
  padding-right: 8vw;
}

body main #drawSections #noodlesDraws #mr-cakebeef {
  padding-right: 12vw;
  grid-column: 1 /3;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

body main #drawSections #noodlesDraws #tijera-black {
  padding-left: 12vw;
  grid-column: 2 /4;
}

body main #drawSections #sketchDraws #zodiac-blue-red {
  padding-left: 2rem;
}

body main #drawSections #sketchDraws #sketch-diario-1 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 9rem;
}

body main #drawSections #sketchDraws #rus-sketch {
  padding-left: 1rem;
  padding-right: 1rem;
}

body main #drawSections #randomDraws {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body main #drawSections #randomDraws .title {
  grid-column: 1/4;
  grid-row: 1;
}

body main #drawSections #randomDraws #rabbit {
  grid-column: 3;
  grid-row: 2;
  padding-bottom: 3rem;
  padding-top: 5rem;
  padding-left: 3rem;
}

body main #drawSections #randomDraws #ancient-spanish {
  grid-column: 1/ 3;
  grid-row: 3/ 5;
  padding-left: 10vw;
  padding-top: 4rem;
  padding-bottom: 9rem;
}

body main #drawSections #randomDraws #korean {
  grid-column: 1/ 4;
  grid-row: 5;
  padding-left: 1rem;
  padding-right: 0.6rem;
  padding-bottom: 10rem;
}

body main #drawSections #randomDraws #magnolia {
  grid-column: 1/ 4;
  grid-row: 6;
}

body main #trampolin-wrapper {
  position: absolute;
  height: 90%;
  width: 3%;
  right: 0px;
  bottom: 270px;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  overflow: hidden;
}

body main #trampolin-wrapper #trampolineEmoji {
  position: sticky;
  align-self: flex-end;
  z-index: 9;
  text-decoration: none;
  padding: 3rem;
  font-size: calc(0.5vw + 0.4vw + 30px);
  transition: 0.15s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
}

body main #trampolin-wrapper #trampolineEmoji:hover {
  transform: scale(1.1);
  transform: translateY(-0.2rem);
}

body main #trampolin-wrapper #trampolineEmoji:active {
  transform: scale(0.9);
  transform: translateY(0.3rem);
}

body #footer {
  z-index: 0;
  position: relative;
  height: 50vh;
  bottom: 0px;
  width: 100%;
  background: #3e3d3c;
  display: grid;
  grid-template-columns: 1fr 360px 1fr;
}

body #footer #placa {
  display: none;
}

body #footer #wrapper {
  z-index: -1;
  grid-column: 2;
  display: grid;
  justify-content: center;
  gap: 4rem;
  grid-template-rows: 1fr 4rem 4rem 1fr;
  color: white;
}

body #footer #wrapper span {
  transition: 0.3s;
  margin: 0.5rem;
}

body #footer #wrapper .morePrj {
  z-index: -1;
  text-decoration-color: transparent;
  color: #eeebe7;
  font-size: 1.8rem;
  align-self: center;
  transition: 0.3s;
}

body #footer #wrapper .morePrj:hover {
  text-decoration-color: white;
}

body #footer #wrapper .morePrj:active {
  text-decoration-color: white;
}

body #footer #wrapper #nextPrj {
  grid-row: 2;
  margin-left: 0rem;
}

body #footer #wrapper #nextPrj:hover #Rarrow {
  margin-left: 1rem;
}

body #footer #wrapper #nextPrj:active #Rarrow {
  margin-left: 1rem;
}

body #footer #wrapper #prevPrj {
  grid-row: 3;
  margin-right: 0rem;
}

body #footer #wrapper #prevPrj:hover #Larrow {
  margin-right: 1rem;
}

body #footer #wrapper #prevPrj:active #Larrow {
  margin-right: 1rem;
}
