@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/globals';
@import '../../../../scss/font-anim-keyframes';

body {
  // height: 100%;
  width: 100vw;
  $my-paper-color: hsl(35, 16%, 92%);
  $muji-cover: hsl(30, 2%, 24%);
  background-color: $my-paper-color;

  font-size: 2rem;
  font-variation-settings: 'MONO' 0, 'CASL' 0.5, 'wght' $font-weight-normal,
    $slnt;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $my-paper-color;
    #emoji-loader {
      animation: jump 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      padding-top: 12rem;
      color: $muji-cover;
      font-size: $font-size-normal;
    }
  }
  .left-arrow {
    .link-a {
      color: $muji-cover;
      &:hover {
        color: $muji-cover;
      }
    }
    &:hover {
      .hc-logo {
        fill: $font-linked-color;
      }
    }
  }
  header {
    background-color: $my-paper-color;
    h1 {
      text-align: center;
      padding: 2rem;
      color: rgb(208, 204, 196);
    }
    #draw-types {
      width: 100%;
      min-height: 5rem;
      border-bottom: 2px solid rgb(70, 70, 70);
      background-color: burlywood;

      display: flex;
      justify-content: center;
      ul {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap; //can be deleted when do the mobile responsive
        // align-items: stretch;
        // justify-content: space-evenly;
        li {
          font-size: 1.8rem;
          list-style: none;
          margin: 1rem;
          .li-wrapper {
            //div
            padding: 1rem;
            position: relative;
            display: flex;
            align-items: center;
            a {
              position: relative;

              color: $muji-cover;
              text-decoration: none;
              font-variation-settings: 'wght' $font-weight-light;
              padding: 1rem;
              svg {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                bottom: -5px; //adjust the margin the text
                margin: auto;
                path {
                  animation-duration: 0.5s cubic-bezier(0.27, 0.22, 0.44, 1.03)
                    0.1s 1;
                }
              }
            }
          }
        }
        // mobile
        // svg {
        //   display: none;
        // }
        //desktop
        #noodlesTab {
          div {
            a {
              svg {
                path {
                  stroke-dasharray: 75px;
                  stroke-dashoffset: 75px;
                  // transition: ;
                }
              }
              &:hover {
                color: blue;
                svg {
                  .path {
                    animation: dash 2s linear;
                  }
                }
                @keyframes dash {
                  to {
                    stroke-dashoffset: 75; // the same number as the total dash
                  }
                }
              }
            }
          }
        }
        #cafeTab {
          &:hover {
          }
        }
        #dodoTab {
          &:hover {
          }
        }
        #skecthTab {
          div {
            a {
              svg {
                path {
                  stroke-dasharray: 63px;
                  stroke-dashoffset: 63px;
                }
              }
              &:hover {
                color: blue;
                svg {
                  .path {
                    animation: dash 2s linear;
                  }
                }
                @keyframes dash {
                  to {
                    stroke-dashoffset: 63; // the same number as the total dash
                  }
                }
              }
            }
          }
        }
        #archTab {
          &:hover {
          }
        }
        #randomTab {
          &:hover {
          }
        }
      }
    }
  }
  main {
    background: $my-paper-color;
    height: 600vh;
    position: relative;
    display: grid;

    #drawSections {
      // height: 400vh;
      z-index: 2;

      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 1000px) minmax(
          7%,
          1fr
        );
      gap: 1rem;
      .drawSection {
        // height: 300px;
        grid-column: 2;
        padding-bottom: 7rem;
      }
      .title {
        top: 0px;
        position: sticky;

        background-color: $my-paper-color;
        padding: 2rem;
        text-align: center;
        font-size: 2.1rem;

        color: rgb(145, 145, 145);
        font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' $font-weight-lighter,
          $slnt;
        .titleSign {
          padding-right: 1rem;
          color: rgb(128, 128, 128);
          font-variation-settings: 'MONO' 1, 'CASL' 1,
            'wght' $font-weight-lighter, $slnt;
        }
      }
      picture {
        padding-bottom: 6rem;
        height: auto;
      }

      #noodlesDraws {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        picture {
          grid-column: 1/ 4;
        }
        h2 {
          grid-column: 1/ 4;
        }
        #hidro {
          place-self: center;
          padding-left: 8vw;
          padding-right: 8vw;
        }

        #mr-cakebeef {
          padding-right: 12vw;
          grid-column: 1 /3;
          padding-top: 7rem;
          padding-bottom: 5rem;
        }
        #tijera-black {
          padding-left: 12vw;
          grid-column: 2 /4;
        }
      }
      #cafeDraws {
        #cafe-two-woman {
        }
      }
      #dodoDraws {
      }
      #sketchDraws {
        #zodiac-blue-red {
          padding-left: 2rem;
        }
        #sketch-diario-1 {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-bottom: 9rem;
        }
        #rus-sketch {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      #archDraws {
      }
      #randomDraws {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .title {
          grid-column: 1/4;
          grid-row: 1;
        }
        #rabbit {
          grid-column: 3;
          grid-row: 2;
          padding-bottom: 3rem;
          padding-top: 5rem;
          padding-left: 3rem;
        }
        #ancient-spanish {
          grid-column: 1/ 3;
          grid-row: 3/ 5;
          padding-left: 10vw;
          padding-top: 4rem;
          padding-bottom: 9rem;
          // padding-top: 17vw;
        }
        #korean {
          grid-column: 1/ 4;
          grid-row: 5;
          padding-left: 1rem;
          padding-right: 0.6rem;
          padding-bottom: 10rem;
        }
        #magnolia {
          grid-column: 1/ 4;
          grid-row: 6;
        }
      }
    }

    // don't appear on mobile
    #trampolin-wrapper {
      position: absolute;
      height: 90%;
      width: 3%;
      right: 0px;
      bottom: 270px; // in desktop is 0px
      display: flex;
      align-items: flex-start;
      justify-content: right;
      overflow: hidden;
      #trampolineEmoji {
        position: sticky;
        align-self: flex-end;
        z-index: 9;

        text-decoration: none;
        padding: 3rem;
        font-size: $font-size-huge;
        transition: $trans-fast;
        cursor: $cursor-pointer-hand-flip;
        &:hover {
          // cursor: $cursor-pointer-hand-flip;
          transform: scale(1.1);
          transform: translateY(-0.2rem);
        }
        &:active {
          transform: scale(0.9);
          transform: translateY(0.3rem);
        }
      }
    }
  }
  #footer {
    z-index: 0;
    position: relative;
    height: 50vh;
    bottom: 0px;
    width: 100%;
    background: $muji-cover;

    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    #placa {
      display: none;
    }
    #wrapper {
      z-index: -1;
      grid-column: 2;

      display: grid;
      justify-content: center;
      gap: 4rem;
      grid-template-rows: 1fr 4rem 4rem 1fr;
      color: white;

      span {
        transition: $trans-normal;
        margin: 0.5rem;
      }
      .morePrj {
        //a
        z-index: -1;
        text-decoration-color: transparent;

        color: $my-paper-color;
        font-size: 1.8rem;
        align-self: center;
        transition: $trans-normal;

        &:hover {
          text-decoration-color: white;
        }
        &:active {
          text-decoration-color: white;
        }
      }
      #nextPrj {
        grid-row: 2;

        margin-left: 0rem;
        &:hover {
          #Rarrow {
            margin-left: 1rem;
          }
        }
        &:active {
          #Rarrow {
            margin-left: 1rem;
          }
        }
      }
      #prevPrj {
        grid-row: 3;

        margin-right: 0rem;
        &:hover {
          #Larrow {
            margin-right: 1rem;
          }
        }
        &:active {
          #Larrow {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  // for desktop
  // #footer {
  //   z-index: -1;
  //   position: sticky;
  //   height: 60vh;
  //   bottom: 0px;
  //   width: 100%;
  //   background: $muji-cover;

  //   display: grid;
  //   grid-template-columns: 1fr 360px 1fr;
  //   #placa {
  //     display: none;
  //   }
  //   #wrapper {
  //     z-index: -1;
  //     grid-column: 2;

  //     display: grid;
  //     justify-content: center;
  //     gap: 4rem;
  //     grid-template-rows: 1fr 4rem 4rem 1fr;
  //     color: white;

  //     span {
  //       transition: $trans-normal;
  //       margin: 0.5rem;
  //     }
  //     .morePrj {
  //       //a
  //       z-index: -1;
  //       text-decoration-color: transparent;

  //       color: $my-paper-color;
  //       font-size: 2.3rem;
  //       align-self: center;
  //       transition: $trans-normal;

  //       &:hover {
  //         text-decoration-color: white;
  //       }
  //       &:active {
  //         text-decoration-color: white;
  //       }
  //     }
  //     #nextPrj {
  //       grid-row: 2;

  //       margin-left: 0rem;
  //       &:hover {
  //         #Rarrow {
  //           margin-left: 1rem;
  //         }
  //       }
  //       &:active {
  //         #Rarrow {
  //           margin-left: 1rem;
  //         }
  //       }
  //     }
  //     #prevPrj {
  //       grid-row: 3;

  //       margin-right: 0rem;
  //       &:hover {
  //         #Larrow {
  //           margin-right: 1rem;
  //         }
  //       }
  //       &:active {
  //         #Larrow {
  //           margin-right: 1rem;
  //         }
  //       }
  //     }
  //   }
  // }
}
