* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body .panel {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  overflow-x: hidden;
}
body .panel .panel-content {
  margin: 2rem;
  margin-top: 12vh;
  margin-bottom: 12vh;
  padding: 1rem;
  border: 1px solid rgb(250, 109, 109);
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
}
body .panel .horizontal-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 76vh;
}
body .panel .horizontal-wrapper .block {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 30, 0);
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
body .proxy {
  position: absolute;
  visibility: hidden;
}