@import '../../../../../scss/variables';
@import '../../../../../scss/globals';

body {
  ///////////////////////////////////////////
  // $design-color-green: rgb(51, 148, 103);
  // $design-color-yellow: rgb(245, 221, 59);
  // $design-color-red: rgb(215, 61, 69);
  // $design-white-color: rgb(244, 242, 235);
  $design-text-color: hsl(0, 0%, 21%);
  $design-subpg-bg: hsl(0, 0%, 100%);
  ///////////////////////////////////////////
  font-family: $ff-space-grotesk;
  // font-family: $ff-grotesk-mono;
  // font-family: $ff-tourney;
  background-color: $design-subpg-bg;
  width: 100vw;
  font-weight: 300;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $design-subpg-bg; //
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $design-subpg-bg;
      // color: $design-text-color;
      font-family: $ff-grotesk-mono;
      font-size: 1.8rem;
    }
  }
  header {
    .absolute-nav {
      position: absolute; //fixed
      top: 0rem;
      z-index: 19;
      display: flex;
      align-items: center;
      height: 6rem;
      width: 100%;
      .left-arrow {
        top: 1rem !important;
        .link-a {
          color: $design-text-color;
        }
      }
      .main-header {
        line-height: 6rem;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0.3rem 0.6rem #dadada, 0px 0.15rem 0.2rem #b0b0b0;
        // box-shadow: 0px 0.3rem 0.6rem #b1b1b1, 0px 0.15rem 0.2rem #d8d8d8;
        h1 {
          color: $design-text-color;
          background-color: $design-subpg-bg;
          font-weight: 700;
          font-size: 2.3rem;
        }
      }
    }
  }
  main {
    display: grid; //trampemoji
    .subpage-wrapper {
      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 1000px) minmax(
          7%,
          1fr
        );
      .subpage-content-1 {
        grid-column: 2;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // header Ws
        .www {
          font-family: $ff-tourney;
          font-weight: 900; //900; ///////
          text-transform: uppercase;
          font-size: 5rem;
          margin-bottom: 0.3rem;
          grid-row: 2;
          // color: $design-color-green;
        }
        .pixel {
          image-rendering: pixelated;
        }
        // .w-box {
        .w-texts {
          font-family: $ff-space-grotesk;
          // color: $design-color-yellow;
          // font-family: $ff-grotesk-mono;
          grid-row: 3;
          // margin-right: 17%;
          //
          /* Searching for some food to draw I discovered the amazing world of strawberries, whose pores grow leaves. If there is one fruit comparable to fonts, it is the strawberry. I think of every pore as a word. A well chosen font is like adding chocolate or cream, giving a good taste to the user’s mouth. */

          .w-para {
            // line-height: 1.5;
            font-size: 1.6rem;
            // font-family: $ff-grotesk-mono;
            // font-weight: normal;
            // line-height: 22px;
            // margin: 8%;
            // text-align: justify;
            // margin-top: 2%;
            margin-bottom: 2%;
          }
        }
        .info-text {
          font-family: $ff-grotesk-mono;
          padding: 0.5rem;
        }

        //MARGIN TOP
        .margin-top {
          grid-column: 1 / 4;
          grid-row: 1;
          margin-bottom: 13rem;
        }
        // HERO IMG
        // #hero-outline {
        //   grid-column: 1 / 4;
        //   grid-row: 2;
        //   margin-bottom: 10%;
        // }

        ////////////////////////
        // COLUMN 1 ////////////
        .cl-1 {
          grid-column: 1;
        }

        #why-pixel {
          grid-row: 2;
          margin-bottom: 0px;
          image-rendering: pixelated;
        }
        // #why {
        //   grid-row: 2;
        //   margin-bottom: 0px;
        //   // text-align: right;
        //   // margin-right: 10%;
        //   // transform: translateY(-63%);
        //   // padding-right: 9%;
        //   // align-self: end;
        // }
        .why-text1 {
          grid-row: 2;
          margin-top: 5.3rem;
          margin-right: 17%;
          .w-para {
            margin-right: 0px;
          }
        }
        // #info-1 {
        //   grid-row: 5;
        //   text-align: right;
        //   padding: 0px;
        //   padding-right: 4rem;
        //   font-size: 1.6rem;
        // }
        // #make {
        //   margin-top: 3rem;
        //   grid-row: 5 / 7;
        //   width: 100%;
        //   object-fit: contain;
        //   image-rendering: pixelated;
        //   transition: 0.3s;
        //   opacity: 0.7;
        //   will-change: transform;
        //   overflow: hidden;
        //   &:hover {
        //     opacity: 1;
        //     transform: scale(1.3) translateX(-1rem) translateY(0.3rem);
        //   }
        // }
        ////////////////////////
        // COLUMN 2 ///////////
        .cl-2 {
          grid-column: 2;
        }
        #where-pixel {
          grid-row: 2;
          margin-bottom: 0px;
          image-rendering: pixelated;
          margin-left: 7%;
        }
        // #where {
        //   grid-row: 2;
        //   // padding-left: 30%;
        //   margin-left: 7%;
        //   // padding-bottom: 36rem;
        // }
        .where-text1 {
          grid-row: 2;
          // text-align: left;
          // padding-left: 31%;
          margin-top: 5.3rem;
          margin-right: 29%;
          margin-left: 7%;
          .w-para {
            margin-right: 1%;
          }
        }
        // .where-text2 {
        //   grid-row: 5 /7;
        //   // margin-top: 5.3rem;
        //   margin-right: 2%;
        //   margin-left: 17%;
        //   .w-para {
        //     margin-right: 0%;
        //   }
        // }

        // .why-text2 {
        //   grid-row: 2;
        //   // margin-left: 10%;
        //   // margin-right: 18%;
        //   margin-top: 5.3rem;
        //   // transform: translateY(-41%);
        // }

        ////////////////////////
        // COLUMN 3 //////////
        .cl-3 {
          grid-column: 3;
        }
        #what-pixel {
          grid-row: 2;
          margin-bottom: 0px;
          image-rendering: pixelated;
          margin-left: 1%;
        }
        // #what {
        //   grid-row: 2;
        //   // grid-column: 1 / 3;
        //   // margin-top: 3rem;
        //   // margin-right: 11%;
        //   margin-left: 12%;
        // }
        .what-text1 {
          grid-row: 2;
          margin-left: 1%;
          // grid-column:  2;
          margin-top: 5.3rem;
          // margin-right: 17%;
          // margin-left: 13%;
          font-size: 1.5rem;
        }
        // .what-text2 {
        //   grid-row: 5 / 7;
        //   margin-left: 15%;
        //   // grid-column:  2;
        //   // margin-top: 5.3rem;
        //   font-size: 1.5rem;
        // }

        ////////// PART 2 ////////
        ////////// FULL-SIZE ////////
        .full-wrapper {
          grid-column: 1 / 4;
          // &#lamp {
          //   // margin-top: 7%;
          //   margin-left: 10%;
          //   margin-right: 10%;
          //   filter: brightness(109%);
          // }
          &.fonts {
            margin-top: 4rem;
            grid-row: 3;
          }
          &.four {
            grid-row: 4;
            margin: 6%;
            margin-left: 17%;
            margin-right: 17%;
            margin-bottom: 9%;
          }
          &.the-wrapper {
            grid-row: 5;
            display: grid;
            gap: 10%;
            grid-template-columns: 1fr 1.7fr 2fr;
            // grid-template-rows: 1fr 1fr;
            // padding-top: 3rem;
            // padding-bottom: 3rem;
            .a-font {
              grid-column: 1 /4;
              grid-row: 1;
              img {
                width: 100%;
                object-fit: contain;
                place-self: center;
              }
              // image-rendering: pixelated;
            }
            #text-1 {
              grid-column: 1;
              grid-row: 2;
              // margin-right: 7rem;
            }
            #text-2 {
              grid-column: 2;
              grid-row: 2;
              // margin-left: 5rem;
            }
            #text-3 {
              grid-column: 3;
              grid-row: 2;
              // margin-right: 7rem;
            }
          }
          &.kare-emoji {
            grid-row: 6;
            margin-top: 5rem;
            margin-right: 1rem;
            img {
              width: 100%;
              object-fit: contain;
              place-self: center;
            }
            // width: 200%;
          }
          &.img-wrapper {
            // grid-row: 4;
            // padding-top: 3rem;
            // padding-bottom: 3rem;
            // #slump {
            //   img {
            //     width: 100%;
            //     object-fit: contain;
            //     image-rendering: pixelated;
            //   }
            // }
          }

          &.frame-wrapper-1 {
            // margin-top: 6rem;

            // #text {
            //   grid-column: 2;
            //   grid-row: 1 /3;
            //   align-self: center;
            //   justify-self: center;
            //   padding-bottom: 7%;
            //   text-align: justify;
            // }
          }
          &.frame-wrapper-2 {
          }
        }
        .btn-wrapper {
          margin-top: 10rem;
          grid-row: 12;
          grid-column: 1/ 4;
          display: flex;
          justify-content: space-around;
          padding-left: 9%;
          padding-right: 9%;
          .btns {
            text-align: center;
            font-size: 2rem;

            border-radius: 2rem;
            transition: 0.15s;
            background: rgb(205, 205, 205);

            &:hover {
              background: rgb(38, 38, 38);
              a {
                // color: ;
              }
            }
            a {
              text-decoration: none;
              color: black;
              height: 6rem;
              line-height: 6rem;
              min-width: 18%;
              padding: 2rem;
              padding-right: 4rem;
              padding-left: 4rem;
            }
            &.prev {
              a {
                cursor: $cursor-arrow-hand;
              }
            }
            &.back-design {
              a {
                cursor: $cursor-pointer-hand-flip;
              }
            }
            &.next {
              a {
                cursor: $cursor-right-hand;
              }
            }
          }
        }
      }
    }

    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.6;
      }
    }
    // FOOTER
    .footer {
      z-index: 19;
      height: 29rem;
      width: 100%;
      background: black; //rgb(240, 240, 240);
      // background: #e6e6e6; //rgb(240, 240, 240);
      margin-top: 12rem;

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:
          minmax(7%, 1fr) minmax(150px, 500px) minmax(150px, 500px)
          minmax(7%, 1fr); // 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        color: rgb(255, 255, 255);
        // color: rgb(80, 80, 80);
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: rgb(182, 182, 182);
              text-decoration: underline;
            }
          }
        }
        .footer-l {
          grid-column: 1 /3;
          align-self: center;
          justify-self: center;
          text-align: center;
          h2 {
            text-transform: uppercase;
            font-weight: 500;
          }
          div {
            padding: 0.5rem;
          }
        }
        .footer-r {
          grid-column: 3;

          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-content: space-around;
            justify-self: end;
            text-align: right;

            div {
              padding: 1.2rem;
              font-weight: 500;
              .r-links {
                padding: 1rem;
              }
              #making-of {
                &::after {
                  content: 'the making of';
                }
                &:hover::after {
                  content: 'the Design Page';
                }
              }
              .arrow {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
