@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/globals';
@import '../../../scss/font-anim-keyframes';

body {
  // font-size: 2rem;
  height: 100%;
  .preloader {
    transition: $trans-slow ease-out;
    background: rgb(255, 255, 255);
    #emoji-loader {
      animation: jump 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      color: rgb(0, 0, 0);
      font-size: $font-size-small;
    }
  }
  .left-arrow {
    .link-a {
      color: rgb(0, 0, 0);
      &:hover {
        color: black;
      }
    }
  }
  main {
    background: white;
    height: 200vh;
    h1 {
      text-align: center;
      padding: 2rem;
    }
  }
  footer {
    background: rgb(0, 0, 0);
    height: 20rem;
    color: white;
  }
}
