// Make something like a digital contact libreta?
@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/globals';
@import '../../../scss/font-anim-keyframes';

body {
  height: 100%;
  font-size: 2rem;
  position: relative;
  font-variation-settings: 'MONO' 0.2, 'CASL' 0.1, 'wght' $font-weight-normal,
    $slnt;
  .preloader {
    transition: $trans-slow ease-out;
    background: rgb(230, 230, 230);
    #emoji-loader {
      // padding-right: 8vw;
      animation: brujula 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      color: $font-gray;
      font-size: $font-size-small;
    }
  }
  .left-arrow {
    .link-a {
      mix-blend-mode: difference;
      color: crimson;
      &:hover {
        color: $font-linked-color;
        mix-blend-mode: difference;
      }
    }
  }

  .mainBgPic {
    position: relative;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background: rgb(16, 8, 143);
    background: linear-gradient(
      0deg,
      rgba(16, 8, 143, 1) 0%,
      rgba(53, 57, 231, 1) 23%,
      rgba(23, 96, 210, 1) 37%,
      rgba(65, 245, 255, 1) 53%,
      rgba(211, 255, 245, 1) 72%,
      rgba(247, 247, 247, 1) 81%,
      rgba(224, 244, 79, 1) 94%,
      rgba(237, 57, 57, 1) 100%
    );
    filter: blur(0.2rem);
    background-repeat: no-repeat;
    background-color: #ccc;
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    width: 100%;
    z-index: 2;
    h1 {
      z-index: 3;
      color: white;
      mix-blend-mode: difference;
      text-align: center;
      position: sticky;
      top: 0rem;
      // bottom: 3rem;
      padding: 3rem;
    }
    #explainBg {
      position: absolute;
      text-align: center;
      color: rgba(211, 255, 245, 1);
      bottom: -2.2rem;
      font-variation-settings: 'MONO' 1, 'CASL' 0.8, 'wght' $font-weight-lighter;
      transition: $trans-slow;
      will-change: transition;
    }
    &:hover {
      #explainBg {
        color: rgba(53, 57, 231, 1);
        bottom: -3.8rem;
        font-variation-settings: 'MONO' 1, 'CASL' 0.8,
          'wght' $font-weight-lighter;
      }
    }
  }

  main {
    // min-height: 300vh;
    z-index: 1;
    // background-color: transparent;
    position: relative;
    font-variation-settings: 'MONO' 0.8, 'CASL' 0, 'wght' $font-weight-light;
    line-height: 1.5;
    color: $font-gray;
    p {
      font-size: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      transition: 0.5s;
      &:hover {
        color: black;
      }
    }
    h3 {
      font-size: 2.3;
      color: rgb(126, 143, 196);
      margin-top: 4rem;
      margin-bottom: 4rem;
      transition: 0.5s;
      &:hover {
        color: royalblue;
      }
    }
    img {
      filter: grayscale(90%);
      transition: 1s;
      &:hover {
        filter: grayscale(1%);
      }
    }
    #section {
      z-index: 1;
      display: grid;
      background-color: white;
      border: 2px solid rgb(100, 35, 230);
      // min-height: 100vh;
      grid-template-columns: 1fr 900px 1fr;
      position: relative;
      #trampolin-wrapper {
        position: absolute;
        height: 90%;
        width: 3%;
        right: 0px;
        bottom: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: right;
        #trampolineEmoji {
          position: sticky;
          align-self: flex-end;
          justify-self: right;
          bottom: 2rem;
          right: 4rem;
          z-index: 9;

          text-decoration: none;
          padding: 3rem; /* Some padding */
          font-size: $font-size-huge; /* Increase font size */
          transition: $trans-fast;
          cursor: $cursor-pointer-hand-flip;
          &:hover {
            // cursor: $cursor-pointer-hand-flip;
            transform: scale(1.1);
            transform: translateY(-0.2rem);
          }
          &:active {
            transform: scale(0.9);
            transform: translateY(0.3rem);
          }
        }
      }
      #div1 {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 300px 73px 300px 1fr;
        #p1 {
          grid-column: 1 / 6;
          grid-row: 1;
          place-self: center;
          padding: 3rem;
          padding-top: 6rem;
          padding-bottom: 6rem;
          #collect {
            filter: blur(0.3rem);
            transition: 0.3s;
            padding-bottom: 2rem;
            padding-top: 2rem;
            &:hover {
              filter: blur(0rem);
            }
          }
          #touchMe {
            color: rgb(158, 176, 194);
            font-size: 1.5rem;
            padding-left: 28rem;
          }
        }
        #sweat {
          grid-column: 2;
          grid-row: 2;
          padding-top: 13rem;
          text-align: end;
        }
        #chocoPic {
          grid-column: 3/ 5;
          grid-row: 2 /4;
          padding-left: 4rem;
        }
        #alonePic {
          grid-column: 1/ 3;
          grid-row: 4 /6;
          padding-top: 4rem;
          padding-left: 7rem;
        }
        #boring {
          grid-column: 3/ 5;
          grid-row: 5;
          // padding-bottom: 4rem;
          padding-top: 10rem;
          padding-left: 5rem;
          padding-right: 2rem;
        }
        #checkPic {
          grid-column: 3/ 5;
          grid-row: 5;
          padding-top: 25rem;
          padding-left: 2rem;
          padding-right: 2rem;
        }
        #monetaryText {
          grid-column: 2/ 5;
          grid-row: 7;
          padding-top: 16rem;
          text-align: center;
          padding-right: 3rem;
        }
        #dreamsPic {
          grid-column: 2/ 5;
          grid-row: 8;
          padding-left: 9rem;
          padding-right: 16rem;
        }
        #mathPic {
          grid-column: 2/ 4;
          grid-row: 9 / 11;
          padding-top: 25rem;
          // padding-left: 5rem;
        }
        #mathText {
          grid-column: 2/ 5;
          grid-row: 10;
          padding-left: 26rem;
          padding-bottom: 5rem;
          z-index: 2;
        }
        #cardsText {
          grid-column: 2/ 5;
          grid-row: 11;
          text-align: center;
          padding-top: 20rem;
          // padding-right: 2rem;
          padding-bottom: 7rem;
        }
        #wsjPic {
          grid-column: 3 / 5;
          grid-row: 12;
          padding-left: 5rem;
        }
        #generaliPic {
          grid-column: 2 / 4;
          grid-row: 12;
          padding-top: 1.4rem;
          padding-right: 4rem;
        }
        #schoolText {
          grid-column: 2/ 5;
          grid-row: 13;
          text-align: center;
          padding-top: 15rem;
        }
        #schoolPic {
          grid-column: 2/ 5;
          grid-row: 13;
          padding-top: 27rem;
          padding-left: 15.3rem;
          padding-right: 12rem;
        }
        #graphicalText {
          grid-column: 2/ 5;
          grid-row: 14;
          text-align: center;
          padding-top: 30rem;
        }
        #granPic {
          grid-column: 2/ 5;
          grid-row: 14;
          padding-top: 80rem;
          padding-bottom: 10rem;
          padding-left: 18rem;
          padding-right: 17rem;
        }
        #miliPic {
          grid-column: 2;
          grid-row: 15;
          padding-left: 9rem;
          padding-bottom: 10rem;
        }
        #girlPic {
          grid-column: 4;
          grid-row: 15;
          padding-right: 10rem;
          padding-bottom: 8rem;
        }
        #secureWrapper {
          grid-column: 2/ 5;
          grid-row: 16;

          padding: 3rem;
          // padding-left: 5rem;
          // padding-right: 5rem;
          #securePic {
            // width: 600px;
            // height: 200px;
            padding: 0.4rem;
            padding-left: 40rem;
            border-radius: 3rem;
            border: 3px solid rgb(196, 205, 232);
          }
        }

        #carText {
          grid-column: 4;
          grid-row: 17;
          padding-top: 37rem;
        }
        #toyotaPic {
          grid-column: 2;
          grid-row: 17;
          padding-top: 25rem;
          padding-left: 5rem;
          z-index: 2;
        }
        #barrosPic {
          grid-column: 2/ 6;
          grid-row: 17;
          padding-top: 62rem;
          padding-left: 25rem;
          padding-bottom: 25rem;
        }
        #endText {
          z-index: 8;
          grid-column: 2/ 5;
          text-align: center;
          grid-row: 17;
          padding-top: 95rem;
          padding-bottom: 25rem;
        }
      }
    }
    &::after {
      content: url('lost-obj-img/placa800bw.webp');
      // #placaPic {
      //   // 800x443 / 1.8
      z-index: 2;
      position: absolute;
      // top: -10rem;
      bottom: -300px;
      right: 25vw;
      // left: 0rem;
      // width: 90vw;
      // height: 50vh;
    }
    // #placaPic {
    //   // 800x443 / 1.8
    //   width: 80%;
    //   z-index: 2;
    //   position: absolute;
    //   bottom: -100px;
    //   // top: 10px;
    //   // bottom: calc(-100vw / 1.8);
    //   // background-color: transparent;
    //   // height: calc(60vw + 50vh);
    // }
    // #overflowToFooter {
    //   // top: -2rem;
    // }
  }
  footer {
    z-index: 0;
    position: sticky;
    height: calc(100vh * 0.4 + 30rem);
    bottom: 0px;
    // bottom: calc(calc(-100vh * 0.7) - 10rem);
    // bottom: calc(-100vw / 1.8);
    width: 100%;
    background: rgb(85, 106, 222);

    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    #wrapper {
      z-index: 17;
      grid-column: 2;
      display: grid;
      gap: 2rem;
      grid-template-rows: 400px 2rem 2rem 4fr;
      .morePrj {
        z-index: 17;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 2.3rem;
        transition: $trans-normal;
        &:hover {
          text-decoration: underline;
          text-decoration-color: rgb(252, 194, 4);
        }
      }
      #prevPrj {
        grid-row: 2;
      }
      #nextPrj {
        grid-row: 4;
      }
    }
  }
}
