// Make something like a digital contact libreta?
@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/globals';
@import '../../../scss/font-anim-keyframes';

body {
  height: 100%;
  font-size: 2rem;
  font-variation-settings: 'MONO' 0.2, 'CASL' 0.1, 'wght' $font-weight-normal,
    $slnt;
  .preloader {
    transition: $trans-slow ease-out;
    background: rgb(230, 230, 230);
    #emoji-loader {
      // padding-right: 8vw;
      animation: brujula 1.5s ease 0.3s infinite alternate;
    }
    #text-loader {
      color: $font-gray;
      font-size: $font-size-small;
    }
  }
  .left-arrow {
    .link-a {
      mix-blend-mode: difference;
      color: crimson;
      &:hover {
        color: $font-linked-color;
        mix-blend-mode: difference;
      }
    }
  }

  .mainBgPic {
    position: relative;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background: rgb(16, 8, 143);
    background: linear-gradient(
      0deg,
      rgba(16, 8, 143, 1) 0%,
      rgba(53, 57, 231, 1) 23%,
      rgba(23, 96, 210, 1) 37%,
      rgba(65, 245, 255, 1) 53%,
      rgba(211, 255, 245, 1) 72%,
      rgba(247, 247, 247, 1) 81%,
      rgba(224, 244, 79, 1) 94%,
      rgba(237, 57, 57, 1) 100%
    );
    filter: blur(0.2rem);
    background-repeat: no-repeat;
    background-color: #ccc;
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    width: 100%;
    z-index: 2;
    h1 {
      z-index: 3;
      color: white;
      mix-blend-mode: difference;
      text-align: center;
      position: sticky;
      top: 0rem;
      // bottom: 3rem;
      padding: 3rem;
    }
  }

  main {
    // min-height: 300vh;
    #section1,
    #section2 {
      display: grid;
      border: 2px solid crimson;
    }
    p {
      line-height: 1.5;
      font-size: $font-size-big;
      margin-top: 2rem;
      margin-bottom: 2rem;
      // position: relative;
    }
    #section1 {
      min-height: 100vh;
      grid-template-columns: 1fr 70rem 1fr;
      grid-template-rows: 1fr 500px 500px;
      #div1 {
        #p1 {
          grid-column: 2;
          grid-row: 1;
        }
        #p2 {
          grid-column: 2;
          grid-row: 1;
        }
      }
    }
    // section 2 has the trampolin
    #section2 {
      min-height: 200vh;
      // background-color: rgb(255, 255, 255);

      position: relative;
      // display: grid;
      #trampolin-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: right;
        #trampolineEmoji {
          position: sticky;
          align-self: flex-end;
          justify-self: right;
          bottom: 2rem;
          right: 4rem;
          z-index: 9;

          text-decoration: none;
          padding: 2rem; /* Some padding */
          font-size: $font-size-huge; /* Increase font size */
          transition: $trans-fast;
          cursor: $cursor-pointer-hand-flip;
          &:hover {
            // cursor: $cursor-pointer-hand-flip;
            transform: scale(1.1);
            transform: translateY(-0.2rem);
          }
          &:active {
            transform: scale(0.9);
            transform: translateY(0.2rem);
          }
        }
      }
    }
  }
  footer {
    background: rgb(218, 225, 255);
    height: 70vh;
  }
}
