@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/globals';
@import '../../../../scss/font-anim-keyframes';

body {
  font-size: 2rem;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // .preloader {
  //   transition: $trans-slow ease-out;
  //   background: rgb(255, 255, 255);
  //   #emoji-loader {
  //     animation: jump 1.5s ease 0.3s infinite alternate;
  //   }
  //   #text-loader {
  //     color: rgb(0, 0, 0);
  //     font-size: $font-size-small;
  //   }
  // }
  .left-arrow {
    .link-a {
      color: rgb(0, 0, 0);
      &:hover {
        color: black;
      }
    }
  }
  #viewContainer {
    height: 100%;

    overflow-x: hidden;
    background-color: rgb(253, 201, 133);
    color: black;
    .left-arrow {
    }
    #header {
      position: absolute;
      right: 2rem;
      top: 1.5rem;
      z-index: 19;
      display: flex;
      #whyAnalog {
      }
      #flash {
      }
    }
    // main is the pics, scrool obj and the title box
    main {
      position: relative;
      width: 100vw;
      height: 100%;
      overflow-x: hidden;
      overflow-x: hidden;
      background: rgb(255, 212, 212);
      height: 100%;

      .dragWrapper {
        width: 70%;
        height: 25%;
        position: absolute;
        top: 0rem;
        left: 15%;
        z-index: -9;
        display: block;
      }
      .dragObj {
        #line {
          height: 7vh;
        }
        #presser {
        }
      }

      // h1 {
      //   text-align: center;
      //   padding: 2rem;
      // }
    }
    footer {
      background: rgb(0, 0, 0);
      height: 20rem;
      color: white;
      position: absolute;
      bottom: 2rem;
    }
  }
}
