@import '../../scss/globals';
@import '../../scss/variables';

body {
  ///////////////////////////////////////////
  $blog-text-color: rgb(33, 35, 44);
  $blog-color-box: rgb(255, 255, 255);
  $blog-color-bg: rgb(239, 241, 245);
  $blog-color-lila: rgb(208, 213, 244);
  ///////////////////////////////////////////
  // font-family: $ff-space-grotesk;
  font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-family: $ff-grotesk-mono;
  background-color: $blog-color-bg;
  width: 100vw;
  font-weight: 300;
  position: relative;
  // font-size: 2rem;

  .preloader {
    transition: $trans-slow ease-out;
    background: $blog-color-bg;
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $blog-text-color;
      font-size: 1.8rem;
    }
  }
  .absolute-nav {
    position: fixed;
    // position: absolute;
    top: 0rem;
    z-index: 19;
    display: flex;
    align-items: center;

    .left-arrow {
      top: 1.5rem;

      @media (max-width: 768px) {
        top: 1rem;
      }
      .link-a {
        font-family: 'Mochiy Pop P One', sans-serif;
        color: $blog-text-color;
        opacity: 0.5;
        font-size: 3rem;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  header {
    .main-header {
      width: 100%;
      line-height: 19rem;
      height: 19rem;
      text-align: center;
      z-index: 1;
      box-shadow: 0px 0.3rem 0.6rem #0000001e, 0px 0.15rem 0.2rem #00000017;
      h1 {
        color: $blog-text-color;
        opacity: 0.3;
        background-color: $blog-color-bg;
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 3.7rem;
      }
    }
  }
  main {
    background: $blog-color-bg;
    position: relative;
    display: grid;
    font-weight: 400;

    .blogSections {
      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 1000px) minmax(
          7%,
          1fr
        );
      gap: 1rem;

      .sections-holder {
        grid-column: 2;
        margin-top: 2rem;
        margin-bottom: 11rem;
        position: relative;
        .section {
          .section-top {
            margin: 1.3rem;
            margin-bottom: 0;
            line-height: 1.3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // MOBILE
            .section-header {
              margin-left: 2rem;
              font-size: 3.4rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .art-numbers {
              display: none;
            }
            // DESKTOP
            @media (min-width: 700px) {
              line-height: 0.7;
              .section-header {
                margin-left: 4.4rem;
                font-size: 3.4rem;
                text-transform: uppercase;
                font-weight: 400;
              }
              .art-numbers {
                font-size: 1.7rem;
                display: block;
                padding-right: 4rem;
              }
            }
          }
          .hidden {
            display: none;
          }
          .articles-holder {
            /// EVERY BLOG /////
            a {
              text-decoration: none;
              &:hover {
                h3 {
                  color: $blue-purple-tech;
                }
              }
              .article {
                padding: 3.5rem;
                margin: 3rem;
                margin-left: 0rem;
                margin-right: 0rem;
                margin-top: 13px;
                border-radius: 2rem;
                background-color: $blog-color-box;
                color: $blog-text-color;
                h3 {
                  // font-family: $ff-sans-serif;
                  font-size: 2rem;
                  font-weight: 900;
                  margin-bottom: 2rem;
                }
                p {
                  font-size: 1.5rem;
                }
                h6 {
                  padding-top: 2rem;
                  font-size: 1.5rem;
                  font-weight: 900;
                  text-decoration: none;
                  // text-decoration-color: rgb(187, 187, 187);
                  &:hover {
                    color: $blue-purple-tech;
                  }
                }
              }
            }
            .making-of-article {
              &#make-intro {
                h6 {
                  padding-left: 1rem;
                  text-decoration: none;
                }
              }
              &#make-design {
              }
            }
            ////// DESKTOP //////////////
            @media (min-width: 900px) {
              display: grid;
              grid-template-columns: 1fr 1fr;
              a {
                .article {
                  margin: 2rem;
                  // padding: 1rem;
                }
              }
              #make-intro {
                grid-column: 1 / 3;
              }
            }
          }
        }
      }
    }

    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.5;
      }
    }
    .footer {
      z-index: 1;
      // position: absolute;
      // position: fixed;
      bottom: 0px;
      height: 27rem;
      width: 100%;
      background: $blog-color-lila;

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        color: black;
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: inherit;
            }
          }
        }
        .footer-l {
          grid-column: 1;
          // gap: 1rem;
          align-self: center;
          justify-self: center;
          text-align: center;
          h2 {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0.9rem;
          }
          div {
            padding: 0.5rem;
          }
        }
        .footer-r {
          grid-column: 2;

          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            // flex-direction: column;
            align-content: space-between;
            justify-self: end;
            text-align: right;
            div {
              padding: 1.6rem;
              font-weight: 500;
              .r-links {
                padding: 1rem;
              }
              .arrow {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
