@import '../../../../../scss/variables';
@import '../../../../../scss/globals';
@import '../sub-design-global.scss';

body {
  ///////////////////////////////////////////
  $design-text-color: hsl(0, 0%, 21%);
  $design-white-color: rgb(244, 242, 235);
  $design-subpg-bg: hsl(0, 0%, 100%);
  ///////////////////////////////////////////
  font-family: $ff-space-grotesk;
  background-color: $design-subpg-bg;
  width: 100vw;
  font-weight: 300;
  position: relative;

  .preloader {
    transition: $trans-slow ease-out;
    background: $design-subpg-bg;
    #emoji-loader {
      animation: jump 3s ease-out 0.3s infinite alternate;
    }
    @keyframes jump {
      to {
        transform: translateY(0.7rem);
      }
    }
    #text-loader {
      padding-top: 12rem;
      color: $design-text-color;
      font-family: $ff-grotesk-mono;
      font-size: 1.8rem;
    }
  }
  header {
    .absolute-nav {
      position: absolute; //fixed
      top: 0rem;
      z-index: 19;
      display: flex;
      align-items: center;
      height: 6rem;
      width: 100%;
      .left-arrow {
        top: 1rem !important;
        .link-a {
          color: $design-text-color;
        }
      }
      .main-header {
        line-height: 6rem;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0.3rem 0.6rem #b1b1b1, 0px 0.15rem 0.2rem #d8d8d8;
        h1 {
          color: $design-text-color;
          background-color: $design-subpg-bg;
          font-weight: 700;
          font-size: 2.3rem;
        }
      }
    }
  }
  main {
    display: grid; //trampemoji
    .subpage-wrapper {
      display: grid;
      grid-template-columns: minmax(7%, 1fr) minmax(300px, 900px) minmax(
          7%,
          1fr
        );
      .subpage-content-1 {
        grid-column: 2;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .external-link {
          color: inherit;
          opacity: 0.8;
          text-decoration: underline;
          text-decoration-color: rgb(163, 163, 163);
          transition: 0.3s;
          &:hover,
          &:active,
          &:focus {
            opacity: 1;
            text-decoration-color: rgb(0, 0, 0);
          }
        }
        .hero-image {
          width: 100%;
        }
        .normal-image {
          width: 30%;
        }
        .small-image {
          width: 19%;
        }
        // text-align
        .txt-l {
          text-align: left;
        }
        .txt-c {
          text-align: center;
        }
        .txt-r {
          text-align: right;
        }
        .www {
          font-family: $ff-tourney;
          font-weight: 200;
          text-transform: uppercase;
          font-size: 5rem;
          margin-bottom: 0.3rem;
        }
        // .w-box {
        .w-texts {
          font-family: $ff-space-grotesk;
          .w-para {
            margin-bottom: 4rem;
            margin-right: 19%;
            font-size: 1.6rem;
            @media (max-width: 768px) {
              font-size: 0.7em;
            }
          }
        }
        .info-text {
          font-family: $ff-grotesk-mono;
          padding: 0.5rem;
        }

        //MARGIN TOP
        .margin-top {
          grid-column: 1 / 4;
          grid-row: 1;
          margin: 8rem;
        }

        // HERO IMG
        #hero-outline {
          grid-column: 1 / 4;
          grid-row: 2;
          margin-bottom: 10%;
        }

        ////////////////////////
        // COLUMN 1 ////////////
        .cl-1 {
          grid-column: 1;
        }
        #why {
          grid-row: 3;
          text-align: right;
          align-self: flex-end;
          padding-bottom: 7%;
        }
        .why-text1 {
          grid-row: 4;
          text-align: right;
          align-self: flex-start;
          .w-para {
            margin-right: 0rem;
          }
        }
        #pink {
          grid-row: 5 / 7;
          grid-column: 1 /3;
          padding: 13%;
          padding-bottom: 13%;
          padding-left: 13%;
        }

        ////////////////////////
        // COLUMN 2 ///////////
        .cl-2 {
          grid-column: 2;
        }

        ////////////////////////
        // COLUMN 3 //////////
        .cl-3 {
          grid-column: 3;
        }
        #green {
          grid-column: 2/ 4;
          grid-row: 3 / 5;
          padding: 13%;
          place-self: center;
        }
        #what {
          grid-row: 5;
          align-self: flex-end;
          padding-bottom: 7%;
        }
        .what-text1 {
          align-self: flex-start;
          grid-row: 6;
        }
        picture {
          img {
            transition: 0.4s ease-out;
            will-change: transform, box-shadow;
            box-shadow: 0px 0px 2.7px -3px rgba(0, 0, 0, 0.022),
              0px 0px 6.9px -3px rgba(0, 0, 0, 0.031);
            &:hover,
            &:active,
            &:focus {
              transform: scale(1.13);
              box-shadow: 0px 0px 2.7px -3px rgba(0, 0, 0, 0.022),
                0px 0px 6.9px -3px rgba(0, 0, 0, 0.031),
                0px 0px 14.2px -3px rgba(0, 0, 0, 0.039),
                0px 0px 29.2px -3px rgba(0, 0, 0, 0.048),
                0px 0px 80px -3px rgba(0, 0, 0, 0.07);
            }
          }
          &#brainstorm {
            grid-column: 1 / 4;
            margin: 0px auto;
            width: 70%;

            margin-top: 4rem;
            img {
              filter: grayscale(97%) brightness(107%) saturate(67%);
              &:hover,
              &:active,
              &:focus {
                filter: grayscale(0%) brightness(107%) saturate(90%);
              }
            }
          }
        }

        .btn-wrapper {
          .btns {
            background: #dc3a78;
            &:hover,
            &:active,
            &:focus {
              background: #f261b1;
            }
          }
        }
      }
    }

    #trampolin-wrapper {
      #trampolineEmoji {
        opacity: 0.6;
      }
    }
    // footer
    .footer {
      z-index: 19;
      height: 29rem;
      width: 100%;
      background: #e8e8e8; //rgb(240, 240, 240);
      margin-top: 12rem;

      #footer-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:
          minmax(7%, 1fr) minmax(150px, 500px) minmax(150px, 500px)
          minmax(7%, 1fr); // 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        color: rgb(0, 0, 0);
        .footer-part {
          a {
            color: inherit;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
              text-decoration: underline;
            }
          }
        }
        .footer-l {
          grid-column: 1 /3;
          align-self: center;
          justify-self: center;
          text-align: center;
          h2 {
            text-transform: uppercase;
            font-weight: 500;
          }
          div {
            padding: 0.5rem;
          }
        }
        .footer-r {
          grid-column: 3;

          .sub-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-content: space-around;
            justify-self: end;
            text-align: right;

            div {
              padding: 1.2rem;
              font-weight: 500;
              .r-links {
                padding: 1rem;
              }
              #making-of {
                &::after {
                  content: 'the making of';
                }
                &:hover::after {
                  content: 'the Design Page';
                }
              }
              .arrow {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
