@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>👆</text></svg>") 16 0, auto;
  min-height: 100vh;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/*7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 1.8rem;
  color: #232522;
  font-family: "Recursive", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", color-emoji;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 620, "slnt" "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body ::selection {
  background-color: #fff705;
  color: black;
}

body h1 {
  font-size: calc(0.3vw + 0.4vw + 30px);
}

body .left-arrow {
  padding-top: 1rem;
  z-index: 10;
  margin: 0px;
  padding: 0rem;
  border: 0px;
  height: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@media (max-width: 768px) {
  body .left-arrow {
    top: 1rem;
  }
}

body .left-arrow .link-a {
  color: #b9cabf;
  font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 500;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3.1rem;
  transition: 0.45s;
}

@media (max-width: 768px) {
  body .left-arrow .link-a {
    font-variation-settings: "CASL" 1, "wght" 500;
  }
}

body .left-arrow .link-a:hover {
  font-variation-settings: "CASL" 0.9, "wght" 500;
  color: #b9cabf;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>👈</text></svg>") 16 0, auto;
}

body .left-arrow .link-a #left-arrow {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>👈</text></svg>") 16 0, auto;
  transition: 0.2s;
}

body .left-arrow .logo-frame {
  transition: 0.3s ease-out;
  position: relative;
  left: 4.5rem;
  top: -3.4rem;
  pointer-events: none;
}

@media (max-width: 768px) {
  body .left-arrow .logo-frame {
    display: none;
  }
}

body .left-arrow .logo-frame .logo-svg {
  width: 29px;
}

body .left-arrow .logo-frame .logo-svg .hc-logo {
  transition: 0.3s ease-out;
  fill: transparent;
}

body .left-arrow:hover .logo-frame {
  left: 5.5rem;
}

body .left-arrow:hover .logo-frame .hc-logo {
  fill: #6c5ffc;
}

body .menu-btn {
  z-index: 39;
  position: fixed;
  top: 0.5rem;
  width: 100%;
  height: 10rem;
  right: 0px;
  margin-right: 3rem;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 5rem;
}

@media (min-width: 768px) {
  body .menu-btn {
    display: none;
  }
}

body .menu-btn .menu-btn__burger::after, body .menu-btn .menu-btn__burger::before {
  content: '';
  position: absolute;
  width: 2.6rem;
  height: 0.35rem;
  border-radius: 4px;
  background-color: #232522;
  transition: all 0.4s ease-in-out;
}

body .menu-btn .menu-btn__burger::after {
  transform: translateY(-0.7rem);
}

body .menu-btn .menu-btn__burger::before {
  transform: translateY(0.7rem);
}

body .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}

body .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

body ul {
  list-style: none;
}

body a {
  color: #5f3fd5;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>🤞</text></svg>") 16 0, auto;
}

body a:active {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>✌️</text></svg>") 16 0, auto;
}

body #trampolin-wrapper {
  position: fixed;
  height: 90%;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  overflow: hidden;
}

body #trampolin-wrapper #trampolineEmoji {
  position: fixed;
  /* Fixed/sticky position */
  overflow: hidden;
  bottom: 2.3rem;
  /* Place the button at the bottom of the page */
  user-select: none;
  right: 1rem;
  z-index: 18;
  /* Make sure it does not overlap */
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  /* Some padding */
  font-size: 3.3rem;
  transition: 0.15s;
  opacity: 0.33;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
}

@media (max-width: 768px) {
  body #trampolin-wrapper #trampolineEmoji {
    bottom: 1rem;
    right: 0.6rem;
  }
}

@media (max-width: 768px) {
  body #trampolin-wrapper #trampolineEmoji {
    font-size: 2.3rem;
  }
}

body #trampolin-wrapper #trampolineEmoji:hover {
  opacity: 1;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='57%'>☝️</text></svg>") 16 0, auto;
  transform: translateY(-0.2rem);
}

body #trampolin-wrapper #trampolineEmoji:active {
  transform: translateY(0.2rem);
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #d0d5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.45s ease-out;
}

.preloader #emoji-loader,
.preloader #text-loader {
  height: 100px;
  position: absolute;
  text-align: center;
  margin: 0px auto;
}

.preloader #emoji-loader {
  font-size: 60px;
  animation: jump 2.6s infinite ease alternate;
  width: 7rem;
  height: 70px;
  transform-origin: center;
}

@keyframes jump {
  to {
    transform: translateY(0.7rem);
  }
}

.preloader #text-loader {
  font-weight: 500;
  padding-top: 10rem;
  font-family: Monaco, Consolas, 'Courier New', monospace;
  animation: variableOpacity 2s infinite linear;
  color: #4d435b;
  font-size: calc(0.3vw - 0vw + 12px);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-finish #emoji-loader {
  animation: none;
}

.preload-finish #text-loader {
  animation: none;
}

.hidden {
  display: none;
}

.anim-hidden {
  animation: animHidden 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes animHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.show {
  display: block;
}

.anim-show {
  animation: showHidden 0.4s ease-out forwards;
  display: block;
  opacity: 1;
}

@keyframes showHidden {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
  }
}

body main h1 {
  font-size: calc(0.3vw + 0.4vw + 30px);
}
