@import '../../../../../../scss/variables';
@import '../../../../../../scss/globals';
@import '../../../../../../scss/font-anim-keyframes';

article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
}

// #viewContainer
body {
  overflow-x: hidden;
  height: 100%;
  font-size: 1.8rem;
  font-variation-settings: 'MONO' 1, 'CASL' 0.1, 'wght' $font-weight-lighter;

  --bg-color: rgb(26, 21, 36);
  --text-color: #ffffff;
  background-color: var(--bg-color);
  &.section1 {
    --bg-color: #000;
    --text-color: #ffffff;
  }
  &.section2 {
    --bg-color: rgb(224, 213, 216);
    --text-color: #000;
  }
  &.section3 {
    --bg-color: #000;
    --text-color: rgb(237, 233, 126);
  }
  &.section4 {
    --bg-color: #fff;
    --text-color: rgb(245, 90, 90);
  }
  &.section5 {
    --bg-color: rgb(0, 0, 0);
    --text-color: rgb(225, 161, 219);
  }
  &.section6 {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(215, 49, 63);
  }
  &.section7 {
    --bg-color: rgb(255, 251, 0);
    --text-color: rgb(27, 218, 157);
  }
  &.section8 {
    --bg-color: rgb(44, 253, 255);
    --text-color: rgb(228, 35, 238);
  }
  &.section9 {
    --bg-color: rgb(242, 0, 255);
    --text-color: rgb(255, 255, 255);
  }
  &.section10 {
    --bg-color: rgb(227, 14, 79);
    --text-color: rgb(6, 30, 247);
  }
  &.section11 {
    --bg-color: rgb(0, 25, 250);
    --text-color: rgb(7, 247, 171);
  }
  .left-arrow {
    position: fixed;
    height: 3.5rem;
    top: 1.5rem;
    padding: 0.3rem 0rem;

    transition: 2s;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    .link-a {
      color: inherit;
      font-size: 2.2rem;
      transition: inherit;
      &:hover {
        transition: 0.3s;
        color: var(--bg-color);
      }
    }
    &:hover {
      background-color: var(--text-color);
      cursor: $cursor-pointer-hand;
    }
  }
  #header {
    position: fixed;
    right: 2.3rem;
    top: 1.2rem;
    z-index: 9;
    display: flex; // block;
    cursor: $cursor-pointer-hand;
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.4rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: 1.3rem;
      color: var(--text-color);
      border: 1px solid var(--text-color);
      background-color: var(--bg-color);
      transition: 0.2s;
      &:hover {
        background-color: var(--text-color);
        color: var(--bg-color);
      }
    }
    #whyAnalog {
    }
    #flash {
      padding-bottom: 1rem;
      margin-left: 0.7rem;
    }
    #flashInside {
      // display: hidden;
    }
  }
  // main is the pics, scrool obj and the title box
  .main {
    .info {
      position: fixed;
      bottom: 6rem;
      z-index: 9;
      width: 100%;
      // left: 2rem;
      // right: 2rem;
      // display: flex;
      // align-items: flex-end;
      // justify-content: end;
      // justify-content: space-between;
      .info-wrapper {
        width: auto; //200px
        height: auto;
        position: relative;
        .info-btn {
          z-index: 19;
          padding: 0.6rem;
          color: var(--text-color);
          border: 1px solid var(--text-color);
          background-color: var(--bg-color);

          transition: 1.5s;
          cursor: pointer;
          user-select: none;

          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: var(--text-color);
            color: var(--bg-color);
            transition: 0.5s;
          }
        }
        &#no-info-wrapper {
          position: absolute;
          left: 2rem;
          #no-info {
            height: 100%;
            font-size: 1.5rem;
            color: transparent;
            text-shadow: 0px 0px 0px var(--text-color);
            padding-left: 1.1rem;
            padding-right: 1.1rem;
            cursor: pointer;
            div {
              transition: 0.3s;
              opacity: 0.7;
              cursor: pointer;
            }
            &:hover {
              div {
                color: var(--text-color);
                opacity: 1;
              }
            }
          }
        }
        &#serious-wrapper {
          position: absolute;
          right: 1rem;

          .content-info {
            color: var(--text-color);
            border: 1px solid var(--text-color);
            background-color: var(--bg-color);

            height: 10rem; //
            width: 13rem;
            transform-origin: bottom right;
            &.clicked {
              height: 50vh;
              max-width: 80vw;
              position: relative;

              display: grid;
              overflow-y: scroll;
              #serious-info {
                content: 'Close Me';
                transition: inherit;
                position: absolute;
              }
              .box-text {
                display: block;
                opacity: 1;
                transition: 0.3s;
              }
              #header-h1 {
              }
              #header-h3 {
              }
              .paragraphs {
              }
            }
            // btn
            #serious-info {
              font-size: 1.8rem;
              padding: 0.65rem;
              padding-left: 1.2rem;
              padding-right: 1.2rem;
              // height: 4.3rem;
              &::after {
                content: ' # ... # ';
                transition: inherit;
              }
              // &.clicked {
              //   content: 'Close Me';
              //   transition: inherit;
              // }
            }
            .box-text {
              display: hidden;
              opacity: 0;
            }
            #header-h1 {
            }
            #header-h3 {
            }
            .paragraphs {
            }
          }
        }
      }
    }
    // #viewcontainer
    .panel {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--bg-color);
      color: var(--text-color);
      transition: 2s;
      overflow-x: hidden;
      cursor: $cursor-pointer-hand;
      .panel-content {
        cursor: $cursor-pointer-hand;
        margin: 2rem;
        margin-top: 12vh;
        margin-bottom: 12vh;
        padding: 1rem;
        // border: 3px solid rgba(250, 172, 109, 0.132);
        width: 66%;

        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 12vh * 2);
      }
      .horizontal-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: calc(100vh - 12vh * 2);

        // section
        .block {
          width: 100%;
          height: 100%;
          // border: 3px solid rgba(71, 200, 255, 0.084);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          .ScollView__ScrollItem {
            width: 100vmin;
            height: 100vmin;
            margin: 0rem 0vw;

            border: 3px solid rgba(129, 129, 129, 0.153);
            // background-color: rgba(198, 255, 141, 0.057);

            display: flex;
            align-items: center;
            position: relative;
            .ScrollView__Motion {
              flex: 1 0 auto;
              width: 100%;
              height: 100%;

              //a
              .ThumbnailScroll__ImgWrapper {
                width: 100%;
                color: inherit;
                background-color: transparent;
                .ThumbnailScroll__Img {
                  max-height: 100%;
                  position: absolute;
                  z-index: 5;
                  width: 100%;
                  height: 100%;
                  //don't appear this class name on the foam div
                  .ThumbnailScroll__Inner {
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    inset: 0px;
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    picture {
                      margin: 10vh 6vw 10vh 6vw; //t r b l
                      inset: 0px;
                      overflow: visible;
                      position: absolute;
                      img {
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-width: 100%;
                        margin: auto;
                        padding: 0px;
                        inset: 0px;
                        position: absolute;
                        object-fit: contain;
                        font-size: 1rem;
                        transition: 0.5s;
                      }
                    }
                    #pic-1 {
                      margin: 0vh 0vw 5vh 0vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-2 {
                      margin: 25vh 2vw 0vh 14vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-3 {
                      margin: 0vh 13vw 23vh 7vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-4 {
                      margin: 10vh 0vw 2vh 15vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-5 {
                      margin: 10vh 10vw 12vh 16vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-6 {
                      margin: 0vh 13vw 31vh 9vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-8 {
                      margin: 7vh 7vw 31vh 13vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                    #pic-10 {
                      margin: 31vh 6vw 0vh 15vw; //t r b l
                      inset: 0px;
                      position: absolute;
                    }
                  }
                }
              }
            }
          }
        }

        // this is not working
        // #sec1.block {
        //   .ScollView__ScrollItem.WorkingOn {
        //     width: 95vmin;
        //     height: 95vmin;
        //     margin: 0rem 5vw;
        //   }
        // }
      }
    }

    #footer {
      position: absolute;
      position: fixed;
      // #trampolin-wrapper {
      //   position: fixed;
      //   height: 4vh;
      //   width: 100vw;
      //   left: 0px;
      //   inset: 0px;
      //   top: 0px; // in desktop is 0px
      //   display: flex;
      //   align-items: flex-end; //start
      //   justify-content: right;
      //   overflow: hidden;
      //   #trampolineEmoji {
      //     position: fixed; /* Fixed/sticky position */
      //     overflow: hidden;
      //     bottom: 2.3rem; /* Place the button at the bottom of the page */
      //     right: 1rem;
      //     @media (max-width: 768px) {
      //       bottom: 1rem;
      //       right: 0.6rem;
      //     }
      //     text-align: center;
      //     text-decoration: none;
      //     padding: 2rem; /* Some padding */
      //     font-size: 3.3rem;
      //     @media (max-width: 768px) {
      //       font-size: 2.3rem;
      //     }
      //     transition: $trans-fast;
      //     opacity: 0.33;
      //     cursor: $cursor-pointer-hand-flip;
      //     &:hover {
      //       opacity: 1;
      //       cursor: $cursor-pointer-hand-flip;
      //       transform: translateY(-0.2rem);
      //     }
      //     &:active {
      //       transform: translateY(0.2rem);
      //     }
      //   }
      // }
    }
    .proxy {
      position: absolute;
      visibility: hidden;
    }
  }
}
